*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}
/* Start Header */

    .landing {
        /* Masukkan Gambar background */
        background: url('../Images/coffee-shop-2000x1500.jpg');
        color: white;
        top: 0;
        left: 0;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        background-position: center center;
    }

    .navbar .dropdown .navbar-active{
        color: #ad9271;
    }
    
    .landing .landing-wrapper{
        background-color: rgba(0, 0, 0, 0.7);
    }

    .landing .header-container{
        border-bottom: 1px solid #FFFFFF14;
    }

    .header-container .detail{
        display: flex;
        justify-content: center;
        padding: 10px 0px 10px 0px;
    }

    .header-container .detail i{
        color: #ad9271;
        font-size: 14px;
    }

    .header-container .detail .detail-wrapper{
        display: flex;
        justify-content: space-between;
        color: white;
        font: 12px Heebo, sans-serif;
        width: 1452px;
    }

    .open,
    .address-phone {
        padding: 0 70px 0 110px;
        display: flex;
    }

    .address-phone p{
        padding-left: 6px;
    }

    .detail-wrapper .open p{
        padding-left: 6px;
    }
    
    .address-phone .address{
        display: flex;
        align-items: center;
    }
    
    .address-phone .phone{
        display: flex;
        align-items: center;
        padding-left: 6px;
    }
    
    .address-phone .phone i{
        padding-left: 12px;
    }

    .landing .detail .open{
        padding-right: 150px;
        display: flex;
        align-items: center;
    }

    /* Start Navbar */
        .title-navbar .title-navbar-wrapper{
            justify-content: center;
            display: flex;
        }

        .title-navbar .title-navbar-wrapper .title-navbar-parent{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 12px;
            padding-bottom: 300px;
            width: 1452px;
        }

        .title img {
            width: 220px;
            height: auto;
            padding-left: 113px;
        }

        .title-navbar .title-navbar-wrapper .navbar{
            padding-right: 150px;
        }

        #uppercase{
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 12px;
        }

        .navbar .dropdown {
            position: relative;
            display: inline-block;
            padding-bottom: 7px;
            padding-left: 20px;
        }

        .navbar .dropdown:hover{
            cursor: pointer;
        }

        .navbar .dropdown a{
            text-decoration: none;
            color: white;
        }

        .navbar .dropdown a:hover{
            color: #ad9271;
            transition: 0.3s;
        }

        .navbar .dropdown span:hover{
            color: #ad9271;
            transition: 0.3s;
        }

        .navbar .dropdown i{
            font-size: 15px;
            padding-left: 8px;
        }

        .navbar .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 150px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 12px 15px;
            z-index: 1;
        }

        .navbar .dropdown-content a {
            padding: 12px 0;
            text-decoration: none;
            color: #666666;
        }

        .navbar .dropdown:hover .dropdown-content {
            display: flex;
            flex-direction: column;
            right: 0;
            left: -1px;
            top: 30px;
        }

        .burger-icon-container{
            display: none;
            position: relative;
            z-index: 9999;
            padding: 0 11px 0 0;
        }
    
        .burger-icon-container .burger-icon-wrapper{
            margin-top: 20px;
            background-color: white;
            padding: 15px;
        }
    
        .burger-icon-container .burger-icon-wrapper:hover{
            cursor: pointer;
        }
    
        .burger-icon-wrapper i{
            font-size: 19px;
            color: #AD9271;
        }

        .landing-title{
            display: flex;
            justify-content: center;
        }

        .landing-title-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1452px;
        }

        .title-pages,
        .title-pages-detail {
            padding: 20px 150px 20px 70px;
        }

        .title-pages h2 {
            padding-left: 40px;
            font-size: 30px;
            font-weight: bold;
        }

        .title-pages-detail p {
            font-family: "Heebo", sans-serif;
            font-size: 16px;
        }

        .title-pages-detail i{
            color: #ad9271;
        }
    /* End Navbar */
    #side-nav{
        position: fixed;
        top: 0;
        z-index: 9999;
        left: -110%;
        transition: left 0.9s 0.3s;
    }

    .side-nav-container{
        width: 100%;
        max-width: 360px;
        height: 100%;
        background-color: white;

    }

    #side-nav-background{
        top: 0;
        left: -110%;
        z-index: 999;
        position: fixed;
        transition: left 0.9s;
    }
    
    .side-nav-background{
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
    }

    .side-nav-wrapper .header{
        padding: 20px;
    }

    .side-nav-wrapper .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .img-header img{
        width: 150px;
    }

    .header .exit-button {
        background-color: #181818;
        padding: 8px;
        margin: 15px;
        width: 45px;
        text-align: center;
    }

    .header .exit-button:hover{
        background-color: transparent;
        border: 1px solid #181818;
        transition: 0.9s;
        color: #181818;
        cursor: pointer;
    }

    .side-nav-content .title-side-nav{
        padding: 10px 30px 15px;
    }

    .title-side-nav:hover{
        cursor: pointer;
    }

    .title-side-nav a{
        text-transform: uppercase;
        letter-spacing: 1px;

    }

    .navbar-responsive:hover .dropdown-nav-resp{
        display: block;
    }

    .title-side-nav:hover a{
        color: #AD9271;
        transition: 0.3s;
    }

    .dropdown-nav-resp a:hover{
        color: #AD9271;
        transition: 0.3s;
    }

    .navbar-responsive:hover i{
        color: #AD9271;
        transition: 0.3s;
        border: 1px solid #AD9271;
    }

    .title-side-nav a{
        text-decoration: none;
        color: #181818;
        font-size: 19px;
    }
    
    .title-side-nav i{
        color: #181818;
        margin-left: 20px;
        padding: 4px 15px;
        border: 1px solid #181818;
        border-radius: 30px;
        font-size: 9px;
    }

    .side-nav-content .dropdown-nav-resp{
        background-color: white;
        box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 10%);
        padding: 0 0 0 11px;
        display: none;
    }
    
    .dropdown-nav-resp a{
        text-decoration: none;
        color: #c2c1c1;
        font-size: 19px;
        padding: 15px;
        display: block;
    }
/* End Header */

/* About Content */
.content-container{
    display: flex;
    position: relative;
    justify-content: center;
    top: 120px;
}

.img-container .wrapper .img-wrapper{
    vertical-align: middle;
    display: inline-block;
}

.img-wrapper img{
    width: 548px;
    height: 699px;
    max-width: 100%;
}

.img-wrapper .button-video-container{
    background-color: #FFFFFF;
    width: 280px;
    height: 100px;
    position: relative;
    padding: 20px 30px 10px 30px;
    margin-top: -100px;
}

.img-wrapper .button-video-container .video-wrapper{
    background-color: #181818;
    border-radius: 50%;
    width: 54px;
    height: 54px;
}

.img-wrapper .button-video-container .video-wrapper .icon i{
    color: #FFFFFF;
    font-size: 20px;
    padding: 17px 0px 0px 21px;
}

.img-wrapper .button-video-container .contents .video-content{
    padding: 0px 80px;
    margin: 0;
  
}

.img-wrapper .button-video-container .contents .video-content h2{
    font-size: 20px;
    width: 220px;
    height: 50px;
    margin-top: -33px;
}

.kolom-deskripsi{
    background-color: #ffff;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 40px 0px 0px -60px;
    width: 550px;
    height: 463px;
    box-shadow: 0px 5px 30px 0px rgb(0 0 0 / 10%);
}

.kolom-deskripsi .deskripsi{
    padding: 60px 60px 60px 60px;
}

.kolom-deskripsi .deskripsi h2{
    color: #AD9271;
    font-size: 18px;
}

.kolom-deskripsi .deskripsi span{
    color: #000;
    display: block;
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 40px;
}

.kolom-deskripsi .deskripsi p{
    font-size: 16px;
    text-align: left;
    color: #666;
    font-family: "Heebo", sans-serif;
    line-height: 26px;
}
.btn-read {
    background: #181818;
    border: 1px solid #181818;
    padding:15px 30px 15px 30px;
    color: #ffff;
    text-transform: inherit;
    text-decoration: none;
}

a.btn-read:hover{
    background: #ffff;
    text-decoration: inherit;
    border: 1px solid #181818;
    color: #181818;
    text-transform: uppercase;
    transition: 0.3s;
}
/* End About Content */

    /*WHY CHOOSE US*/
.why-choose-us{
    background: #f8f8f8;
    height: 650px;
    margin-top: 170px;
}

.why-choose-us  .why-choose-us-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.why-choose-us  .why-choose-us-wrapper div{
    margin: 6px;
}

.choose{
    padding: 60px 60px 60px 20px;
}

.choose h2{
    font-size: 26px;
    margin-top: 120px;
}

.choose p{
    font-size: 16px;
    color: #656565;
    line-height: 26px;
    width: 319px;
    height: 96px;
}

.btn-viewall{
    background: #181818;
    border-color: #181818;
    border-style: solid;
    padding:15px 30px 15px 30px;
    color: #ffff;
    text-transform: uppercase;
    text-decoration: none;
}

a.btn-viewall:hover{
    background: #ffff;
    text-decoration: inherit;
    border: 1px solid #181818;
    color: #181818;
    text-transform: uppercase;
    transition: 0.3s;
}

/* Start card why choose */
.fast-building-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fast-building{
    padding: 20px 20px 20px 20px;
    width: 360px;
    height: 200px;
    border-color: #f5f5f5;
    border-style: solid;
    flex-wrap: wrap;
    background-color: #ffff;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);
    border: 1px solid #f5f5f5;
}

.box-body{
    width:100%;
    display: flex;
}

.fast-building .box-body h2{
    font-size: 24px;
    margin: 0;
}

.fast-building .box-body p{
    font-size: 16px;
    color: #666;
    line-height: 26px;
    font-family: 'Heebo' sans-serif;
    width: 280px;
}

.fast-building .box-body i{
    color: #AD9271;
    font-size: 40px;
    padding: 10px 15px 10px 10px;
}
/*End card why choose*/

    /* Partners */
    /* partner 1 */
.partner-container{
    position: relative;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 0%);
    bottom: 100px;
}

.partner-container .partner-wrapper{
    display: flex;
    transition: all .4s ease;
    justify-content: center;
}

.partner-container .partner-wrapper .partner-1 img {
    opacity: 0.5;
    height: 30%;
    width: 45%;
    margin-left: 120px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.partner-container .partner-wrapper .partner-1 img:hover{
    color: #181818;
    opacity: 10;
}


    /* Partner 2 */
.partner-container .partner-wrapper .partner-2 img{
    opacity: 0.5;
    height: 30%;
    width: 45%;
    margin-left: 90px;
    margin-top: 70px;
    margin-bottom: 70px;
    bottom: 400px;
}

.partner-container .partner-wrapper .partner-2 img:hover{
    color: #181818;
    opacity: 10;
}

    /* Partner 3 */
.partner-container .partner-wrapper .partner-3 img{
    opacity: 0.5;
    height: 22%;
    width: 45%;
    margin-left: 60px;
    margin-top: 80px;
    margin-bottom: 70px;
    bottom: 400px;
}

.partner-container .partner-wrapper .partner-3 img:hover{
    color: #181818;
    opacity: 10;
}

    /* Partner 4 */
.partner-container .partner-wrapper .partner-4 img{
    opacity: 0.5;
    height: 22%;
    width: 45%;
    margin-left: 30px;
    margin-top: 80px;
    margin-bottom: 60px;
    bottom: 400px;
}

.partner-container .partner-wrapper .partner-4 img:hover{
    color: #181818;
    opacity: 10;
}
/* End Partner */
    /* End Why Choose Us*/

/* content interior design */
.awward-winning{
    display: flex;
    padding-bottom: 100px;
    justify-content: center;
}

.awward-winning .awward-winning-wrapper{
    display: flex;
    align-items: center;
}

.awward-winning-wrapper .awward-winning-side{
    padding: 40px 60px 10px 10px;
}

.awward-winning-title{
    width: 570px;
    padding-left: 30px;
}

.title-awward h2{
    text-transform: uppercase;
    color: #AD9271;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 600;
}

.title-interior-design h2{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 42px;
    margin: 0;
}

.awward-winning-desc{
    width: 500px;
    margin: 0;
}

.awward-winning-desc p{
    width: 500px;
    height: auto;
    color: #666666;
    line-height: 26px;
}

.img-signmark img{
    width: 45%;
    vertical-align: middle;
    display: inline-block;
}

.img-signmark p{
    font-size: 18px;
    color: #181818;
    font-weight: 400;
}

.button-awward-container{
    margin: 53px 0 0 0;
    display: flex;
}

.button-awward-wrapper a{
    padding: 18px 32px;
    background-color: #181818;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.button-awward-wrapper a:hover{
    border: 1px solid #181818;
    color: #181818;
    background-color: transparent;
    transition: 0.3s;
}

.awward-image-container{
    padding: 10px;
}

.awward-image-container img{
    width: 550px;
    height: auto;
}

.marks-comment{
    box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 10%);
    background-color: white;
    padding: 25px;
    width: 378px;
    position: relative;
    left: 233px;
    bottom: 20px;
}

.marks-comment .text-container{
    padding-left: 20px;
    border-left: 3px solid #AD9271;
}

.marks-comment .text-container p{
    color: #666666;
    margin: 0 0 14px 0;
}
/* end content interior design */

/* Start Contact Us*/
.contactus .contactus-wrapper{
    padding: 60px 0 60px 0;
    background-color: rgb(24 24 24);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.contactus .contactus-wrapper .contactus-side{
    padding: 10px;
}

.contactus .contactus-wrapper .contactus-side h2{
    text-transform: capitalize;
    margin: 0 0 20px 0;
    font-size: 32px;
}

.contactus-wrapper .contactus-side .get-sometext{
    padding: 0 60px 0 0;
    font-size: 16px;
    color: #666666;
}

.contactus-wrapper .contactus-side .get-sometext span{
    display: block;
    color: #666666;
    font-size: 16px;
    line-height: 26px;
}

.contactus-wrapper .getstarted-button{
    margin: 20px 0 0 0;
    padding-left: 80px;
}

.contactus-wrapper .getstarted-button a{
    padding: 20px 40px 20px 40px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
}

.contactus-wrapper .getstarted-button a:hover{
    background-color: white;
    color: rgb(24 24 24);
    transition: 0.3s;
}
/* End Contact Us */

/* Footer */
footer {
    padding: 40px 55px 20px 55px;
    position: relative;
    display: flex;
    justify-content: center;
}

footer .content-row {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

footer .content-row .inner {
    display: flex;
    position: relative;
}

footer .content-row .inner-column {
    width: 33.596%;
    position: relative;
    padding: 10px 60px 10px 10px;
}

.content-row .inner-column header {
    text-align: left;
    margin-bottom: 20px;
}

.content-row .inner-column header img {
    display: inline-block;
    width: 40%;
    object-fit: cover;
}

.content-row .inner-column .desc-widget-wrap {
    margin-bottom: 20px;
}

.content-row .inner-column .desc-properties {
    color: #666666;
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}

.content-row .inner-column .contact-icon {
    width: 100%;
    position: relative;
}

.inner-column .contact-icon .social-media {
    margin-right: -5px;
    list-style-type: none;
}

.contact-icon .social-media .bg-icon {
    display: inline-block;
    margin: 5px;
}

.inner-column .about-inner-socialmedia{
    display: flex;
}

.inner-column .about-inner-socialmedia .icon a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: #181818;
    color: #ffff;
    border-radius: 50%;
    padding: 10px;
    width: 34px;
    height: 34px;
    text-decoration: none;
}

.inner-column .about-inner-socialmedia .icon a:hover{
    background-color: #ad9271;
    cursor: pointer;
    transition: 0.3s;
}

.inner-column .contact-icon .social-media .bg-icon a .icon {
    font-size: 14px;
}

footer .content-row .header-properties {
    color: var(--primary-color);
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

footer header {
    margin-bottom: 20px;
}

footer .content-row .other-pages-column {
    width: 17.193%;
    padding: 10px;
    position: relative;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
}

footer .other-pages-column li:not(:last-child) {
    padding-bottom: calc(10px/2);
}

footer .other-pages-column nav li:not(:first-child) {
    margin-top: calc(10px/2);
}

footer nav li a {
    text-decoration: none;
    color: #666666;
}

footer nav li a:hover {
    color: #ad9271;
}

footer .content-row .quick-links-column {
    width: 14.211%;
    padding: 10px;
}

footer .quick-links-column li:not(:last-child) {
    padding-bottom: calc(10px/2);
}

footer .quick-links-column nav li:not(:first-child) {
    margin-top: calc(10px/2);
}

footer .content-row .projects-column {
    width: 35%;
    position: relative;
}

footer .projects-column .content-widget-wrap {
    height: 100%;
    margin-left: 30px;
    padding: 10px;
}

.projects-column .projects-gallery {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-column .projects-gallery .gallery-item {
    width: 33.3333%;
}

.projects-gallery .gallery-item .container-img {
    padding: 5%;
    height: 70px;
    position: relative;
    transition: 0.3s;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img .overlay {
    width: 100%;
    height: 100%;
    background-color: #181818b9;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img:hover .overlay {
    opacity: 1;
}

.projects-gallery .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img:hover img {
    opacity: 0.3;
}

.projects-gallery .gallery-item .container-img:hover .overlay {
    opacity: 1;
}

footer .content-row .widget-divider {
    border-bottom: 1px solid #A0AABA2B;
    margin-bottom: 20px;
    padding: 42px 0 2px 0;
}

footer .credit {
    width: 100%;
    display: flex;
}

footer .credit .jegtheme, footer .credit .copyright {
    width: 50%;
}

.credit .desc-widget-wrap {
    padding: 10px;
}

.credit .jegtheme .desc-widget-wrap {
    text-align: left;
}

.credit .copyright .desc-widget-wrap {
    text-align: right;
}

footer .credit .desc-properties {
    font-size: 14px;
    color: #666;
}

@media (max-width: 1024px) {
    /* Start Header */
    .landing{
        width: 100%;
        height: 370px;
        top: 0;
        left: 0;
    }

    .landing .landing-wrapper{
        height: 370px;
    }

    .landing .detail .open{
        padding-right: 12px;
    }
    
    .header-container .detail .detail-wrapper{
        width: 1000px;
        display: flex;
        justify-content: space-between;
    }

    .open, 
    .address-phone{
        padding: 0 70px 0 15px;
    }

        .title img{
            padding: 0 0 0 15px;
            width: 125px;
        }

        .title-navbar .navbar{
            display: none;
        }

        .burger-icon-container{
            display: block;
        }

        .landing-title .landing-title-wrapper {
            margin-top: -190px;
        }

        .landing-title .landing-title-wrapper .title-pages{
            padding: 0;
        }

        .landing-title .landing-title-wrapper .title-pages h2{
            margin: 0;
            padding: 0 0 60px 20px;
            font-size: 40px;
        }

        .landing-title .landing-title-wrapper .title-pages-detail{
            padding: 0;
        }

        .landing-title .landing-title-wrapper .title-pages-detail p{
            margin: 0;
            padding: 0 20px 60px 0;
        }
        /* End Header */

     /* Content */
    .content-container{
        padding: 0px 10px 60px 0px;
    }

    .img-wrapper img {
        max-width: 100%;
        width: 100%;
        height: 650px;
    }

    .content-container .kolom-deskripsi {
        max-width: 100%;
        width: 500px;
        height: 459px;
    }
    /* End Content */

    /* Why Choose Us */
    .why-choose-us{
        height: 800px;
    }
    .why-choose-us .why-choose-us-wrapper{
        display: block;
        padding: 60px 10px 20px 10px;
    }

    .why-choose-us .why-choose-us-wrapper div{
        margin: 8px;
    }

    .choose-wrapper{
        width: 100%;
    }

    .choose{
        padding: 0;
        width: 100%;
    }

    .choose h2{
        margin: 0;
        font-size: 32px;
    }

    .choose p{
        padding: 0 190px 0 0;
        width: 100%;
        margin: 10px 0 0 0;
        height: 60px;
    }

    .fast-building-wrapper {
        padding: 5px 5px 5px 5px;
    }

    .fast-building{
        width: 460px;
        height: 162px;
        padding: 10px;
    }

    .fast-building .box-body p{
        width: 360px;
    }
    /* Partner */
    .partner-container{
        padding-top: 60px;
    }
    /* End Partner */

    /* Content Interior Design */
    .awward-winning-desc p{
        width: 100%;
    }
    
    .awward-image-container img{
        max-width: 100%;
        height: auto;
    }
    /* End Comment Container */

    /* Contact Us */
    .contactus .contactus-wrapper .contactus-side {
        padding: 0 210px 0 0;
    }

    .contactus-wrapper .contactus-side .get-sometext{
        width: 500px;
        padding: 0;
    }

     /* Start Footer */
     footer {
        padding: 40px 10px 20px 10px;
    }

    footer .inner, footer .inner .projects-column .projects-gallery {
        flex-wrap: wrap;
    }

    footer .inner .inner-column, footer .inner .other-pages-column, footer .inner .quick-links-column, footer .inner .projects-column, footer .inner .projects-column .projects-gallery .gallery-item {
        width: 50%;
    }

    footer .inner .projects-column .content-widget-wrap {
        margin: 20px 0 0 0;
    }
}

@media (max-width: 768px) {
     /* Start Header */
    .landing{
        width: 100%;
        height: 370px;
        top: 0;
        left: 0;
    }

    .landing .header-container{
        display: none;
    }
        .title img{
            padding: 10px 0 0 12px;
            width: 210px;
        }

        .title-navbar .navbar{
            display: none;
        }

        .landing-title-wrapper{
            display: block;
        }

        .landing-title .landing-title-wrapper .title-pages h2{
            font-size: 28px;
            padding: 0;
            text-align: center;
            padding-bottom: 20px;
        }

        .landing-title .landing-title-wrapper .title-pages-detail p{
            padding: 0;
            text-align: center;
        }
    /* End Header */

    /* Content */
    .content-container{
        flex-wrap: wrap;
        padding: 0px 0px 20px 0px;
        margin-top: -90px;
    }

    .img-wrapper img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        padding: 0 15px 15px 15px;
    }

    .img-wrapper .button-video-container{
        width: 580px;
    }

    .img-wrapper .button-video-container .contents{
        padding-left: 70px;
    }

    .content-container .kolom-deskripsi {
        width: 100%;
        height: 320px;
        text-align: center;
        justify-content: center;
        display: flex;
        margin: 0;
    }

    .content-container .kolom-deskripsi .deskripsi{
        padding: 20px 10px 10px 10px;
        max-width: 100%;
    }

    .content-container .kolom-deskripsi .deskripsi p{
        text-align: center;
        font-size: 14px;
        width: 100%;
    }
    /* End Content */

    /* Why Choose Us */
    .why-choose-us{
        height: 1000px;
    }

    .choose h2{
        text-align: center;
    }

    .choose p{
        width: 100%;
        text-align: center;
        font-size: 14px;
        padding: 0;
    }

    .fast-building-container{
        display: block;
    }
    
    .fast-building-wrapper{
        padding: 0;
    }

    .fast-building{
        width: 100%;
        height: 120px;
        padding: 10px;
    }


    .fast-building .box-body .text-container{
        width: 100%;
    }

    .fast-building .box-body h2{
        font-size: 16px;
    }

    .fast-building .box-body p{
        width: 100%;
        font-size: 14px;
    }

    /* Content Interior Design */
    .awward-winning{
        display: flex;
        justify-content: center;
    }

    .awward-winning-wrapper .awward-winning-side{
        padding: 0;
    }

    .awward-winning .title-awward{
        display: flex;
        justify-content: center;
    }
    
    .awward-winning .title-interior-design{
        display: flex;
        justify-content: center;
    }

    .title-awward h2{
        text-align: center;
    }
    
    .title-interior-design h2{
        text-align: center;
    }

    .awward-winning-desc{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .awward-image-container img{
        display: none;
    }

    .button-awward-container{
    display: block;
    }

    .img-signmark{
        display: flex;
        justify-content: center;
    }

    .img-signmark-wrapper{
        display: flex;
        justify-content: center;
    }

    .img-signmark img{
        width: 65%;
        display: flex;
        justify-content: center;
        margin-left: 100px;
    }

    .img-signmark p{
        text-align: center;
    }

    .button-awward-container{
        margin: 0;
    }

    .button-awward-wrapper{
        display: flex;
        justify-content: center;
    }

    .button-awward-container .marks-comment{
        width: 100%;
        display: flex;
        justify-content: center;
        top: 50px;
        left: 12px;
    }
    /* End Content Interior Design */

    /* Contact Us */
    .contactus .contactus-wrapper{
        flex-wrap: wrap;
        text-align: center;
    }

    .contactus .contactus-wrapper .contactus-side{
        padding: 0;
    }

    .contactus .contactus-wrapper .contactus-side h2{
        font-size: 24px;
    }

    .contactus-wrapper .contactus-side .get-sometext{
        padding: 0;
        font-size: 14px;
        width: 100%;
    }

    .contactus-wrapper .getstarted-button{
        padding-top: 20px;
    }

    .contactus-wrapper .getstarted-button a{
        padding: 15px 25px 15px 25px;
    }

    /* Start Footer */
    footer {
        padding: 0 10px;
    }

    footer .inner {
        flex-wrap: wrap;
    }

    footer .inner .inner-column {
        padding-top: 0;
        margin-top: 25px;
    }

    footer .inner .inner-column, footer .inner .other-pages-column, footer .inner .quick-links-column, footer .inner .projects-column {
        width: 100%;
    }

    .inner .inner-column .desc-properties {
        font-size: 14px;
    }

    .projects-gallery .gallery-item .container-img {
        height: 120px;
    }

    .inner .projects-column .content-widget-wrap .projects-gallery {
        flex-wrap: wrap;
    }

    .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item {
        width: 50%;
    }

    /* Credit Section */
    footer .credit {
        flex-wrap: wrap;
    }

    footer .credit .jegtheme, footer .credit .copyright {
        width: 100%;
    }

    footer .credit .jegtheme .desc-widget-wrap, footer .credit .copyright .desc-widget-wrap {
        text-align: center;
        padding: 10px;
    }
}