* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #181818;
    --secondary-color: #666;
    --other-color: #ad9271;
}

/* Start Header */

.landing {
    /* Masukkan Gambar background */
    background: url('../images/stair-and-chair-2000x1500.jpg');
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.landing .header-container{
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    width: 100%;
    height: -webkit-fill-available;
}

.landing .header-container .detail{
    border-bottom: 1px solid #696969;
    display: flex;
    justify-content: center;
}

.header-container .detail{
    display: flex;
    justify-content: center;
}

.header-container .detail i{
    color: #ad9271;
}

.header-container .detail .detail-wrapper{
    display: flex;
    justify-content: space-between;
    color: white;
    font: 12px Heebo, sans-serif;
    width: 1452px;
}

.address-phone {
    padding: 0 70px 0 110px;
    display: flex;
}

.address-phone p{
    padding-left: 6px;
}

.detail-wrapper .open p{
    padding-left: 6px;
}

.address-phone .address{
    display: flex;
    align-items: center;
}

.address-phone .phone{
    display: flex;
    align-items: center;
}

.address-phone .phone i{
    padding-left: 6px;
}

.landing .detail .open{
    padding-right: 150px;
    display: flex;
    align-items: center;
}

/* Start Navbar */
    .title-navbar .title-navbar-wrapper{
        justify-content: center;
        display: flex;
    }

    .title-navbar .title-navbar-wrapper .title-navbar-parent{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
        padding-bottom: 300px;
        width: 1452px;
    }

    .title img {
        width: 200px;
        height: auto;
        padding-left: 113px;
        padding-bottom: 7px;
    }

    .title-navbar .title-navbar-wrapper .navbar{
        padding-right: 150px;
    }

    #uppercase{
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
    }

    .navbar .dropdown {
        position: relative;
        display: inline-block;
        padding-bottom: 7px;
        padding-left: 20px;
    }

    .navbar .dropdown:hover{
        cursor: pointer;
    }

    .navbar .dropdown a{
        text-decoration: none;
        color: white;
    }

    .dropdown i{
        font-size: 12px;
        color: white;
    }

    .navbar .dropdown:hover{
        color: #ad9271;
        transition: 0.3s;
    }

    .navbar .dropdown:hover i{
        color: #ad9271;
        transition: 0.3s;
    }

    .navbar .dropdown span:hover{
        color: #ad9271;
        transition: 0.3s;
    }
    
    .navbar .dropdown a:hover{
        color: #ad9271;
        transition: 0.3s;
    }

    .navbar .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
        top: 12px;
    }

    .navbar .dropdown-content a{
        padding: 12px 0;
        text-decoration: none;
        color: #666666;
    }

    .navbar .dropdown:hover .dropdown-content{
        display: flex;
        flex-direction: column;
        right: 0;
        left: -1px;
        top: 30px;
    }

    .landing-title{
        display: flex;
        justify-content: center;
    }

    .landing-title-wrapper{
        width: 1452px;
    }

    .landing-title-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title-pages,
    .title-pages-detail {
        padding: 20px 150px 20px 70px;
    }

    .title-pages h2 {
        padding-left: 40px;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .title-pages-detail p {
        font-family: Heebo, sans-serif;
        font-size: 16px;
    }

    .title-pages-detail i{
        color: #ad9271;
    }
/* End Navbar */
/* End Header */

/* Global Class */
.container-padding-default {
    padding: 100px 0 40px 0;
    position: relative;
}

.width-fixed-content {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    position: relative;
}

.content-row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title-properties {
    color: var(--primary-color);
    font-family: "Lato", Sans-serif;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.desc-properties {
    color: var(--secondary-color);
    font-family: "Heebo", Sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 26px;
}

/* End Global Class */

/* Main */

/* Location Detail */
.body-content {
    width: 50%;
    display: flex;
}

.body-content .widget-content {
    width: 100%;
    padding: 10px 0 10px 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.body-content header {
    margin-bottom: 20px;
    text-align: left;
}

.body-content .description-widget-wrap {
    padding: 0;
    margin-bottom: 20px;
}

.body-content .widget-content .loc-detail {
    width: 100%;
    display: flex;
}

.widget-content .loc-detail .first-location, .widget-content .loc-detail .second-location {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.body-content .location {
    margin-bottom: 20px;
}

main .contact-and-loc .body-content .loc-detail .location .desc-properties {
    color: var(--primary-color);
    font-family: "Lato", Sans-serif;
    font-size: 20px;
    font-weight: 400;
}

main .contact-and-loc .loc-detail .first-location .detail {
    margin-bottom: 20px;
}

.icon-list-items {
    list-style-type: none;
}

.icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.icon-list-item:not(:first-child) {
    padding-top: calc(10px/2);
}

.icon-list-item:hover .icon-list-text {
    color: var(--other-color);
}

.detail .icon-list-icon {
    color: var(--other-color);
}

.icon-list-items .icon-list-text {
    padding-left: 5px;
}

/* Contact Form */
.contact-form {
    width: 50%;
    z-index: 2;
}

.contact-form .column-wrap {
    background-color: #fff;
    margin: 0 0 -180px 20px;
    box-shadow: 0px 5px 20px 0px #0000001a;
}

.contact-form form {
    padding: 60px;
}

.contact-form form p {
    text-align: left;
}

.contact-form input {
    width: 100%;
    padding: 6px 12px 6px 30px;
    border: 1px solid #e7e7e7;
    height: 50px;
    color: #666666;
    margin-top: 20px;
    outline: none;
}

.contact-form input:hover{
    border: 1px solid black;
    transition: 0.3s;
}

.contact-form input:focus{
    border: 1px solid black;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    font-size: 14px;
    color: #666666;
    font-family: "Lato", sans-serif;
}

.contact-form textarea {
    padding: 15px 12px 6px 30px;
    width: 100%;
    height: 176px;
    margin-top: 20px;
    border: 1px solid #e7e7e7;
    outline: none;
}

.contact-form textarea:hover{
    border: 1px solid black;
    transition: 0.3s;
}

.contact-form textarea:focus{
    border: 1px solid black;

}

.contact-form input[type="submit"] {
    width: fit-content;
    font-family: "Heebo", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    padding: 18px 32px;
    color: #ffffff;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: 0.5s;
}

.contact-form input[type="submit"]:hover {
    cursor: pointer;
    background-color: #fff;
    color: var(--primary-color);
}

/* Map Location */
.map-location iframe {
    max-width: 100%;
    width: 100%;
    height: 450px;
    filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(360deg);
}

/* End map location */

/* Responsive Web Design */

/* For Mobile */
@media (max-width: 767px) {
    /* Global Class */
    .container-padding-default {
        padding: 40px 10px 0px 10px;
    }

    .width-fixed-content {
        max-width: 767px;
    }

    .desc-properties {
        font-size: 14px;
    }

    .title-properties {
        text-align: center;
        font-size: 24px;
    }

    .content-row {
        flex-wrap: wrap;
    }
    /* End Global Class */

    /* Main */
    main .contact-and-loc .content-row .body-content, main .contact-and-loc .content-row .contact-form {
        width: 100%;
    }

    main .contact-and-loc .content-row .contact-form .column-wrap {
        margin-left: 0;
    }

    main .contact-and-loc .widget-content header, main .contact-and-loc .widget-content .description-widget-wrap {
        text-align: center;
    }

    main .contact-and-loc .body-content .loc-detail {
        flex-wrap: wrap;
    }

    main .contact-and-loc .body-content .loc-detail .first-location, main .contact-and-loc .body-content .loc-detail .first-location {
        width: 100%;
    }

    main .contact-and-loc .content-row .contact-form .column-wrap {
        margin: 20px 0 -40px 0;
    }

    /* End main */
}
/* End Mobile */

/* For Tablet */
@media (max-width: 1024px) and (min-width: 768px) {
    /* Global Class */
    .container-padding-default {
        padding: 60px 10px 40px 10px;
    }
    /* End Global Class */
}
/* End Tablet */

/* End Responsive Web Design */

/* End Main */

/* Footer */
footer {
    padding: 40px 0 20px 0;
    position: relative;
}

footer .content-row {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

footer .content-row .inner {
    display: flex;
    position: relative;
}

footer .content-row .inner-column {
    width: 33.596%;
    position: relative;
    padding: 10px 60px 10px 10px;
}

.content-row .inner-column header {
    text-align: left;
    margin-bottom: 20px;
}

.content-row .inner-column header img {
    display: inline-block;
    width: 40%;
    object-fit: cover;
}

.content-row .inner-column .desc-widget-wrap {
    margin-bottom: 20px;
}

.content-row .inner-column .contact-icon {
    width: 100%;
    position: relative;
}

.inner-column .contact-icon .social-media {
    margin-right: -5px;
    list-style-type: none;
}

.contact-icon .social-media .bg-icon {
    display: inline-block;
    margin: 5px;
}

.inner-column .contact-icon .social-media .bg-icon a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 50% 50% 50% 50%;
    width: 34px;
    line-height: 32px;
    color: #FFFFFF;
    background-color: var(--primary-color);
}

.inner-column .contact-icon .social-media .bg-icon a .icon {
    font-size: 14px;
}

footer .content-row .header-properties {
    color: var(--primary-color);
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

footer header {
    margin-bottom: 20px;
}

footer .content-row .other-pages-column {
    width: 17.193%;
    padding: 10px;
    position: relative;
}

footer nav ul {
    list-style-type: none;
}

footer .other-pages-column li:not(:last-child) {
    padding-bottom: calc(10px/2);
}

footer .other-pages-column nav li:not(:first-child) {
    margin-top: calc(10px/2);
}

footer nav li a {
    text-decoration: none;
}

footer nav li a:hover {
    color: var(--other-color);
}

footer .content-row .quick-links-column {
    width: 14.211%;
    padding: 10px;
}

footer .quick-links-column li:not(:last-child) {
    padding-bottom: calc(10px/2);
}

footer .quick-links-column nav li:not(:first-child) {
    margin-top: calc(10px/2);
}

footer .content-row .projects-column {
    width: 35%;
    position: relative;
}

footer .projects-column .content-widget-wrap {
    height: 100%;
    margin-left: 30px;
    padding: 10px;
}

.projects-column .projects-gallery {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-column .projects-gallery .gallery-item {
    width: 33.3333%;
}

.projects-gallery .gallery-item .container-img {
    padding: 5%;
    height: 70px;
    position: relative;
    transition: 0.3s;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img .overlay {
    width: 100%;
    height: 100%;
    background-color: #181818b9;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img:hover .overlay {
    opacity: 1;
}

.projects-gallery .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img:hover img {
    opacity: 0.3;
}

.projects-gallery .gallery-item .container-img:hover .overlay {
    opacity: 1;
}

footer .content-row .widget-divider {
    border-bottom: 1px solid #A0AABA2B;
    margin-bottom: 20px;
    padding: 42px 0 2px 0;
}

footer .credit {
    width: 100%;
    display: flex;
}

footer .credit .jegtheme, footer .credit .copyright {
    width: 50%;
}

.credit .desc-widget-wrap {
    padding: 10px;
}

.credit .jegtheme .desc-widget-wrap {
    text-align: left;
}

.credit .copyright .desc-widget-wrap {
    text-align: right;
}

footer .credit .desc-properties {
    font-size: 14px;
}

/* Responsive Web Design */

/* For Mobile */
@media (max-width: 767px) {
    footer {
        padding: 0 10px;
    }

    footer .inner {
        flex-wrap: wrap;
    }

    footer .inner .inner-column {
        padding-top: 0;
        margin-top: 25px;
    }

    footer .inner .inner-column, footer .inner .other-pages-column, footer .inner .quick-links-column, footer .inner .projects-column {
        width: 100%;
    }

    .inner .inner-column .desc-properties {
        font-size: 14px;
    }

    .inner .projects-column .content-widget-wrap {
        margin: 0;
    }

    .inner .projects-column .content-widget-wrap .projects-gallery {
        flex-wrap: wrap;
    }

    .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item {
        width: 50%;
    }

    /* .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img {
        height: 70px;
    } */

    /* .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    } */

    /* Credit Section */
    footer .credit {
        flex-wrap: wrap;
    }

    footer .credit .jegtheme, footer .credit .copyright {
        width: 100%;
    }

    footer .credit .jegtheme .desc-widget-wrap, footer .credit .copyright .desc-widget-wrap {
        text-align: center;
        padding: 10px;
    }
}
/* End Mobile */

/* For Tablet */
@media (max-width: 1024px) and (min-width: 768px) {
    footer {
        padding: 40px 10px 20px 10px;
    }

    footer .inner, footer .inner .projects-column .projects-gallery {
        flex-wrap: wrap;
    }

    footer .inner .inner-column, footer .inner .other-pages-column, footer .inner .quick-links-column, footer .inner .projects-column, footer .inner .projects-column .projects-gallery .gallery-item {
        width: 50%;
    }

    footer .inner .projects-column .content-widget-wrap {
        margin: 20px 0 0 0;
    }
}
/* End Tablet */

/* End Responsive Web Design */

/* End Footer */