* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root {
    --primary-color: #181818;
    --secondary-color: #666;
    --other-color: #ad9271;
}

a {
    text-decoration: none;
}

/* Global Class */
.container-padding-default {
    padding: 100px 0 40px 0;
    position: relative;
}

.width-fixed-content {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    position: relative;
}

.content-row {
    width: 100%;
    display: flex;
    position: relative;
}

.title-properties {
    color: var(--primary-color);
    font-family: "Lato", Sans-serif;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.desc-properties {
    color: var(--secondary-color);
    font-family: "Heebo", Sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 26px;
}

/* End Global Class */

/* Header */
.header {
    background-color: var(--secondary-color);
    z-index: 99;
    position: relative;
}

.header .information-detail {
    padding: 10px 0;
    border-bottom: 1px solid #FFFFFF14;
    z-index: 2;
    position: relative;
}

.information-detail .content-row .first-row {
    width: 50%;
    position: relative;
    min-height: 1px;
}

.information-detail .row-wrap {
    width: 100%;
    position: relative;
    display: flex;
    padding: 10px;
}

.information-detail .icon-list-items {
    display: flex;
    margin: 0 -8px;
}

.information-detail .icon-list-items .fa-solid {
    color: var(--other-color);
}

.information-detail .icon-list-item {
    display: flex;
    margin: 0 8px;
}

.information-detail .icon-list-text {
    padding-left: 5px;
    font-family: "Heebo", Sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.5px;
}

.information-detail .content-row .second-row {
    width: 50%;
    position: relative;
    min-height: 1px;
}

.information-detail .second-row .row-wrap {
    justify-content: right;
}

/* End Header */

/* Main */

/* Contact Form */
.contact-form {
    width: 50%;
}

.contact-form .column-wrap {
    background-color: #fff;
    box-shadow: 0px 5px 20px 0px #0000001a;
    margin-right: 20px;
}

.contact-form form {
    padding: 60px;
}

.contact-form form p {
    text-align: left;
}

.contact-form input {
    width: 100%;
    padding: 6px 12px 6px 30px;
    border: 1px solid #e7e7e7;
    height: 50px;
    color: #666666;
    margin-top: 20px;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    font-size: 14px;
    color: #666666;
    font-family: "Lato", sans-serif;
}

.contact-form textarea {
    padding: 15px 12px 6px 30px;
    width: 100%;
    height: 176px;
    margin-top: 20px;
    border: 1px solid #e7e7e7;
}

.contact-form input[type="submit"] {
    width: fit-content;
    font-family: "Heebo", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    padding: 18px 32px;
    color: #ffffff;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: 0.5s;
}

.contact-form input[type="submit"]:hover {
    cursor: pointer;
    background-color: #fff;
    color: var(--primary-color);
}

/* End Contact Form */

/* Location Detail */
.content-loc-detail {
    width: 50%;
    display: flex;
}

.content-loc-detail .column-wrap {
    padding: 10px 0px 0px 10px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.content-loc-detail header {
    margin-bottom: 20px;
    text-align: left;
}

.content-loc-detail header h2 {
    color: var(--primary-color);
    font-family: "Lato", Sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content-loc-detail .desc-widget-wrap {
    padding: 0;
    margin-bottom: 20px;
}

.content-loc-detail .desc-properties {
    color: var(--secondary-color);
    text-align: left;
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}

/* End Location Detail */

/* Google Maps Location */
.content-loc-detail .map-location {
    margin-bottom: 20px;
}

.map-location iframe {
    max-width: 100%;
    width: 100%;
    height: 300px;
    filter: brightness(100%) contrast(100%) saturate(0%) blur(0) hue-rotate(360deg);
}

/* End Google Maps Location */

.content-loc-detail .column-wrap .loc-detail {
    width: 100%;
    display: flex;
}

.content-loc-detail .loc-detail .first-location, .content-loc-detail .loc-detail .second-location {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-loc-detail .location {
    margin-bottom: 20px;
}

.loc-detail .location .desc-properties {
    color: var(--primary-color);
    font-family: "Lato", Sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.loc-detail .first-location .detail {
    margin-bottom: 20px;
}

.loc-detail .icon-list-items {
    list-style-type: none;
}

.loc-detail .icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.loc-detail .icon-list-item:not(:first-child) {
    padding-top: calc(10px/2);
}

.loc-detail .icon-list-item:hover .icon-list-text {
    color: var(--other-color);
}

.loc-detail .detail .icon-list-icon {
    color: var(--other-color);
}

.loc-detail .icon-list-items .icon-list-text {
    padding-left: 5px;
}

/* End Location Detail */

/* Responsive Web Design */

/* For Mobile */
@media (max-width: 767px) {
    .container-padding-default {
        padding: 40px 20px;
    }

    .width-fixed-content {
        max-width: 767px;
    }

    .desc-widget-wrap .desc-properties {
        font-size: 14px;
    }

    .title-properties {
        font-size: 24px;
    }

    .content-row {
        flex-wrap: wrap;
    }

    .content-row .contact-form, .content-row .content-loc-detail {
        width: 100%;
    }

    .content-row .column-wrap {
        margin: 0;
    }

    main .content-loc-detail .column-wrap {
        margin-top: 40px;
        width: 100%;
    }

    .content-loc-detail .column-wrap header {
        text-align: center;
    }

    .content-loc-detail .column-wrap header h2 {
        font-size: 24px;
    }

    .content-loc-detail .desc-widget-wrap .desc-properties {
        text-align: center;
    }

    .content-loc-detail .column-wrap .loc-detail {
        flex-direction: column;
        margin-top: 20px;
    }

    .loc-detail .location .desc-properties {
        font-size: 18px;
    }

    .loc-detail .detail .icon-list-text {
        font-size: 14px;
    }
}

/* End Mobile */

/* For Tablet */
@media (max-width: 1024px) and (min-width: 768px) {
    .contact-and-loc .content-row {
        flex-wrap: wrap;
    }

    .contact-and-loc .content-row .contact-form, .contact-and-loc .content-row .content-loc-detail {
        width: 100%;
    }

    .contact-and-loc .content-row .column-wrap {
        width: 100%;
        margin: 0;
    }

    .contact-and-loc .content-row .content-loc-detail .column-wrap {
        margin-top: 40px;
    }
}

/* End Tablet */

/* End Responsive Web Design */

/* Start Get Started */
.inner-interest {
    padding: 60px 0;
    background-color: #181818;
}

.inner-interest .content-row .body-content {
    display: flex;
    position: relative;
    min-height: 1px;
    padding: 10px;
    width: 52.193%;
    flex-wrap: wrap;
}

.inner-interest .content-row .body-content header {
    width: 100%;
    margin-bottom: 20px;
}

.inner-interest .body-content .title-properties {
    text-transform: capitalize;
    font-family: "Heebo", Sans-serif;
    color: #ffffff;
    letter-spacing: 0;
}

.inner-interest .content-row .contact-btn {
    width: 47.763%;
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.inner-interest .contact-btn .btn-wrapper {
    text-align: right;
    width: 100%;
    background-color: #ffffff00;
    border-width: 0;
    position: relative;
}

.inner-interest .contact-btn .btn-wrapper a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.2px;
    padding: 20px 40px;
    border: 1px solid #fff;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.inner-interest .contact-btn .btn-wrapper a:hover {
    color: var(--primary-color);
    background-color: #fff;
}

/* Responsive Web Design */

/* For Mobile */
@media (max-width: 767px) {
    .inner-interest {
        padding: 40px 10px;
        display: flex;
    }

    .inner-interest .content-row .body-content, .inner-interest .content-row .contact-btn, .inner-interest .contact-btn button {
        width: 100%;
    }

    .inner-interest .content-row .body-content, .inner-interest .contact-btn .btn-wrapper, .inner-interest .contact-btn button {
        text-align: center;
    }
}

/* End Mobile */

/* For Tablet */
@media (max-width: 1024px) and (min-width: 768px) {
    .container-padding-default {
        padding: 40px 10px;
    }

    .width-fixed-content {
        max-width: 1024px;
    }

    .inner-interest .content-row .body-content {
        width: 60%;
    }

    .inner-interest .content-row .contact-btn {
        width: 40%;
    }

    .inner-interest .contact-btn .btn-wrapper {
        text-align: center;
    }
}

/* End Tablet */

/* End Responsive Web Design */

/* End Get Started */

/* Footer */
footer {
    padding: 40px 0 20px 0;
    position: relative;
}

footer .content-row {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

footer .content-row .inner {
    display: flex;
    position: relative;
}

footer .content-row .inner-column {
    width: 33.596%;
    position: relative;
    padding: 10px 60px 10px 10px;
}

.content-row .inner-column header {
    text-align: left;
    margin-bottom: 20px;
}

.content-row .inner-column header img {
    display: inline-block;
    width: 40%;
    object-fit: cover;
}

.content-row .inner-column .desc-widget-wrap {
    margin-bottom: 20px;
}

.content-row .inner-column .desc-properties {
    color: var(--secondary-color);
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}

.content-row .inner-column .contact-icon {
    width: 100%;
    position: relative;
}

.inner-column .contact-icon .social-media {
    margin-right: -5px;
    list-style-type: none;
}

.contact-icon .social-media .bg-icon {
    display: inline-block;
    margin: 5px;
}

.inner-column .contact-icon .social-media .bg-icon a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 50% 50% 50% 50%;
    width: 34px;
    line-height: 32px;
    color: #FFFFFF;
    background-color: var(--primary-color);
}

.inner-column .contact-icon .social-media .bg-icon a .icon {
    font-size: 14px;
}

footer .content-row .header-properties {
    color: var(--primary-color);
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

footer header {
    margin-bottom: 20px;
}

footer .content-row .other-pages-column {
    width: 17.193%;
    padding: 10px;
    position: relative;
}

footer nav ul {
    list-style-type: none;
}

footer .other-pages-column li:not(:last-child) {
    padding-bottom: calc(10px/2);
}

footer .other-pages-column nav li:not(:first-child) {
    margin-top: calc(10px/2);
}

footer nav li a {
    text-decoration: none;
}

footer nav li a:hover {
    color: var(--other-color);
}

footer .content-row .quick-links-column {
    width: 14.211%;
    padding: 10px;
}

footer .quick-links-column li:not(:last-child) {
    padding-bottom: calc(10px/2);
}

footer .quick-links-column nav li:not(:first-child) {
    margin-top: calc(10px/2);
}

footer .content-row .projects-column {
    width: 35%;
    position: relative;
}

footer .projects-column .content-widget-wrap {
    height: 100%;
    margin-left: 30px;
    padding: 10px;
}

.projects-column .projects-gallery {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-column .projects-gallery .gallery-item {
    width: 33.3333%;
}

.projects-gallery .gallery-item .container-img {
    padding: 5%;
    height: 70px;
    position: relative;
    transition: 0.3s;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img .overlay {
    width: 100%;
    height: 100%;
    background-color: #181818b9;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img:hover .overlay {
    opacity: 1;
}

.projects-gallery .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img:hover img {
    opacity: 0.3;
}

.projects-gallery .gallery-item .container-img:hover .overlay {
    opacity: 1;
}

footer .content-row .widget-divider {
    border-bottom: 1px solid #A0AABA2B;
    margin-bottom: 20px;
    padding: 42px 0 2px 0;
}

footer .credit {
    width: 100%;
    display: flex;
}

footer .credit .jegtheme, footer .credit .copyright {
    width: 50%;
}

.credit .desc-widget-wrap {
    padding: 10px;
}

.credit .jegtheme .desc-widget-wrap {
    text-align: left;
}

.credit .copyright .desc-widget-wrap {
    text-align: right;
}

footer .credit .desc-properties {
    font-size: 14px;
}

/* Responsive Web Design */

/* For Mobile */
@media (max-width: 767px) {
    footer {
        padding: 0 10px;
    }

    footer .inner {
        flex-wrap: wrap;
    }

    footer .inner .inner-column {
        padding-top: 0;
        margin-top: 25px;
    }

    footer .inner .inner-column, footer .inner .other-pages-column, footer .inner .quick-links-column, footer .inner .projects-column {
        width: 100%;
    }

    .inner .inner-column .desc-properties {
        font-size: 14px;
    }

    .inner .projects-column .content-widget-wrap {
        margin: 0;
    }

    .inner .projects-column .content-widget-wrap .projects-gallery {
        flex-wrap: wrap;
    }

    .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item {
        width: 50%;
    }

    /* .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img {
        height: 70px;
    } */

    /* .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    } */

    /* Credit Section */
    footer .credit {
        flex-wrap: wrap;
    }

    footer .credit .jegtheme, footer .credit .copyright {
        width: 100%;
    }

    footer .credit .jegtheme .desc-widget-wrap, footer .credit .copyright .desc-widget-wrap {
        text-align: center;
        padding: 10px;
    }
}

/* End Mobile */

/* For Tablet */
@media (max-width: 1024px) and (min-width: 768px) {
    footer {
        padding: 40px 10px 20px 10px;
    }

    footer .inner, footer .inner .projects-column .projects-gallery {
        flex-wrap: wrap;
    }

    footer .inner .inner-column, footer .inner .other-pages-column, footer .inner .quick-links-column, footer .inner .projects-column, footer .inner .projects-column .projects-gallery .gallery-item {
        width: 50%;
    }

    footer .inner .projects-column .content-widget-wrap {
        margin: 20px 0 0 0;
    }
}

/* End Tablet */

/* End Responsive Web Design */

/* End Footer */