body{
    padding: 0;
    margin: 0;
}

*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

/* Start Header */

.landing {
    /* Masukkan Gambar background */
    background-image: url('../images/modern-living-room-3-1920x1441.jpg');
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.landing .header-parent{
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    width: 100%;
    height: 900px;
}

/* Start Navbar */
    .title-navbar .title-navbar-wrapper{
        background-color: #181818;
        margin-bottom: 200px;
    }
    
    .title-navbar .title-navbar-wrapper .title-navbar-parent{
        display: flex;
        justify-content: center;
    }
    
    .title-navbar-wrapper .title-navbar-parent .title-navbar-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 12px;
        width: 1452px;
    }
    
    .title img {
        width: 200px;
        height: auto;
        padding-bottom: 14px;
        padding-left: 113px;
    }
    
    .title-navbar .title-navbar-wrapper .navbar{
        padding-right: 150px;
        font-size: 12px;
    }
    
    #uppercase{
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
    }
    
    .navbar .dropdown {
        position: relative;
        display: inline-block;
        padding-left: 20px;
        padding-bottom: 10px;
        font-size: 12px;
        font-family: 'Heebo', sans-serif;
    }

    .navbar .dropdown:hover{
        cursor: pointer;
    }
    
    .navbar .dropdown a{
        text-decoration: none;
        color: white;
    }
    
    .navbar .dropdown a:hover{
        color: #ad9271;
        transition: 0.3s;
    }
    
    .navbar .dropdown:hover{
        color: #ad9271;
        transition: 0.3s;
    }
    
    .navbar .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
    }
    
    .navbar .dropdown-content a {
        padding: 12px 0;
        text-decoration: none;
        color: #666666;
    }

    .navbar .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
        right: 0;
        left: -1px;
        top: 30px;
    }

    .burger-icon-container{
        display: none;
        position: relative;
        z-index: 9999;
        padding: 0 11px 0 0;
    }

    .burger-icon-container .burger-icon-wrapper{
        background-color: white;
        padding: 20px;
    }

    .burger-icon-container .burger-icon-wrapper:hover{
        cursor: pointer;
    }

    .burger-icon-wrapper i{
        font-size: 19px;
        color: #AD9271;
    }

    #side-nav{
        position: fixed;
        top: 0;
        z-index: 9999;
        left: -110%;
        transition: left 0.9s 0.3s;
    }

    .side-nav-container{
        width: 100%;
        max-width: 360px;
        height: 100%;
        background-color: white;

    }

    #side-nav-background{
        top: 0;
        left: -110%;
        z-index: 999;
        position: fixed;
        transition: left 0.9s;
    }
    
    .side-nav-background{
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
    }

    .side-nav-wrapper .header{
        padding: 20px;
    }

    .side-nav-wrapper .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .img-header img{
        width: 150px;
    }

    .header .exit-button {
        background-color: #181818;
        padding: 8px;
        margin: 15px;
        width: 45px;
        text-align: center;
    }

    .header .exit-button:hover{
        background-color: transparent;
        border: 1px solid #181818;
        transition: 0.3s;
        color: #181818;
        cursor: pointer;
    }

    .side-nav-content .title-side-nav{
        padding: 10px 30px 15px;
    }

    .title-side-nav:hover{
        cursor: pointer;
    }

    .title-side-nav a{
        text-transform: uppercase;
        letter-spacing: 1px;

    }

    .navbar-responsive:hover .dropdown-nav-resp{
        display: block;
    }

    .title-side-nav:hover a{
        color: #AD9271;
        transition: 0.3s;
    }

    .dropdown-nav-resp a:hover{
        color: #AD9271;
        transition: 0.3s;
    }

    .navbar-responsive:hover i{
        color: #AD9271;
        transition: 0.3s;
        border: 1px solid #AD9271;
    }

    .title-side-nav a{
        text-decoration: none;
        color: #181818;
        font-size: 19px;
    }
    
    .title-side-nav i{
        color: #181818;
        margin-left: 20px;
        padding: 4px 15px;
        border: 1px solid #181818;
        border-radius: 30px;
        font-size: 9px;
    }

    .side-nav-content .dropdown-nav-resp{
        background-color: white;
        box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 10%);
        padding: 0 0 0 11px;
        display: none;
    }
    
    .dropdown-nav-resp a{
        text-decoration: none;
        color: #c2c1c1;
        font-size: 19px;
        padding: 15px;
        display: block;
    }
    
    .landing-title .landing-title-container{
        display: flex;
        justify-content: center;
    }
    
    .landing-title-wrapper{
        width: 1452px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .landing-title-wrapper .landing-title-sometext{
        padding-left: 113px;
    }

    .landing-title-wrapper .landing-title-sometext .view-portofolio{
        margin-top: 37px;
    }

    .landing-title-wrapper .landing-title-sometext a{
        text-transform: uppercase;
        font-size: 14px;
        font-family: 400;
        font-family: 'Heebo', sans-serif;
        border: 1px solid white;
        letter-spacing: 1.2px;
        text-decoration: none;
        color: white;
        padding: 20px 40px 20px 40px;
    }

    .landing-title-wrapper .landing-title-sometext .view-portofolio a:hover{
        background-color: white;
        color: #181818;
        transition: 0.3s;
    }

    .landing-title-wrapper .video-player-button{
        padding-right: 300px;
    }
    
    .landing-title-wrapper .video-player-button i{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px ;
        height: 50px;
        padding: 50px;
        font-size: 32px;
        background-color: #181818;
        border-radius: 50%;
    }
    
    .landing-title-wrapper .video-player-button i:hover{
        cursor: pointer;
    }

    .landing-title-wrapper h2{
        font-size: 56px;
        text-transform: uppercase;
        letter-spacing: 1px;
        width: 577px;
        height: 145px;
    }

    .landing-title-wrapper p{
        width: 517px;
        height: 48px;
        font-size: 16px;
        font-family: 'Heebo', sans-serif;
    }

    .title-pages,
    .title-pages-detail {
        padding: 20px 150px 20px 70px;
    }

    .title-pages h2 {
        padding-left: 40px;
        font-size: 30px;
        font-weight: bold;
    }

    .title-pages-detail p {
        font-family: Heebo, sans-serif;
        font-size: 16px;
    }
/* End Navbar */
/* End Header */

/* Star Our Advantage */
    .our-advantage{
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 80px;
    }

    .our-advantage .our-advantage-wrapper{
        display: flex;
    }
    
    .our-advantage .our-advantage-wrapper .fast-building{
        margin: 12px;
        background-color: white;
        color: #656565;
        box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 10%);
        padding: 40px;
        text-align: center;
        height: 259px;
    }

    .fast-building .icon-container{
        position: relative;
        bottom: 90px;
    }

    .fast-building .fast-building-text{
        position: relative;
        bottom: 50px;
    }

    .our-advantage .our-advantage-wrapper .background{
        background-color: #181818;
        color: white;
    }
    
    .fast-building-text .fast-building-text-wrapper #color{
        color: white;
    }

    .our-advantage .our-advantage-wrapper .fast-building .background span{
        color: white;
    }

    .our-advantage .our-advantage-wrapper .fast-building .icon-container{
        margin: 0;
        display: flex;
        justify-content: center;
    }
    
    .our-advantage .our-advantage-wrapper .fast-building .icon-container i{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #181818;
        color: white;
        font-size: 40px;
    }

    .our-advantage .our-advantage-wrapper .fast-building .icon-background i{
        background-color: white;
        color: #181818;
    }

    .our-advantage .our-advantage-wrapper .fast-building span{
        color: #181818;
        font-size: 24px;
        font-weight: 600;
    }

    .our-advantage .our-advantage-wrapper .fast-building p{
        width: 259px;
        height: 96px;
    }
/* End Our Advantage */


/* Start Awwards Winning */
    .awward-winning{
        padding-bottom: 100px;
        display: flex;
        justify-content: center;
    }

    .awward-winning .awward-winning-wrapper{
        display: flex;
        align-items: center;
    }

    .awward-winning-wrapper .awward-winning-side{
        padding: 10px 60px 10px 10px;
    }

    .awward-winning-title{
        width: 570px;
    }

    .title-awward h2{
        text-transform: uppercase;
        color: #AD9271;
        letter-spacing: 2px;
        font-size: 18px;
        font-weight: 600;
    }

    .title-interior-design h2{
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 42px;
        margin: 0;
    }

    .awward-winning-desc{
        width: 500px;
        margin: 0;
    }

    .awward-winning-desc p{
        width: 500px;
        height: auto;
        color: #666666;
    }

    .img-signmark img{
        width: 45%;
        vertical-align: middle;
        display: inline-block;
    }

    .img-signmark p{
        font-size: 18px;
        color: #181818;
        font-weight: 400;
    }

    .button-awward-container{
        margin: 53px 0 0 0;
        display: flex;
    }

    .button-awward-wrapper a{
        padding: 18px 32px;
        background-color: #181818;
        text-transform: uppercase;
        font-size: 14px;
        color: white;
        text-decoration: none;
        font-weight: 400;
    }

    .button-awward-wrapper a:hover{
        border: 1px solid #181818;
        color: #181818;
        background-color: transparent;
        transition: 0.3s;
    }

    .awward-image-container{
        padding: 10px;
    }

    .awward-image-container img{
        width: 550px;
        height: auto;
    }

    .marks-comment{
        box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 10%);
        background-color: white;
        padding: 25px;
        width: 378px;
        position: relative;
        left: 233px;
        bottom: 20px;
    }

    .marks-comment .text-container{
        padding-left: 20px;
        border-left: 3px solid #AD9271;
    }
    
    .marks-comment .text-container p{
        color: #666666;
        margin: 0 0 14px 0;
    }

/* End Awwards Winning */

/* Start Our Services */
    .our-services{
        display: flex;
        justify-content: center;
        background-image: url('../images/stair-and-chair-2000x1500.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        height: 490px;
    }
    
    .our-services-wrapper{
        background-color: rgba(0, 0, 0, 0.7);
        text-align: center;
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .our-services-header{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    
    .our-services-header-text{
        padding: 0 25%;
    }

    .our-services-sometext p{
        color: #666666;
    }
    
    .our-services-wrapper h2{
        font-size: 32px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .our-services-sometext .service-link-container{
        margin-top: 32px;
    }
    
    .service-link-container a{
        background-color: #181818;
        padding: 18px 32px;
        text-transform: uppercase;
        color: white;
        text-decoration: none;
    }

    .service-link-container a:hover{
        border: 1px solid #181818;
        background-color: white;
        color: #181818;
        transition: 0.7s;
    }

    .our-services-image-container{
        width: 353px;
        height: 236px;
    }

    .our-services-image-container img{
        max-width: 100%;
    }

    .our-services-sometext{
        padding: 35px 30px 40px 35px;
        background-color: white;
        max-width: 353px;
        width: 100%;
        height: auto;
        box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 10%);
    }
    
    .our-services-gallery-wrapper{
        display: flex;
        justify-content: center;
        position: relative;
        top: 70px;
    }

    .our-services-gallery-wrapper .residental-design{
        margin: 10px;
    }
/* End Our Services */

/* Start Testimonials */
    .testimonial-number{
        position: relative;
        top: 300px;
    }

    .testimonial-number .achievement h2{
        margin-top: 10px;
        margin-bottom: 20px;
        color: #ffffff;
        font-size: 100px;
        font-weight: 600;
        letter-spacing: 1px;
        text-shadow: 0px 0px 1px rgb(0 0 0 / 30%);
        text-align: center;
    }

    .number-percentage-parent .number-percentage-wrapper{
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .number-percentage-wrapper .number-percentage{
        margin: 16px;
        text-align: center;
    }

    .number-percentage-parent .number-percentage .number-percentage-number span{
        color: black;
        font-size: 32px;
        font-weight: 600;
    }

    .number-percentage-parent .number-percentage .number-percentage-number{
        font-size: 32px;
        color: black;
        font-size: 32px;
        font-weight: 600;
        width: 260px;
        height: 61px;
    }

    .number-percentage-wrapper .number-percentage .number-percentage-desc p{
        color: #666666;
        text-align: center;
        font-size: 16px;
    }

    .testimonial-number .achievement{
        position: relative;
    }

    .testimonial-number .number-percentage-parent{
        position: relative;
        bottom: 100px;
    }
/* End Testimonials */

/* Start Our Pricing */
    .our-pricing{
        position: relative;
        top: 200px;
        display: flex;
        justify-content: center;
        background-color: rgb(248 248 248);
        padding: 100px 0 100px 0;
    }

    .our-pricing .our-pricing-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .our-pricing-desc .our-pricing-desc-wrapper{
        padding: 10px 40px 10px 10px;
    }

    .our-pricing-desc-wrapper h2{
        font: 32px;
        color: #181818;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .our-pricing-desc-wrapper p{
        color: #666666;
        width: 329px;
        margin: 0 0 30px 0;
    }

    .our-pricing-desc-wrapper a{
        background-color: #181818;
        padding: 18px 32px 18px 32px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-decoration: none;
    }

    .starter-plan-container .starter-plan-wrapper{
        display: flex;
        align-items: center;
    }

    .starter-plan-wrapper .starter-plan-content{
        background-color: white;
        padding: 40px 40px 40px 40px;
        width: 364px;
        margin: 6px;
        text-align: center;
    }

    .starter-plan-content .fast-service-starterplan{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 23px;
        border-bottom: 1px solid #6B7C9326;
        padding-bottom: 25px;
    }

    .fast-service-starterplan i{
        padding: 0 10px 0 0;
        color: #AD9271;
        font-size: 22px;
    }

    .fast-service-starterplans i{
        padding: 0 10px 0 0;
        color: #AD9271;
        font-size: 22px;
    }
    
    .starter-plan-content .fast-service-starterplans{
        display: flex;
        justify-content: center;
        margin-bottom: 23px;
    }

    .fast-service-starterplans i{
        padding: 0 10px 0 0;
    }

    .starter-plan-content .number-prices{
        font-size: 49px;
        font-weight: 600;
        font-family: 'Heebo', sans-serif;
        color: #181818;
    }

    .starter-plan-content .text-prices{
        font-size: 14px;
        color: rgb(102 102 102);
        font-weight: 300;
    }

    .starter-plan-content .fast-service-starterplans-link a{
        background-color: #181818;
        padding: 18px 32px 18px 32px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: white;
        font-family: 'Roboto', sans-serif;
    }

    .our-pricing a:hover{
        border: 1px solid #181818;
        color: #181818;
        background-color: rgb(248 248 248);
        transition: 0.3s;
    }
/* End Our Pricing */

/* Start Our Expertise */
    .our-expertise{
        position: relative;
        top: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
    }

    .our-expertise-container{
        display: flex;
        align-items: center;
    }

    .our-expertise-wrapper .our-expertise-desc{
        width: 100%;
    }

    .title-our-expertise h2{
        font-size: 18px;
        color: #AD9271;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .subtitle-our-expertise{
        max-width: 100%;
    }

    .subtitle-our-expertise h2{
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 32px;
        width: 523px;
        font-weight: 600;
        text-align: left;
        line-height: 1.3em;
        margin: 0;
    }

    .our-expertise-desc-wrapper p{
        width: 500px;
        color: #666666;
        font-family: 'Heebo', sans-serif;
    }

    .our-expertise-percentage .track-container{
        margin: 0 0 20px 0;

    }

    .our-expertise-percentage .skill-title{
        margin: 0 0 7px 0;
    }

    .our-expertise-percentage .track-percentage{
        width: 560px;
        height: 15px;
        background-color: #F8F8F8;
    }
    
    .track-percentage .skill-track{
        background-color: #AD9271;
        max-width: 560px;
        width: 0;
        height: 15px;
        animation-name: residental;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-delay: 2s;
    }
    
    .track-percentage .commercial{
        max-width: 560px;
        width: 0;
        animation-name: commercial;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-delay: 2s;
    }
    
    .track-percentage .corporates{
        max-width: 560px;
        width: 0;
        animation-name: corporates;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-delay: 2s;
    }

    @keyframes residental{
        from{
            width: 0%;
        }

        to{
            width: 86%;
        }
    }

    @keyframes commercial{
        from{
            width: 0%;
        }

        to{
            width: 75%;
        }
    }

    @keyframes corporates{
        from{
            width: 0%;
        }

        to{
            width: 78%;
        }
    }
/* End Our Exepertise */

/* Start Partner */
    .partner-container{
        position: relative;
        top: 300px;
        display: flex;
        justify-content: center;
    }

    .partner-container .partner-wrapper{
        display: flex;
    }

    .partner-wrapper div{
        padding: 49px;
    }

    .partner-wrapper div img{
        width: 148px;
    }
/* End Partner */

/* Start Get Started */
    .getstarted{
        position: relative;
        top: 300px;
    }

    .getstarted .getstarted-wrapper{
        padding: 60px 0 60px 0;
        background-color: rgb(24 24 24);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .getstarted .getstarted-wrapper .getstarted-side{
        padding: 10px;
    }

    .getstarted .getstarted-wrapper .getstarted-side h2{
        text-transform: capitalize;
        margin: 0 0 20px 0;
    }

    .getstarted-wrapper .getstarted-side .get-sometext{
        padding: 0 60px 0 0;
        font-size: 16px;
        color: #666666;
        width: 515px;
        height: 48px;
    }

    .getstarted-wrapper .getstarted-button{
        margin: 20px 0 0 0;
        padding-left: 254px;
    }

    .getstarted-wrapper .getstarted-button a{
        padding: 20px 40px 20px 40px;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .getstarted-wrapper .getstarted-button a:hover{
    background-color: white;
        color: rgb(24 24 24);
        transition: 0.3s;
    }
/* End Get Started */

/* Start Footer */

    .footer{
        padding: 40px 0 20px 0;
        position: relative;
        top: 300px;
    }

    .footer .footer-container{
        margin: 30px auto;
        padding: 40px 40px 0 40px;
        display: flex;
        justify-content: center;
    }

    .footer-marginned{
        margin: 0 0 20px 0;
    }

    .footer-paddinged{
        padding: 0 0 5px 0;
    }

    .footer-wrapper .about-inner{
        padding: 10px 60px 10px 10px;
    }

    .footer-wrapper .about-inner img{
        width: 125px ;
        height: 42px;
    }

    .footer-wrapper .about-inner .about-inner-text{
        width: 312px;
        height: 78px;
        font-size: 16px;
        font-family: 'Heebo', sans-serif;
        color: #666666;
    }

    .footer-wrapper .about-inner .about-inner-text span{
        display: block;
        font-size: 16px;
        font-family: 'Heebo', sans-serif;
        color: #666666;
    }

    .about-inner .about-inner-socialmedia{
        display: flex;
        flex-wrap: wrap;
    }

    .about-inner .about-inner-socialmedia .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
        background-color: #181818;
        border-radius: 50%;
        padding: 10px;
        width: 34px;
        height: 34px;
    }

    .about-inner .about-inner-socialmedia .icon:hover{
        background-color: #ad9271;
        cursor: pointer;
        transition: 0.3s;
    }

    .about-inner .about-inner-socialmedia .icon i{
        color: white;
    }

    .footer-wrapper .otherpage .otherpage-wrapper{
        width: 176px;
        height: 204px;
    }

    .footer-wrapper .otherpage .otherpage-wrapper h2{
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        font-weight: 100;
    }

    .wrapper-footer-paddinged{
        padding: 10px;
    }

    .footer-wrapper .otherpage .otherpage-wrapper a{
        text-decoration: none;
        color: rgb(102 102 102);
        display: block;
    }  

    .footer-wrapper .otherpage .otherpage-wrapper a:hover{
        color: #ad9271;
        transition: 0.3s;
    }

    .footer-wrapper .quick-links .quick-links-wrapper{
        width: 176px;
        height: 204px;
    }

    .footer-wrapper .quick-links .quick-links-wrapper a:hover{
        color: #ad9271;
        transition: 0.3s;
    }

    .footer-wrapper .quick-links .quick-links-wrapper h2{
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        font-weight: 300;
    }

    .footer-wrapper .quick-links .quick-links-wrapper a{
        text-decoration: none;
        color: rgb(102 102 102);
        display: block;
    }

    .footer-wrapper .latest-project .latest-project-wrapper h2{
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        font-weight: 300;
    }

    .footer-wrapper .latest-project .latest-project-wrapper .late-wrap img{
        width: 104px;
        height: 74px;
        margin: 6px;
    }

    .latest-project-wrapper .late-wrap-project-container .late-wrap-wrapper .late-wrap{
        display: flex;
    }

    .late-wrap-project-container .late-wrap-wrapper .late-wrap .image-container .hoverred-backgroundcolor{
        background-color: rgba(0, 0, 0, 0.7);
        width: 104px;
        height: 70px;
    }

    .footer .credit{
        display: flex;
        justify-content: center;
    }

    .footer .credit .credit-wrapper{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        width: 1100px;
        height: 21px;
    }

    .footer .credit .credit-wrapper .text p{
        font-family: 'Heebo', sans-serif;
        font-size: 14px;
        color: #666666;
        width: 100%;
        padding: 10px;
    }
    /* End Footer */
    
@media (max-width: 1204px){
    /* Start Header */
    .title img{
        width: 100px;
        padding: 10px;
    }

    .title-navbar .title-navbar-wrapper .navbar{
        padding: 0 10px 0 0;
    }
    
    .landing-title-wrapper{
        width: 1204px;
    }
    
    .landing-title-wrapper .landing-title-sometext{
        padding: 0 0 0 10px;
    }

    .our-advantage .our-advantage-wrapper .fast-building{
        width: 100%;
    }
    
    .our-advantage .our-advantage-wrapper .fast-building p{
        width: 100%;
    }

    .awward-winning-desc p{
        width: 100%;
    }
    
    .awward-image-container img{
        max-width: 100%;
        height: auto;
    }

    .our-services-image-container{
        width: 100%;
        height: auto;
    }

    .starter-plan-wrapper .starter-plan-content{
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width: 1058px){
    .burger-icon-container{
        display: block;
    }

    .title img{
        padding: 10px;
        width: 200px;
    }

    .landing .header-parent{
        height: 638px;
    }
    
    .landing-title-wrapper{
        width: 969px;
    }

    .title-navbar .title-navbar-wrapper .navbar{
        padding: 0 10px 0 0;
        display: none;
    }
    
    .landing-title-wrapper .video-player-button{
        padding: 0 100px 0 0;
    }
    
    .title-navbar .title-navbar-wrapper{
        margin-bottom: 50px;
    }

    .our-advantage .our-advantage-wrapper .fast-building .icon-container i{
        left: 85px;
    }

    .our-advantage .our-advantage-wrapper .fast-building p{
        width: 100%;
    }

    .awward-winning-title{
        width: 100%;
        padding: 10px;
    }

    .awward-image-container img{
        display: none;
    }

    .number-percentage-parent .number-percentage .number-percentage-number{
        width: 170px;
    }

    .starter-plan-wrapper .starter-plan-content{
        max-width: 100%;
        height: auto;
    }
    
    .our-expertise-percentage .track-percentage{
        width: 335px;
    }
    
    .our-pricing{
        padding: 60px 10px;
    }
    
    .our-pricing .our-pricing-wrapper{
        display: block;
    }
    
    .our-pricing-wrapper .our-pricing-desc{
        display: flex;
        justify-content: center;
    }
    
    .our-pricing-desc-wrapper p{
        width: 100%;
        height: auto;
    }
    
    .our-pricing-desc-wrapper{
        margin-bottom: 40px;
    }
    
    .starter-plan-container .starter-plan-wrapper{
        justify-content: center;
    }
    
    .starter-plan-wrapper .starter-plan-content{
        width: 100%;
    }

    .our-expertise-percentage{
        max-width: 100%;
    }

    .our-expertise-percentage .track-container{
        width: 100%;
    }
    
    .getstarted-wrapper .getstarted-button{
        margin: 0;
        padding: 0;
    }

    .partner-wrapper div{
        padding: 30px;
    }
}

@media (max-width: 920px){
    .our-advantage .our-advantage-wrapper .fast-building .icon-container{
        padding: 25px;
    }
    
    .our-advantage .our-advantage-wrapper .fast-building .icon-container i{
        left: 56px;
    }
    
    .our-advantage .our-advantage-wrapper .fast-building{
        height: auto;
    }
    
    .our-advantage .our-advantage-wrapper .fast-building .fast-building-text{
        padding: 15px 10px 20px;
        
    }

    .our-expertise-desc-wrapper h2{
        width: 100%;
    }
    
    .our-expertise-desc-wrapper p{
        width: 330px;
    }

    .our-services-header-text{
        padding: 0;
    }
    
    .marks-comment{
        left: 171px;
    }
    
    
    .partner-4{
        display: none;
    }
}

@media (max-width: 800px){
    .title img{
        width: 100px;
    }

    .landing-title-wrapper .video-player-button{
        display: none;
    }

    .landing-title-wrapper{
        max-width: 100%;
        margin: 0;
        font-size: 14px;
        display: contents;
    }

    .landing-title-wrapper .landing-title-sometext{
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .landing-title-sometext-wrapper{
        display: flex;
        justify-content: center;
    }
    
    .landing-title-wrapper h2{
        text-align: center;
        font-size: 28px;
        width: 100%;
        height: max-content;
    }

    
    .landing-title-wrapper .landing-title-desc{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .landing-title-desc p{
        max-width: 100%;
        height: max-content;
    }

    .landing-title-wrapper .landing-title-sometext .view-portofolio{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .our-advantage{
        display: flex;
        justify-content: center;
        padding: 0 10px 40px 10px;
    }

    .our-advantage .our-advantage-wrapper{
        display: block;
    }

    .our-advantage .our-advantage-wrapper .fast-building{
        width: 100%;
        height: 270px;
        margin: 0 0 12px 0;
    }

    .our-advantage .our-advantage-wrapper .fast-building .icon-container{
        bottom: 20px;
    }

    .our-advantage .our-advantage-wrapper .fast-building .icon-container i{
        display: flex;
        justify-content: center;
        left: -2px;
    }

    .fast-building-text{
        display: flex;
        align-items: center;
    }
    
    .awward-winning{
        display: flex;
        justify-content: center;
    }

    .awward-winning-wrapper .awward-winning-side{
        padding: 0;
    }

    .awward-winning .title-awward{
        display: flex;
        justify-content: center;
    }
    
    .awward-winning .title-interior-design{
        display: flex;
        justify-content: center;
    }

    .title-awward h2{
        text-align: center;
    }
    
    .title-interior-design h2{
        text-align: center;
    }

    .awward-winning-desc{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .button-awward-container{
    display: block;
    }

    .img-signmark{
        display: flex;
        justify-content: center;
    }

    .img-signmark-wrapper{
        display: flex;
        justify-content: center;
    }

    .img-signmark img{
        width: 65%;
        display: flex;
        justify-content: center;
        margin-left: 100px;
    }

    .img-signmark p{
        text-align: center;
    }

    .button-awward-container{
        margin: 0;
    }

    .button-awward-wrapper{
        display: flex;
        justify-content: center;
    }

    .button-awward-container .marks-comment{
        width: 100%;
        display: flex;
        justify-content: center;
        top: 50px;
        left: 12px;
    }

    .our-services{
        height: 1512px;
    }

    .our-services-gallery .our-services-gallery-wrapper{
        display: block;
    }

    .our-services-image-container img{
        width: 738px;
    }

    .our-services-sometext{
        max-width: 100%;
    }

    .testimonial-number{
        position: relative;
        top: 624px;
    }

    .achievement{
        display: none;
    }

    .number-percentage-wrapper{
        flex-wrap: wrap;
    }

    .our-pricing{
        position: relative;
        top: 901px;
    }

    .our-pricing-desc-wrapper h2{
        text-align: center;
    }

    .our-pricing-desc-wrapper p{
        text-align: center;
    }

    .our-pricing-desc-link-container{
        display: flex;
        justify-content: center;
    }

    .starter-plan-container .starter-plan-wrapper{
        flex-wrap: wrap;
    }

    .our-expertise{
        top: 974px;
        padding: 10px;
    }

    .subtitle-our-expertise h2{
        width: 100%;
    }

    .our-expertise-desc-wrapper p{
        width: 100%;
    }

    .our-expertise-percentage{
        display: flex;
        justify-content: center;
    }

    .our-expertise-percentage-wrapper{
        max-width: 100%;
    }

    .our-expertise-container{
        flex-wrap: wrap;
        justify-content: center;
    }

    .our-expertise-percentage .track-percentage{
        max-width: 100%;
    }


    .our-expertise-wrapper{
        display: flex;
        justify-content: center;
    }

    .title-our-expertise h2{
        text-align: center;
    }

    .subtitle-our-expertise h2{
        text-align: center;
        font-size: 24px;
    }

    .our-expertise-desc-wrapper p{
        text-align: center;
        width: 100%;
        font-size: 14px;
    }

    .testimonial-number .number-percentage-parent{
        top: 288px;
    }

    .partner-container{
        top: 993px;
    }

    .partner-3{
        display: none;
    }

    .getstarted{
        top: 1083px;
    }

    .getstarted .getstarted-wrapper{
        flex-wrap: wrap;
    }

    .getstarted-wrapper .getstarted-side .get-sometext{
        padding: 0;
        /* text-align: center; */
        margin-bottom: 45px;
    }
}

@media (max-width: 500px){
    .landing-title-sometext-content{
        max-width: 100%;
    }

    .landing-title-desc p{
        width: 100%;
        max-width: max-content;
    }

    .our-advantage .our-advantage-wrapper .fast-building{
        height: 318px;
    }

    .awward-winning-title{
        width: 100%;
    }

    .awward-winning-desc{
        max-width: max-content;
    }

    .awward-winning-desc p{
        width: 100%;
        max-width: max-content;
    }

    .our-pricing-desc .our-pricing-desc-wrapper{
        padding: 0;
    }

    .partner-wrapper div img{
        width: 93px;
    }

    .getstarted .getstarted-wrapper .getstarted-side h2{
        text-align: center;
    }

    .getstarted-wrapper .getstarted-side .get-sometext{
        width: 100%;
        text-align: center;
    }
}

