*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}
    /* Start Header */

    .landing {
        /* Masukkan Gambar background */
        background: url('../Images/coffee-shop-2000x1500.jpg');
        color: white;
        top: 0;
        left: 0;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        background-position: center;
    }

    .navbar .dropdown .navbar-active{
        color: #ad9271;
    }

    .landing .landing-wrapper{
        background-color: rgba(0, 0, 0, 0.7);
    }

    .landing .header-container{
        border-bottom: 1px solid #FFFFFF14;
    }

    .header-container .detail{
        display: flex;
        justify-content: center;
        padding: 10px 0px 10px 0px;
    }

    .header-container .detail i{
        color: #ad9271;
        font-size: 14px;
    }

    .header-container .detail .detail-wrapper{
        display: flex;
        justify-content: space-between;
        color: white;
        font: 12px 'Heebo', sans-serif;
        width: 1452px;
    }

    .open,
    .address-phone {
        padding: 0 70px 0 110px;
        display: flex;
    }

    .address-phone p{
        padding-left: 6px;
    }

    .detail-wrapper .open p{
        padding-left: 6px;
    }
    
    .address-phone .address{
        display: flex;
        align-items: center;
    }
    
    .address-phone .phone{
        display: flex;
        align-items: center;
        padding-left: 6px;
    }
    
    .address-phone .phone i{
        padding-left: 12px;
    }

    .landing .detail .open{
        padding-right: 150px;
        display: flex;
        align-items: center;
    }

    /* Start Navbar */
        .title-navbar .title-navbar-wrapper{
            justify-content: center;
            display: flex;
        }

        .title-navbar .title-navbar-wrapper .title-navbar-parent{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 12px;
            padding-bottom: 100px;
            width: 1452px;
        }

        .title img {
            width: 220px;
            height: auto;
            padding-left: 113px;
        }

        .title-navbar .title-navbar-wrapper .navbar{
            padding-right: 150px;
        }

        #uppercase{
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 12px;
        }

        .navbar .dropdown {
            position: relative;
            display: inline-block;
            padding-bottom: 14px;
            padding-left: 20px;
        }

        .navbar .dropdown:hover{
            cursor: pointer;
        }

        .navbar .dropdown a{
            text-decoration: none;
            color: white;
        }

        .navbar .dropdown a:hover{
            color: #ad9271;
            transition: 0.3s;
        }

        .navbar .dropdown span{
            color: #fff;
        }

        .navbar .dropdown span:hover{
            color: #ad9271;
            transition: 0.3s;
        }

        .navbar .dropdown i{
            font-size: 15px;
            padding-left: 8px;
        }

        .navbar .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 150px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 12px 16px;
            z-index: 1;
        }

        .navbar .dropdown-content a {
            padding: 12px 0;
            text-decoration: none;
            color: #666666;
        }

        .navbar .dropdown:hover .dropdown-content {
            display: flex;
            flex-direction: column;
            right: 0;
            left: -1px;
            top: 30px;
        }

        .burger-icon-container{
            display: none;
            position: relative;
            z-index: 9999;
            padding: 0 11px 0 0;
        }
    
        .burger-icon-container .burger-icon-wrapper{
            margin-top: 20px;
            background-color: white;
            padding: 15px;
        }
    
        .burger-icon-container .burger-icon-wrapper:hover{
            cursor: pointer;
        }
    
        .burger-icon-wrapper i{
            font-size: 19px;
            color: #AD9271;
        }

        .landing-title{
            display: flex;
            justify-content: center;
        }

        .landing-title-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1452px;
        }
    /* End Navbar */
    #side-nav{
        position: fixed;
        top: 0;
        z-index: 9999;
        left: -110%;
        transition: left 0.9s 0.3s;
    }

    .side-nav-container{
        width: 100%;
        max-width: 360px;
        height: 100%;
        background-color: white;

    }

    #side-nav-background{
        top: 0;
        left: -110%;
        z-index: 999;
        position: fixed;
        transition: left 0.9s;
    }
    
    .side-nav-background{
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
    }

    .side-nav-wrapper .header{
        padding: 20px;
    }

    .side-nav-wrapper .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .img-header img{
        width: 150px;
    }

    .header .exit-button {
        background-color: #181818;
        padding: 8px;
        margin: 15px;
        width: 45px;
        text-align: center;
    }

    .header .exit-button:hover{
        background-color: transparent;
        border: 1px solid #181818;
        transition: 0.9s;
        color: #181818;
        cursor: pointer;
    }

    .side-nav-content .title-side-nav{
        padding: 10px 30px 15px;
    }

    .title-side-nav:hover{
        cursor: pointer;
    }

    .title-side-nav a{
        text-transform: uppercase;
        letter-spacing: 1px;

    }

    .navbar-responsive:hover .dropdown-nav-resp{
        display: block;
    }

    .title-side-nav:hover a{
        color: #AD9271;
        transition: 0.3s;
    }

    .dropdown-nav-resp a:hover{
        color: #AD9271;
        transition: 0.3s;
    }

    .navbar-responsive:hover i{
        color: #AD9271;
        transition: 0.3s;
        border: 1px solid #AD9271;
    }

    .title-side-nav a{
        text-decoration: none;
        color: #181818;
        font-size: 19px;
    }
    
    .title-side-nav i{
        color: #181818;
        margin-left: 20px;
        padding: 4px 15px;
        border: 1px solid #181818;
        border-radius: 30px;
        font-size: 9px;
    }

    .side-nav-content .dropdown-nav-resp{
        background-color: white;
        box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 10%);
        padding: 0 0 0 11px;
        display: none;
    }
    
    .dropdown-nav-resp a{
        text-decoration: none;
        color: #c2c1c1;
        font-size: 19px;
        padding: 15px;
        display: block;
    }
/* About Title and Button */
.judul{
    margin: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 200px;
}

.judul h2{
    color: #AD9271;
    font-size: 60px;
}

.judul h2 span{
    color: white;
    display: block;
    font-size: 45px;
}

.btn-view{
    border-color: #ffff;
    border-style: solid;
    padding:18px 32px 18px 32px;
    color: #ffff;
    border: 1px solid;
    text-transform: uppercase;
    text-decoration: none;
}

a.btn-view:hover{
    background: #ffff;
    text-decoration: none;
    color: #181818;
    border: 1px solid;
    text-transform: uppercase;
    transition: 0.3s;
}
/* End About Title and Button */
    /* End Header */

/* About Content */
.content-container{
    display: flex;
    position: relative;
    justify-content: center;
}

.img-container .wrapper .img-wrapper{
    vertical-align: middle;
    display: inline-block;
}

.img-wrapper img{
    width: 548px;
    height: 699px;
    max-width: 100%;
}

.img-wrapper .button-video-container{
    background-color: #FFFFFF;
    width: 280px;
    height: 100px;
    position: relative;
    padding: 20px 30px 10px 30px;
    margin-top: -100px;
}

.img-wrapper .button-video-container .video-wrapper{
    background-color: #181818;
    border-radius: 50%;
    width: 54px;
    height: 54px;
}

.img-wrapper .button-video-container .video-wrapper .icon i{
    color: #FFFFFF;
    font-size: 20px;
    padding: 17px 0px 0px 21px;
}

.img-wrapper .button-video-container .contents .video-content{
    padding: 0px 80px;
    margin: 0;
  
}

.img-wrapper .button-video-container .contents .video-content h2{
    font-size: 20px;
    width: 220px;
    height: 50px;
    margin-top: -33px;
}

.kolom-deskripsi{
    background-color: #ffff;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 40px 0px 0px -60px;
    width: 550px;
    height: 463px;
    box-shadow: 0px 5px 30px 0px rgb(0 0 0 / 10%);
}

.kolom-deskripsi .deskripsi{
    padding: 40px 40px 40px 40px;
}

.kolom-deskripsi .deskripsi h2{
    color: #AD9271;
    font-size: 18px;
}

.kolom-deskripsi .deskripsi span{
    color: #000;
    display: block;
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 40px;
}

.kolom-deskripsi .deskripsi p{
    font-size: 16px;
    text-align: left;
    color: #666;
    font-family: "Heebo", sans-serif;
    line-height: 26px;
}
.btn-read {
    background: #181818;
    border: 1px solid #181818;
    padding:15px 30px 15px 30px;
    color: #ffff;
    text-transform: inherit;
    text-decoration: none;
}

a.btn-read:hover{
    background: #ffff;
    text-decoration: inherit;
    border: 1px solid #181818;
    color: #181818;
    text-transform: uppercase;
    transition: 0.3s;
}
/* End About Content */

/* Start Our Services */

.our-services{
    margin-top: 76px;
    background:#f8f8f8;
}

.our-services .our-services-wrapper{
    padding: 10px;
}

.our-services .container{
    text-align: center;
}

.our-services h2{
    font-size: 20px;
    font-weight: 400;
}

.our-services .container p{
    font-size: 16px;
    width: 560px;
    height: 48px;
    color: #666666;
    font-weight: normal;
}

/* Start Card */
.card{
    display: flex;
    padding: 42px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.card .row .row-container{
    box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 10%);
    background-color: #ffff;
    padding: 40px;  
    width: 360px;
    height: 240px;
    margin: 20px 20px 30px 10px;
    display: flex;
    align-items: center;
}

.card .row .row-containers{
    box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 10%);
    background-color: #ffff;
    padding: 40px;  
    width: 360px;
    height: 240px;
    margin: 0px 20px 25px 10px;
    display: flex;
    align-items: center;
}

.row .our-service-desc{
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 45px;
}

.row .our-service-desc .our-service-desc-wrapper{
    margin: 10px 10px 10px 10px;
}

.row .our-service-desc .our-service-desc-wrapper h2{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 32px;
}

.row .our-service-desc .our-service-desc-wrapper .link-container{
    padding-top: 15px;
}

.btn-viewall {
    background: #181818;
    border: 1px solid #181818;
    padding:15px 30px 15px 30px;
    color: #ffff;
    text-transform: inherit;
    text-decoration: none;
}

a.btn-viewall:hover{
    background: #ffff;
    text-decoration: inherit;
    border: 1px solid #181818;
    color: #181818;
    text-transform: uppercase;
    transition: 0.3s;
}

.row .our-service-desc .our-service-desc-wrapper p{
    font-family: 'Heebo', sans-serif;
    color: #656565;
    width: 315px;
    height: 72px;
    line-height: 26px;
    font: 16px 'Heebo', sans-serif;
}

.card .row .row-container .row-wrapper p{
    width: 273px;
    height: 72px;
}

.our-services-wrapper .card .row  .restaurant{
    background-image: url('../Images/img_restaurant-3-2000x1667.jpg');
    background-size: cover;
    color: white;
    background-position: center;
}

.card .row .restaurant p{
    color: white;
}

.our-services-wrapper .card .row .restaurant .row-wrapper i{
    color: white;
}

.our-services-wrapper .card .row .commercial:hover{
    background: url('../Images/img_commercial-1024x768.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffff;
    background-position: center;
}

.our-services-wrapper .card .row .residental:hover{
    background: url('../Images/img_residental-1440x1080.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffff;
    background-position: center;
}

.our-services-wrapper .card .row .industrial:hover{
    background: url('../Images/img_industrial-1024x768.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffff;
    background-position: center;
}
.our-services-wrapper .card .row .corporate:hover{
    background: url('../Images/img_corporate-1024x768.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffff;
    background-position: center;
}

.our-services-wrapper .card .row .row-wrapper i{
    color: #AD9271;
    font-size: 40px;
}

.row .row-container .restaurant .row-wrapper i{
    color: #ffff;
} 
.row .row-container:hover .row-wrapper i{
    color: white;
    transition: 0.3s;
}
.row .row-containers:hover .row-wrapper i{
    color: white;
    transition: 0.3s;
}
    /* End Card */
/* End Our Services */

/* Latest Project */
.latest-project{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.latest-project-wrapper .portofolio h2{
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0px 0px 1px rgb(0 0 0 / 30%);
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
}

.latest-project-container .latest-project-wrapper .latest-project-banner{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 100px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 32px;
    font-weight: 600;
}

.latest-project-container .latest-project-wrapper .title-text-late{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 50px;
}

.latest-project-wrapper .title-text-late p{
    text-align: center;
    width: 514px;
    height: 52px;
    color: #666;
    margin: 0;
}

.latest-project-wrapper .navbar-latest .navbar-content{
    margin: 0;
}

.navbar-latest .navbar-content{
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar-latest .navbar-content li a{
    text-decoration: none;
    color: #181818;
    margin: 0 6px;
    text-transform: uppercase;
    padding: 6px 15px;
}

.navbar-latest .navbar-content .active{
    background-color: #181818;
    color: white;
}

.latest-image-gallery{
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.latest-image-gallery-wrapper{
    max-width: 100%;
}

.latest-image-gallery-content{
    display: flex;

}

.latest-image-gallery-content .latest-background-container-residental{
    background-image: url('../Images/interior-of-modern-design-living-room-3d-rendering-2000x1125.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 273px;
}

.latest-image-gallery-content .latest-background-container-restaurant{
    background-image: url('../Images/cafe-lounge-restaurant-2000x1333.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 273px;
}

.latest-image-gallery-content .latest-background-container-corporate{
    background-image: url('../Images/meeting-room-3-2000x1333.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 273px;
}

.latest-image-gallery-content .latest-background-container-residentall{
    background-image: url('../Images/modern-style-interior-design-3d-rendering-2-2000x1334.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 273px;
}

.latest-image-gallery-content .latest-background-container-commercial{
    background-image: url('../Images/furniture-industrial-above-a-coffee-2000x1333.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 273px;
}

.latest-image-gallery-content .latest-background-container-restaurantt{
    background-image: url('../Images/img_restaurant-2-2000x1667.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 273px;
}

.latest-background-container-residental .latest-text{
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.latest-background-container-residental .latest-text h3{
    color: white;
    margin: 0;
    text-align: center;
    position: relative;
    top: 23px;
    
}

.latest-background-container-residental .latest-text p{
    color: #a8a8a8;
    text-align: center;
    padding: 0 53px;
    position: relative;
    top: 23px;
}

.latest-background-container-residental:hover .latest-text{
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

.latest-background-container-residental:hover .latest-text h3{
    top: 0;
    transition: 0.3s;
}

.latest-background-container-residental:hover .latest-text p{
    top: 0;
    transition: 0.7s;
}

.latest-background-container-restaurant .latest-text{
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.latest-background-container-restaurant .latest-text h3{
    color: white;
    margin: 0;
    text-align: center;
    position: relative;
    top: 23px;
    
}

.latest-background-container-restaurant .latest-text p{
    color: #a8a8a8;
    text-align: center;
    padding: 0 53px;
    position: relative;
    top: 23px;
}

.latest-background-container-restaurant:hover .latest-text{
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

.latest-background-container-restaurant:hover .latest-text h3{
    top: 0;
    transition: 0.3s;
}

.latest-background-container-restaurant:hover .latest-text p{
    top: 0;
    transition: 0.7s;
}

.latest-background-container-corporate .latest-text{
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.latest-background-container-corporate .latest-text h3{
    color: white;
    margin: 0;
    text-align: center;
    position: relative;
    top: 23px;
    
}

.latest-background-container-corporate .latest-text p{
    color: #a8a8a8;
    text-align: center;
    padding: 0 53px;
    position: relative;
    top: 23px;
}

.latest-background-container-corporate:hover .latest-text{
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

.latest-background-container-corporate:hover .latest-text h3{
    top: 0;
    transition: 0.3s;
}

.latest-background-container-corporate:hover .latest-text p{
    top: 0;
    transition: 0.7s;
}

.latest-background-container-residentall .latest-text{
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.latest-background-container-residentall .latest-text h3{
    color: white;
    margin: 0;
    text-align: center;
    position: relative;
    top: 23px;
    
}

.latest-background-container-residentall .latest-text p{
    color: #a8a8a8;
    text-align: center;
    padding: 0 53px;
    position: relative;
    top: 23px;
}

.latest-background-container-residentall:hover .latest-text{
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

.latest-background-container-residentall:hover .latest-text h3{
    top: 0;
    transition: 0.3s;
}

.latest-background-container-residentall:hover .latest-text p{
    top: 0;
    transition: 0.7s;
}

.latest-background-container-commercial .latest-text{
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.latest-background-container-commercial .latest-text h3{
    color: white;
    margin: 0;
    text-align: center;
    position: relative;
    top: 23px;
    
}

.latest-background-container-commercial .latest-text p{
    color: #a8a8a8;
    text-align: center;
    padding: 0 53px;
    position: relative;
    top: 23px;
}

.latest-background-container-commercial:hover .latest-text{
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

.latest-background-container-commercial:hover .latest-text h3{
    top: 0;
    transition: 0.3s;
}

.latest-background-container-commercial:hover .latest-text p{
    top: 0;
    transition: 0.7s;
}

.latest-background-container-restaurantt .latest-text{
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.latest-background-container-restaurantt .latest-text h3{
    color: white;
    margin: 0;
    text-align: center;
    position: relative;
    top: 23px;
    
}

.latest-background-container-restaurantt .latest-text p{
    color: #a8a8a8;
    text-align: center;
    padding: 0 53px;
    position: relative;
    top: 23px;
}

.latest-background-container-restaurantt:hover .latest-text{
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

.latest-background-container-restaurantt:hover .latest-text h3{
    top: 0;
    transition: 0.3s;
}

.latest-background-container-restaurantt:hover .latest-text p{
    top: 0;
    transition: 0.7s;
}
/* End Latest Project */

/*Our Team Img */
.our-team {
    position: relative;
    padding: 90px 0px 90px 0px;
    display: flex;
    justify-content: center;
}

.our-team  .our-team-wrapper{
    padding: 10px 40px 10px 10px;
    width: 400px;
    height: 300px;
}

.our-team .desc p {
    color: #666666;
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
    line-height: 26px;
}

.heading-title h2 {
    color: #181818;
    font-size: 32px;
    font-weight: bolder;
}

.our-team-profile {
    display: flex;
    gap: 15px;
    align-content: center;
    align-items: center;
}

.our-team-profile .team {
    width: 347px;
    display: flex;
    flex-flow: column;
}

.card-hover {
    position: relative;
    width: 100%;
}

.our-team-profile img {
    width: 100%;
    background-size: cover;
    height: auto;
    display: block;
}

.our-team .team .social-media {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000091;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.7s ease;
}

.card-hover:hover .social-media {
    height: 100%;
}

.our-team-profile .card-hover .social-media .social-media-icon i{
    color: #FFFFFF;
    font-size: 14px;
}

.our-team-profile .card-hover .social-media .social-media-icon{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
}

.our-team-profile .social-media .social-media-icon .facebook{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: #ad9271;
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.our-team-profile .social-media .social-media-icon .facebook:hover{
    background-color: #181818;
    transition: 0.3s;
}

.our-team-profile .social-media .social-media-icon .twitter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: #ad9271;
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.our-team-profile .social-media .social-media-icon .twitter:hover{
    background-color: #181818;
    transition: 0.3s;
}

.our-team-profile .social-media .social-media-icon .instagram{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: #ad9271;
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.our-team-profile .social-media .social-media-icon .instagram:hover{
    background-color: #181818;
    transition: 0.3s;
}

.our-team-profile .identity {
    background-color: #fff;
    position: relative;
    bottom: 20px;
    margin: auto;
    padding: 5px;
    width: 270px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}                

.our-team-profile .identity h4 {
    font-weight: bold;
    font-size: 1.125rem;
    color: #181818;
}

.our-team-profile .identity p {
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
    color: #666666;
    font-weight:lighter;
}
/* End Our Team */

/* Partners */
    /* partner 1 */
.partner-container{
    background-color: #f8f8f8;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 0%);
}

.partner-container .partner-wrapper{
    display: flex;
    transition: all .4s ease;
    justify-content: center;
}

.partner-container .partner-wrapper .partner-1 img {
    opacity: 0.5;
    height: 30%;
    width: 45%;
    margin-left: 120px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.partner-container .partner-wrapper .partner-1 img:hover {
    color: #181818;
    opacity: 10;
    transition: .4s;
}

    /* Partner 2 */
.partner-container .partner-wrapper .partner-2 img{
    opacity: 0.5;
    height: 30%;
    width: 45%;
    margin-left: 90px;
    margin-top: 70px;
}

.partner-container .partner-wrapper .partner-2 img:hover{
    color: #181818;
    opacity: 10;
    transition: .4s;
}

    /* Partner 3 */
.partner-container .partner-wrapper .partner-3 img{
    opacity: 0.5;
    height: 22%;
    width: 45%;
    margin-left: 60px;
    margin-top: 80px;
}

.partner-container .partner-wrapper .partner-3 img:hover{
    color: #181818;
    opacity: 10;
    transition: .4s;
}

    /* Partner 4 */
.partner-container .partner-wrapper .partner-4 img{
    opacity: 0.5;
    height: 22%;
    width: 45%;
    margin-left: 30px;
    margin-top: 80px;
}

.partner-container .partner-wrapper .partner-4 img:hover{
    color: #181818;
    opacity: 10;
    transition: .4s;
}
/* End Partner */

/* How We Work */
.work{
    padding: 110px;
    display: flex;
    justify-content: center;
}

.work p{
    color: rgb(134, 131, 131);
    text-align: center;
}

.work .how {
    display: flex;
    justify-content: center;
}

.work .how .how-wrapper p{
    width: 560px;
    height: 52px;
}

.work .how h2{
    font-weight: 600;
    text-align: center;
}

.work .how span{
    font-size: 15px;
    display: block;
}

.work .work-content{
    display: flex;
    padding-right: 20px;
}

.work .sometext-and-number{
    display: flex;
    align-items: center;
}

.work .sometext-and-number .row .text p{
    font-size: 11px;
    color: rgb(134, 131, 131);
    width: 343px;
    height: 72px;
}

.work .sometext-and-number .row .head-number h2{
    color: #FFFFFF;
    font-size: 96px;
    font-weight: 600;
    text-shadow: 0px 0px 2px rgb(0 0 0 / 30%); 
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.work .sometext-and-number .row .text{
    margin: 9px;
    display: flex;
    justify-content: center;
}

.work .sometext-and-number .row .text span{
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.work .sometext-and-number .row .text p{
    font-size: 16px;
}

.work .sometext-and-number .row .row-content .row-wrapper .head-number{
    display: flex;
    justify-content: center;
}
/* End How We Work */

/* Testimonials */
.testimonial{
    display: flex;
    justify-content: center;
}

.testimonial .testimonial-wrapper{
    display: flex;
    align-items: center;
}

.testimonial-wrapper .image-container img{
    width: 585px;
    height: auto;
    position: relative;
    top: 50px;
}

.testimonial-desc{
    padding: 0 204px  0 58px;

}

.testimonial-desc .testimonial-desc-wrapper h2{
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #181818;
}

.testimonial-desc .testimonial-desc-wrapper p{
    width: 321px;
    color: #181818;
    height: 78px;
    font-size: 16px;
}

.profile i{
    font-size: 60px;
    color: #ad9271;
    display: flex;
    justify-content: flex-end;
}

.profile .profile-wrapper p{
    width: 440px;
    height: 72px;
    color: #666666;
    font-size: 16px;
    font-weight: 300;
}

.profile-name{
    display: flex;
    align-items: center;
}

.profile-name img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding-right: 10px;
}

.profile-name .profile-name-desc p{
    width: 100%;
    height: 16px;
}

.profile-name .profile-name-desc span{
    color: #666666;
    font-size: 14px;
}
/* End Testimonials */

/* Contact Us */
.contactus .contactus-wrapper{
    background-color: rgb(24 24 24);
    padding: 100px 20px 100px 20px;
    color: #666666;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.contact{
    display: flex;
    align-items: center;
}

.contactus .contactus-wrapper .contactus-side{
    display: block;
    padding: 10px 80px 10px 10px;
}

.contactus .contactus-wrapper .contactus-side h2{
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.contactus .contactus-wrapper .contactus-side-title .contactus-side-text{
    display: block;
    color: #666666;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1px;
    width: 55   0px;
}

.contactus .contactus-wrapper .contactus-marginned{
    margin: 0 0 20px 0;
}


.contactus-side-content .location-contact{
    font-size: 20px;
    font-weight: 400;
    color: white;
}

ul {
    padding: 0;
}
.contactus-side .contactus-side-icon-list-container ul li{
    list-style: none;
}

.contactus-side .contactus-side-icon-list-container ul li span{
    font-size: 16px;
    color: rgb(102 102 102);
    font-weight: 300;
    padding-right: 10px;
}

.contactus-side .contactus-side-icon-list-container ul li span i{
    color: #ad9271;
    font-size: 14px;
}

.contactus-side .contactus-side-icon-list-container ul li span:hover{
  color: #ad9271;
}

.contactus .contactus-wrapper .contactus-form{
    background-color: white;
    color: black;
    padding: 60px;
    width: 510px;
    height: 600px;
}

.contactus .contactus-wrapper .contactus-form .contactus-form-wrapper{
   
    justify-content: center;
}


.contactus .contactus-wrapper .contactus-form .contactus-form-wrapper form .user-data input {
    display: block;
    width: 364px;
    height: 50px;
    border: 1px solid #666666;
    outline: none;
    padding: 6px 12px 6px 30px;
}

.contactus-form .contactus-form-wrapper .message{
    display: block;
    width: 364px;
    height: 50px;
    border: 1px solid #666666;
    outline: none;
    padding: 6px 12px 175px 30px;
    
}

.contactus-wrapper .contactus-form .contactus-form-wrapper form .btn-send{
    padding: 18px 32px 18px;
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: rgb(24 24 24);
    outline: none;
    border: 1px solid;
    text-decoration: none;
}

.contactus-wrapper .contactus-form .contactus-form-wrapper form a.btn-send:hover{
    padding: 18px 32px 18px;
    color: #181818;
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #FFFFFF;
    outline: none;
    border: 1px solid;
    text-decoration: none;
    transition: 0.3s;
}
/* End Contact Us */

/* Footer */
footer {
    padding: 40px 55px 20px 55px;
    position: relative;
    display: flex;
    justify-content: center;
}

footer .content-row {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

footer .content-row .inner {
    display: flex;
    position: relative;
}

footer .content-row .inner-column {
    width: 33.596%;
    position: relative;
    padding: 10px 60px 10px 10px;
}

.content-row .inner-column header {
    text-align: left;
    margin-bottom: 20px;
}

.content-row .inner-column header img {
    display: inline-block;
    width: 40%;
    object-fit: cover;
}

.content-row .inner-column .desc-widget-wrap {
    margin-bottom: 20px;
}

.content-row .inner-column .desc-properties {
    color: #666666;
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}

.content-row .inner-column .contact-icon {
    width: 100%;
    position: relative;
}

.inner-column .contact-icon .social-media {
    margin-right: -5px;
    list-style-type: none;
}

.contact-icon .social-media .bg-icon {
    display: inline-block;
    margin: 5px;
}

.inner-column .about-inner-socialmedia{
    display: flex;
}

.inner-column .about-inner-socialmedia .icon a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: #181818;
    color: #ffff;
    border-radius: 50%;
    padding: 10px;
    width: 34px;
    height: 34px;
    text-decoration: none;
}

.inner-column .about-inner-socialmedia .icon a:hover{
    background-color: #ad9271;
    cursor: pointer;
    transition: 0.3s;
}

.inner-column .contact-icon .social-media .bg-icon a .icon {
    font-size: 14px;
}

footer .content-row .header-properties {
    color: var(--primary-color);
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

footer header {
    margin-bottom: 20px;
}

footer .content-row .other-pages-column {
    width: 17.193%;
    padding: 10px;
    position: relative;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
}

footer .other-pages-column li:not(:last-child) {
    padding-bottom: calc(10px/2);
}

footer .other-pages-column nav li:not(:first-child) {
    margin-top: calc(10px/2);
}

footer nav li a {
    text-decoration: none;
    color: #666666;
}

footer nav li a:hover {
    color: #ad9271;
}

footer .content-row .quick-links-column {
    width: 14.211%;
    padding: 10px;
}

footer .quick-links-column li:not(:last-child) {
    padding-bottom: calc(10px/2);
}

footer .quick-links-column nav li:not(:first-child) {
    margin-top: calc(10px/2);
}

footer .content-row .projects-column {
    width: 35%;
    position: relative;
}

footer .projects-column .content-widget-wrap {
    height: 100%;
    margin-left: 30px;
    padding: 10px;
}

.projects-column .projects-gallery {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-column .projects-gallery .gallery-item {
    width: 33.3333%;
}

.projects-gallery .gallery-item .container-img {
    padding: 5%;
    height: 70px;
    position: relative;
    transition: 0.3s;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img .overlay {
    width: 100%;
    height: 100%;
    background-color: #181818b9;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img:hover .overlay {
    opacity: 1;
}

.projects-gallery .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img:hover img {
    opacity: 0.3;
}

.projects-gallery .gallery-item .container-img:hover .overlay {
    opacity: 1;
}

footer .content-row .widget-divider {
    border-bottom: 1px solid #A0AABA2B;
    margin-bottom: 20px;
    padding: 42px 0 2px 0;
}

footer .credit {
    width: 100%;
    display: flex;
}

footer .credit .jegtheme, footer .credit .copyright {
    width: 50%;
}

.credit .desc-widget-wrap {
    padding: 10px;
}

.credit .jegtheme .desc-widget-wrap {
    text-align: left;
}

.credit .copyright .desc-widget-wrap {
    text-align: right;
}

footer .credit .desc-properties {
    font-size: 14px;
    color: #666;
}

@media (max-width: 1024px) {
    /* Start Header */
    .landing{
        width: 100%;
        height: 648px;
        top: 0;
        left: 0;
    }

    .landing .landing-wrapper{
        height: 648px;
    }

    .landing .detail .open{
        padding-right: 12px;
    }
    
    .header-container .detail .detail-wrapper{
        width: 1000px;
        display: flex;
        justify-content: space-between;
    }

    .open, 
    .address-phone{
        padding: 0 70px 0 15px;
    }

        .title img{
            padding: 0 0 0 15px;
            width: 135px;
        }

        .title-navbar .navbar{
            display: none;
        }
        
        .burger-icon-container{
            display: block;
        }
        
    .judul h2{
        margin: 0;
        font-size: 56px;
        padding-bottom: 20px;
    }

    .judul h2 span{
        font-size: 48px;
    }
        /* End Header */
        
    /* Content */
    .content-container{
        padding: 40px 10px 60px 0px;
    }

    .img-wrapper img {
        max-width: 100%;
        width: 100%;
        height: 650px;
    }

    .content-container .kolom-deskripsi {
        max-width: 100%;
        width: 500px;
        height: 459px;
    }
    /* End Content */

    /* Our Services */
    .our-services .our-services-container{
        flex-wrap: wrap;
        display: flex;
    }

    .card{
        padding: 20px 0px 20px 0px;
    }
    
    .row{
        max-width: 100%;
        width: 100%;
        padding-right: 15px;
    }

    .row .our-service-desc{
        margin-bottom: 45px;
    }

    .row .our-service-desc .our-service-desc-wrapper{
        padding: 0px 10px 0px 0px;
    }

    .row .our-service-desc .our-service-desc-wrapper p{
        width: 290px;
        line-height: 26px;
    }

    .btn-viewall{
        padding: 20px 20px 20px 20px;
    }

    .card .row .row-containers{
        max-width: 100%;
        width: 300px;
        margin: 0;
        padding: 15px;
    }

    .card .row .row-container{
        width: 100%;
        padding: 15px;
        margin: 15px 30px 20px 0
    }

    .card .row .row-container .row-wrapper p{
        width: 250px;
    }
    /* End Our Services */

    /* Latest Project */
    .latest-project .latest-project-container  .latest-project-wrapper {
        padding: 30px;
    }

    .latest-project .latest-project-container .latest-project-wrapper .title-text-late p{
        max-width: 100%;
        width: 100%;
    }

    .latest-project .latest-project-container .latest-image-gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .latest-image-gallery-wrapper{
        max-width: 100%;
        width: 100%;
        display: flex;
    }

    .latest-project .latest-project-container .latest-image-gallery .latest-image-gallery-content{
        display: block;
    }

    .latest-background-container-residental .latest-text p{
        color: #a8a8a8;
        text-align: center;
        padding: 0 70px;
        position: relative;
        top: 23px;
        line-height: 26px;
    }

    .latest-background-container-restaurant .latest-text p{
        color: #a8a8a8;
        text-align: center;
        padding: 0 70px;
        position: relative;
        top: 23px;
        line-height: 26px;
    }

    .latest-background-container-corporate .latest-text p{
        color: #a8a8a8;
        text-align: center;
        padding: 0 70px;
        position: relative;
        top: 23px;
        line-height: 26px;
    }

    .latest-background-container-residentall .latest-text p{
        color: #a8a8a8;
        text-align: center;
        padding: 0 70px;
        position: relative;
        top: 23px;
        line-height: 26px;
    }

    .latest-background-container-commercial .latest-text p{
        color: #a8a8a8;
        text-align: center;
        padding: 0 70px;
        position: relative;
        top: 23px;
        line-height: 26px;
    }

    .latest-background-container-restaurantt .latest-text p{
        color: #a8a8a8;
        text-align: center;
        padding: 0 70px;
        position: relative;
        top: 23px;
        line-height: 26px;
    }

    /* Our Team */
    .our-team {
        display: block;
        padding: 20px 0px 20px 0px; 
    }

    .our-team .our-team-wrapper{
        width: 100%;
        padding: 10px;
    }

    .our-team-profile{
        padding: 20px;
    }

    .our-team-profile .team{
        max-width: 100%;
        width: 100%;
    }

    .our-team-profile .team .identity{
        max-width: 100%;
        width: 80%;
    }

    .our-team-profile .team img{
        width: 460px;
        background-size: cover;
        display: block;   
    }

    .our-team .team .social-media {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #00000091;
        overflow: hidden;
        width: 460px;
        height: 0;
        transition: 0.7s ease;
    }

    .card-hover:hover .social-media {
        height: 100%;
    }

    .our-team-profile .card-hover .social-media .social-media-icon{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 200px;
    }
    /* End Our Team */

    /* How We Work */
    .work {
        padding: 40px 0px 40px 0px;
    }

    .work .sometext-and-number-parent{
        padding: 0px 10px 0px 20px;
    }

    .work .sometext-and-number .row {
        padding: 0px 30px 0px 0px;
    }

    .work .sometext-and-number .row .row-content .row-wrapper .text .text-wrapper p{
      width: 280px;
      line-height: 23px;
    }
    /* End How We Work */

    .testimonial{
        display: block;
    }

    .testimonial .testimonial-wrapper{
        flex-wrap: wrap;
    }

    .testimonial-wrapper .image-container img{
        width: 100%;
        max-width: 100%;
    }
    .testimonial-desc{
        width: 100%;
        padding: 60px 0px 20px 0px ;
    }

    .testimonial-desc .testimonial-desc-wrapper {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .testimonial-desc .testimonial-desc-wrapper p{
        width: 878px;
        padding-left: 100px;
        line-height: 26px;
    }

    .testimonial-desc .profile .profile-wrapper p{
        width: 100%;
        padding-left: 50px;
        line-height: 26px;
    }

    .testimonial-desc .profile .profile-wrapper .profile-name img{
        padding: 0;
    }

    .testimonial-desc .profile .profile-wrapper .profile-name {
        padding-left: 50px;
        margin-top: -10px;
    }

    .testimonial-desc .profile .profile-wrapper .profile-name .profile-name-desc p{
        padding-left: 10px;
        width: 100%;
    }

    .testimonial-desc .profile .profile-wrapper .profile-name .profile-name-desc span{
        padding: 10px;
    }

    .testimonial-desc .profile i{
        padding-right: 30px;
    }
    /* End Testimonials */

    /* Start Footer */
    footer {
        padding: 40px 10px 20px 10px;
    }

    footer .inner, footer .inner .projects-column .projects-gallery {
        flex-wrap: wrap;
    }

    footer .inner .inner-column, footer .inner .other-pages-column, footer .inner .quick-links-column, footer .inner .projects-column, footer .inner .projects-column .projects-gallery .gallery-item {
        width: 50%;
    }

    footer .inner .projects-column .content-widget-wrap {
        margin: 20px 0 0 0;
    }
}

@media (max-width: 768px) {
    .landing{
        width: 100%;
        height: 510px;
        top: 0;
        left: 0;
    }

    .landing .landing-wrapper{
        height: 510px;
    }

    .landing .header-container{
        display: none;
    }

        .title img{
            padding: 20px 0 0 20px;
            width: 210px;
        }

        .title-navbar .title-navbar-wrapper .navbar{
            display: none;
        }

        .title-navbar .title-navbar-wrapper .title-navbar-parent{
            width: 890px;
        }

        .title-navbar .title-navbar-wrapper .navbar{
            padding: 0 0 0 150px;
        }

    /* About Title and Button */
    .judul{
        margin: 0;
        padding-top: 20px;
    }

    .judul h2{
        color: #AD9271;
        font-size: 30px;
        padding-bottom: 40px;
    }

    .judul h2 span{
        color: white;
        display: block;
        font-size: 28px;
        padding-top: 10px;
    }

    .btn-view{
        border-color: #ffff;
        border-style: solid;
        padding:15px 20px 15px 20px;
        color: #ffff;
        border: 1px solid;
        text-transform: uppercase;
        text-decoration: none;
    }

    /* Content */
    .content-container{
        flex-wrap: wrap;
        padding: 40px 0px 20px 0px;
    }

    .img-wrapper img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        padding: 0 15px 0 15px;
    }

    .img-wrapper .button-video-container{
        width: 580px;
    }

    .img-wrapper .button-video-container .contents{
        padding-left: 70px;
    }

    .content-container .kolom-deskripsi {
        width: 100%;
        height: 320px;
        text-align: center;
        justify-content: center;
        display: flex;
        margin: 0;
    }

    .content-container .kolom-deskripsi .deskripsi{
        padding: 20px 10px 10px 10px;
        max-width: 100%;
    }

    .content-container .kolom-deskripsi .deskripsi p{
        text-align: center;
        font-size: 14px;
        width: 100%;
    }

    .btn-read{
        padding: 18px 40px 18px 40px;
    }
    /* End Content */

    /* Our Services */
    .our-services .our-services-container{
        flex-wrap: wrap;
        height: auto;
    }

    .card{
        padding: 20px 15px 20px 5px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .row{
        max-width: 100%;
        width: 100%;
        padding: 0;
    }

    .row .our-service-desc{
        margin: 0;
    }

    .row .our-service-desc .our-service-desc-wrapper{
        padding: 0px 10px 0px 0px;
    }

    .row .our-service-desc .our-service-desc-wrapper {
        text-align: center;
    }

    .row .our-service-desc .our-service-desc-wrapper p{
        width: 100%;
        font-size: 14px;
        justify-items: center;
        text-align: center;
    }

    .btn-viewall{
        padding: 15px 35px 15px 35px;
    }

    .card .row .row-containers{
        max-width: 100%;
        width: 100%;
        margin: 0;
        height: 180px;
    }

    .card .row .row-containers .row-wrapper p{
        width: 100%;
        font-size: 14px;
    }

    .card .row .row-container{
        max-width: 100%;
        width: 100%;
        margin: 10px 0 0 0;
        height: 180px;
    }

    .card .row .row-container .row-wrapper{
        padding-top: 50px;
    }

    .card .row .row-container .row-wrapper p{
        width: 100%;
        font-size: 14px;
    }
    /* End Our Services */

    /* Latest Project */
    .latest-project .latest-project-container  .latest-project-wrapper {
        padding: 50px;
    }

    .latest-project .latest-project-container .latest-project-wrapper .title-text-late p{
        max-width: 100%;
        width: 100%;
        font-size: 14px;
    }

    .latest-project .latest-project-container .latest-image-gallery .latest-image-gallery-container .latest-image-gallery-wrapper{
        max-width: 100%;
        width: 100%;
    }

    .latest-project .latest-image-gallery .latest-image-gallery-wrapper{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        padding: 15px;
    }

    .latest-image-gallery-content .latest-background-container-residental{
        width: 100%;
        height: 400px;
    }

    .latest-image-gallery-content .latest-background-container-restaurant{
        width: 100%;
        height: 400px;
    }

    .latest-image-gallery-content .latest-background-container-corporate{
        width: 100%;
        height: 400px;
    }

    .latest-image-gallery-content .latest-background-container-residentall{
        width: 100%;
        height: 400px;
    }

    .latest-image-gallery-content .latest-background-container-commercial{
        width: 100%;
        height: 400px;
    }

    .latest-image-gallery-content .latest-background-container-restaurantt{
        width: 100%;
        height: 400px;
    }

    .latest-background-container-residental .latest-text p{
        color: #a8a8a8;
        text-align: center;
        padding: 0 100px;
        position: relative;
        top: 23px;
    }

    .latest-background-container-restaurant .latest-text p{
        color: #a8a8a8;
        text-align: center;
        padding: 0 100px;
        position: relative;
        top: 23px;
    }

    .latest-background-container-corporate .latest-text p{
        color: #a8a8a8;
        text-align: center;
        padding: 0 100px;
        position: relative;
        top: 23px;
    }

    .latest-background-container-residentall .latest-text p{
        color: #a8a8a8;
        text-align: center;
        padding: 0 100px;
        position: relative;
        top: 23px;
    }

    .latest-background-container-commercial .latest-text p{
        color: #a8a8a8;
        text-align: center;
        padding: 0 100px;
        position: relative;
        top: 23px;
    }

    .latest-background-container-restaurantt .latest-text p{
        color: #a8a8a8;
        text-align: center;
        padding: 0 100px;
        position: relative;
        top: 23px;
    }
    /* End Latest Project */

    /* Our Team */
     .our-team {
        text-align: center;
        padding: 20px 0px 20px 0px; 
    }

    .our-team .our-team-wrapper{
        width: 100%;
    }

    .our-team .our-team-wrapper h2{
        font-size: 24px;
    }

    .our-team .our-team-wrapper .desc p{
        font-size: 14px;
    }

    .our-team-profile {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin-top: -60px;
        padding: 10px;
    }

    .our-team-profile .team{
        width: 100%;
        max-width: 100%;
    }

    .our-team-profile .team img{
        width: 100%;
        max-width: 100%;
    }

    .our-team .team .social-media {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #00000091;
        overflow: hidden;
        width: 730px;
        height: 0;
        transition: 0.7s ease;
    }

    .card-hover:hover .social-media {
        height: 100%;
    }

    .our-team-profile .card-hover .social-media .social-media-icon{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 350px;
    }

    .our-team-profile .card-hover .social-media .social-media-icon i{
        color: #FFFFFF;
        font-size: 18px;
    }

    .our-team-profile .social-media .social-media-icon .facebook{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
        background-color: #ad9271;
        border-radius: 50%;
        width: 45px;
        height: 45px;
    }
    
    .our-team-profile .social-media .social-media-icon .facebook:hover{
        background-color: #181818;
        transition: 0.3s;
    }
    
    .our-team-profile .social-media .social-media-icon .twitter{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
        background-color: #ad9271;
        border-radius: 50%;
        width: 45px;
        height: 45px;
    }
    
    .our-team-profile .social-media .social-media-icon .twitter:hover{
        background-color: #181818;
        transition: 0.3s;
    }
    
    .our-team-profile .social-media .social-media-icon .instagram{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
        background-color: #ad9271;
        border-radius: 50%;
        width: 45px;
        height: 45px;
    }
    
    .our-team-profile .social-media .social-media-icon .instagram:hover{
        background-color: #181818;
        transition: 0.3s;
    }

    /* End Our Team */

    /* How We Work */
    .work {
        padding: 40px 0px 40px 0px;
    }

    .work .work-content .desc-work .how .how-wrapper p{
        width: 100%;
        font-size: 16px;
    }

    .work .sometext-and-number-parent{
        padding: 0 10px 0px 10px;
    }

    .work .sometext-and-number-parent .head-number{
        margin-top: -10px;
    }

    .work .sometext-and-number-parent .sometext-and-number{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        display: flex;
    }

    .work .sometext-and-number .row {
        padding: 0;
    }
    
    .work .sometext-and-number .row .row-content .row-wrapper .text .text-wrapper p{
        width: 100%;
        font-size: 14px;
        margin-top: 5px;
        margin: 0;
    }
    /* End How We Work */

    /* Testimonial */
    .testimonial-desc .testimonial-desc-wrapper p{
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 16px;
    }

    .testimonial-desc .profile .profile-wrapper p{
        padding: 0  0 0 30px;
        font-size: 14px;
        width: 93%;
    }
    /* End Testimonial */

    /* Contact Us  */
    .contactus .contactus-wrapper{
        padding: 40px 10px 40px 10px;
        flex-wrap: wrap;
    }

    .contactus .contactus-wrapper .contactus-side{
        padding: 10px 20px 10px 10px;
    }

    .contactus .contactus-wrapper .contactus-side-title .contactus-side-text{
        font-size: 14px;
        width: 100%;
    }

    .contactus .contactus-wrapper .contactus-form{
        width: 100%;
        height: 100%;
    }

    .contactus .contactus-wrapper .contactus-form .contactus-form-wrapper form .user-data input {
        width: 100%;
        max-width: 100%;
    }

    .contactus-form .contactus-form-wrapper .message{
        width: 100%;
    }

    .contactus-wrapper .contactus-form .contactus-form-wrapper form .btn-send{
        align-items: center;
        text-align: center;
        padding: 18px 40px 18px 40px;
    }

    /* Start Footer */
    footer {
        padding: 0 10px;
    }

    footer .inner {
        flex-wrap: wrap;
    }

    footer .inner .inner-column {
        padding-top: 0;
        margin-top: 25px;
    }

    footer .inner .inner-column, footer .inner .other-pages-column, footer .inner .quick-links-column, footer .inner .projects-column {
        width: 100%;
    }

    .inner .inner-column .desc-properties {
        font-size: 14px;
    }

    .projects-gallery .gallery-item .container-img {
        height: 120px;
    }

    .inner .projects-column .content-widget-wrap .projects-gallery {
        flex-wrap: wrap;
    }

    .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item {
        width: 50%;
    }

    /* Credit Section */
    footer .credit {
        flex-wrap: wrap;
    }

    footer .credit .jegtheme, footer .credit .copyright {
        width: 100%;
    }

    footer .credit .jegtheme .desc-widget-wrap, footer .credit .copyright .desc-widget-wrap {
        text-align: center;
        padding: 10px;
    }
}