:root {
    --p-color: #666;
    --h1-color: #181818;
    --h2-color: #ad9271;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: Lato, sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

/* body * {
    border: 1px solid red;
} */

a {
    text-decoration: none;
}

/* Start */

/*  Landing Section  */
/* Address, Phone, and Opening Time */
/* Start Header */

.landing {
    /* Masukkan Gambar background */
    background: url('../images/our-team-img-header-2000x1314.jpg');
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 548px;
    background-position: center center;
}

.landing .header-container{
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    width: 100%;
    height: -webkit-fill-available;
}

.landing .header-container .detail{
    border-bottom: 1px solid #696969;
    display: flex;
    justify-content: center;
}

.header-container .detail{
    display: flex;
    justify-content: center;
}

.header-container .detail i{
    color: #ad9271;
}

.header-container .detail .detail-wrapper{
    display: flex;
    justify-content: space-between;
    color: white;
    font: 12px 'Heebo', sans-serif;
    width: 1452px;
}

.address-phone {
    padding: 10px 70px 10px 110px;
    display: flex;
}

.address-phone p{
    padding-left: 6px;
}

.detail-wrapper .open p{
    padding-left: 6px;
}

.address-phone .address{
    display: flex;
    align-items: center;
}

.address-phone .phone{
    display: flex;
    align-items: center;
}

.address-phone .phone i{
    padding-left: 6px;
}

.landing .detail .open{
    padding-right: 150px;
    display: flex;
    align-items: center;
}

/* Start Navbar */
    .title-navbar .title-navbar-wrapper{
        justify-content: center;
        display: flex;
    }

    .title-navbar .title-navbar-wrapper .title-navbar-parent{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
        /* padding-bottom: 300px; */
        width: 1452px;
    }

    .title img {
        width: 200px;
        height: auto;
        padding-left: 113px;
        padding-bottom: 7px;
    }

    .title-navbar .title-navbar-wrapper .navbar{
        padding-right: 150px;
    }

    #uppercase{
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
    }

    .navbar .dropdown {
        position: relative;
        display: inline-block;
        padding-bottom: 7px;
        padding-left: 20px;
    }

    .navbar .dropdown:hover{
        cursor: pointer;
    }

    .navbar .dropdown a{
        text-decoration: none;
        color: white;
    }

    .dropdown i{
        font-size: 12px;
        color: white;
    }

    .navbar .dropdown:hover{
        color: #ad9271;
        transition: 0.3s;
    }

    .navbar .dropdown:hover i{
        color: #ad9271;
        transition: 0.3s;
    }

    .navbar .dropdown span:hover{
        color: #ad9271;
        transition: 0.3s;
    }
    
    .navbar .dropdown a:hover{
        color: #ad9271;
        transition: 0.3s;
    }

    .navbar .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
        top: 12px;
    }

    .navbar .dropdown-content a{
        padding: 12px 0;
        text-decoration: none;
        color: #666666;
    }

    .navbar .dropdown:hover .dropdown-content{
        display: flex;
        flex-direction: column;
        right: 0;
        left: -1px;
        top: 30px;
    }

    .landing-title{
        display: flex;
        justify-content: center;
    }

    .landing-title-wrapper{
        width: 1452px;
    }

    .landing-title-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 300px 0 0 0;
    }

    .title-pages,
    .title-pages-detail {
        padding: 20px 150px 20px 70px;
    }

    .title-pages h2 {
        padding-left: 40px;
        font-size: 48px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .title-pages-detail p {
        font-family: Heebo, sans-serif;
        font-size: 16px;
    }

    .title-pages-detail i{
        color: #ad9271;
    }
/* End Navbar */
/* End Header */

/* <==================== Main ====================> */
    .heading-title {
        padding-top: 10vh;
        font-size: 100px;
        text-align: center;
    }

    .heading-title h2 {
        color: #ffffff;
        text-shadow: 0 0 #000000;
    }

    .our-team {
        position: relative;
        bottom: 55px;
    }

    .heading-title-2 h2 {
        color: var(--h1-color);
        font-size: 2rem;
        font-weight: bolder;
        text-align: center;
    }

    .our-team {
        padding: 10px;
    }

    .our-team .desc {
        margin: 40px 0;
        padding: 0 360px;
    }

    .our-team .desc p {
        color: var(--p-color);
        font-size: 1rem;
        font-family: Heebo, sans-serif;
        text-align: center;
    }

    .our-team-profile{
        padding: 0 60px;
    }
    
    .our-team-profile .our-team-profile-wrapper {
        display: flex;
        justify-content: center;
        gap: 15px;
        order: 3;
    }
    
    .our-team-profile .team {
        max-width: 100%;
        display: flex;
        flex-flow: column;
    }

    .card-hover {
        position: relative;
    }

    .our-team-profile img {
        display: block;
        width: 357px;
        height: auto;
        background-size: cover;
    }

    .our-team .team .social-media {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }

    .card-hover .social-media{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-hover .social-media i{
        font-size: 15px;
        background-color: #AD9271;
        border-radius: 50%;
        margin: 0 12px;
        color: white;
        padding: 15px;
    }

    .card-hover .social-media .paddinged{
        padding: 15px 18px;
    }

    .card-hover .social-media i:hover{
        background-color: #181818;
        color: white;
        transition: 0.3s;
    }

    .card-hover:hover .social-media{
        height: 100%;
    }

    .social-media .icon {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .our-team-profile .identity {
        background-color: #fff;
        position: relative;
        bottom: 15px;
        margin: auto;
        padding: 20px 0;
        width: 247px;
        text-align: center;
        box-shadow:
            0 1.5px 1.9px rgba(0, 0, 0, 0.031),
            0 4px 8.5px rgba(0, 0, 0, 0.047),
            0 9.4px 26.7px rgba(0, 0, 0, 0.055),
            0 32px 100px rgba(0, 0, 0, 0.12);
    }

    .our-team-profile .identity h4 {
        font-weight: bold;
        font-size: 1.125rem;
        color: var(--h1-color);
        padding-bottom: 15px;
    }

    .our-team-profile .identity p {
        font-family: 'Heebo', sans-serif;
        font-size: 1rem;
        color: var(--p-color);
        font-weight: lighter;
    }
/* End of Our Team */

/* Our Projects */
    .latest-image-gallery{
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .latest-image-gallery-wrapper .latest-image-gallery-content{
        display: flex;
        max-width: 100%;
    }

    .latest-image-gallery-content .latest-background-container{
        background-image: url('../images/cafe-lounge-restaurant-2000x1333.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 400px;
    }

    .latest-image-gallery-content .residential{
        background-image: url('../images/modern-style-interior-design-3d-rendering-2-2000x1334.jpg');
        height: 400px;
    }

    .latest-image-gallery-content .restaurant2{
        background-image: url('../images/img_restaurant-1024x768.jpg');
        height: 400px;
    }

    .latest-background-container .latest-text{
        height: -webkit-fill-available;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
    }

    .latest-background-container .latest-text h3{
        color: white;
        text-align: center;
        position: relative;
        top: 23px;
        font-size: 20px;
        font-weight: 600;
        margin: 16px 0;
    }

    .latest-background-container .latest-text p{
        color: #a8a8a8;
        text-align: center;
        padding: 0 63px;
        position: relative;
        top: 23px;
    }

    .latest-background-container:hover .latest-text{
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.7);
        transition: 0.3s;
    }

    .latest-background-container:hover .latest-text h3{
        top: 0;
        transition: 0.3s;
    }

    .latest-background-container:hover .latest-text p{
        top: 0;
        transition: 0.7s;
    }
/* End of Our Projects */

/* Start Our Expertise */
    .our-expertise{
        position: relative;
        top: 95px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .our-expertise-container{
        display: flex;
        align-items: center;
    }

    .our-expertise-wrapper .our-expertise-desc{
        width: 100%;
    }

    .title-our-expertise h2{
        font-size: 18px;
        color: #AD9271;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .subtitle-our-expertise{
        max-width: 100%;
    }

    .subtitle-our-expertise h2{
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 32px;
        width: 523px;
        font-weight: 600;
        text-align: left;
        line-height: 1.3em;
        margin: 0;
    }

    .our-expertise-desc-wrapper p{
        width: 500px;
        color: #666666;
        font-family: 'Heebo', sans-serif;
        margin: 16px 0;
    }

    .our-expertise-percentage .track-container{
        margin: 0 0 20px 0;

    }

    .our-expertise-percentage .skill-title{
        margin: 0 0 7px 0;
    }

    .our-expertise-percentage .track-percentage{
        width: 560px;
        height: 15px;
        background-color: #F8F8F8;
    }

    .track-percentage .skill-track{
        background-color: #AD9271;
        max-width: 560px;
        width: 0;
        height: 15px;
        animation-name: residental;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-delay: 2s;
    }

    .track-percentage .commercial{
        max-width: 560px;
        width: 0;
        animation-name: commercial;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-delay: 2s;
    }

    .track-percentage .corporates{
        max-width: 560px;
        width: 0;
        animation-name: corporates;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-delay: 2s;
    }

    @keyframes residental{
        from{
            width: 0%;
        }

        to{
            width: 86%;
        }
    }

    @keyframes commercial{
        from{
            width: 0%;
        }

        to{
            width: 75%;
        }
    }

    @keyframes corporates{
        from{
            width: 0%;
        }

        to{
            width: 78%;
        }
    }
/* End Our Exepertise */

/* Start Get Started */
.getstarted {
    padding: 60px 0;
    background-color: #181818;
    position: relative;
    top: 200px;
}

.getstarted .getstarted-wrapper {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.getstarted-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.getstarted-side {
    display: flex;
    position: relative;
    min-height: 1px;
    padding: 10px;
    width: 52.193%;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.getstarted .getstarted-wrapper .getstarted-side h2 {
    text-transform: capitalize;
    margin-bottom: 20px;
    width: 100%;
    color: #ffffff;
    font-family: "Heebo", sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.getstarted-wrapper .getstarted-side .get-sometext {
    text-align: left;
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    padding-right: 60px;
    font-size: 1rem;
    color: #666666;
    line-height: 24px;
}

.getstarted-wrapper .getstarted-button {
    margin: 50px 0 0 0;
    padding-left: 10px;
    text-align: right;
    position: relative;
}

.getstarted-wrapper .getstarted-button a {
    position: relative;
    text-transform: uppercase;
    padding: 20px 40px 20px 40px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
}

.getstarted-wrapper .getstarted-button a:hover {
    background-color: white;
    color: rgb(24 24 24);
    transition: 0.3s;
}

/* End Get Started */

@media (max-width: 1100px){
    .address-phone{
        padding: 10px 70px 10px 11px;
    }

    .landing .detail .open{
        padding: 0 21px 0 0;
    }

    .title img{
        width: 100px;
        padding: 0 0 0 11px;
    }

    .title-navbar .title-navbar-wrapper .navbar{
        padding: 0 21px 0 0;
    }

    .landing-title-content .title-pages{
        padding: 0 0 0 11px;
    }

    .title-pages h2{
        padding: 0;
    }

    .landing-title-content .title-pages-detail{
        padding: 0 21px 0 0;
    }

    .our-team .desc{
        padding: 0 30%;
    }

    .our-team-profile img{
        width: 100%;
    }

    .our-expertise-percentage{
        max-width: 100%;
    }

    .our-expertise-percentage .track-percentage{
        width: 100%;
    }

    .our-expertise-percentage .track-container{
        width: 335px;
    }
}

@media (max-width: 1000px){
    .title-navbar .title-navbar-wrapper .navbar{
        display: none;
    }
}

@media (max-width: 900px){
    .landing{
        height: 370px;
    }

    .landing-title-content{
        margin: 187px 0 0 0;
    }

    .heading-title h2{
        display: none;
    }

    .our-team .desc{
        padding: 0;
    }

    .our-team-profile{
        padding: 0;
    }

    .our-team-profile .our-team-profile-wrapper{
        flex-wrap: wrap;
    }

    .our-team-profile .identity{
        width: 95%;
    }

    .latest-image-gallery-wrapper .latest-image-gallery-content{
        flex-wrap: wrap;
    }

    .our-expertise-container{
        flex-wrap: wrap;
        justify-content: center;
    }

    .title-our-expertise h2{
        text-align: center;
        margin: 16px 0;
    }

    .subtitle-our-expertise h2{
        text-align: center;
        width: 100%;
        font-size: 24px;
    }

    .our-expertise-desc-wrapper{
        width: 100%;
    }

    .our-expertise-desc-wrapper p{
        text-align: center;
        margin: 16px 0;
        width: auto;
    }

    .getstarted-row{
        display: block;
    }

    .getstarted .getstarted-wrapper .getstarted-side{
        width: 100%;
    }

    .getstarted .getstarted-wrapper .getstarted-side h2{
        text-align: center;
    }

    .getstarted-wrapper .getstarted-side .get-sometext{
        padding: 0;
        text-align: center;
    }

    .getstarted-wrapper .getstarted-button{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 765px){
    .header-container .detail .detail-wrapper{
        display: none;
    }

    .title img{
        width: 200px;
    }

    .landing-title-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .landing-title-content{
        display: block;
        margin: 95px 0 0 0;
    }

    .landing-title-content .title-pages{
        padding: 0;
    }

    .title-pages h2{
        font-size: 24px;
    }

    .title-pages-detail p{
        margin: 16px 0;
    }
}