/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

/* CSS Reset End. */
:root {
    --primary-color: #181818;
    --secondary-color: #666;
    --other-color: #ad9271;
}

/* Main */
.container-padding-default {
    padding: 100px 0px;
    position: relative;
}

.width-fixed-content {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    position: relative;
}

.content-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-widget-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.text-container {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.title-properties {
    color: var(--primary-color);
    font-family: "Lato", Sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.description-widget-wrap {
    padding: 0 25%;
}

.desc-properties {
    color: var(--secondary-color);
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}

.space-height-default {
    margin-top: 20px;
    margin-bottom: 0;
    width: 100%;
    position: relative;
}

.price-card {
    width: 33.333%;
    display: flex;
    position: relative;
}

.card-element {
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #0000001a;
    width: 100%;
    position: relative;
    display: flex;
}

.starter-plan .card-element {
    margin-right: 20px;
}

.enterprise .card-element {
    margin: 0 10px;
}

.proffesional-plan .card-element {
    margin-left: 20px;
}

.card-widget-wrap {
    padding: 40px 0;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.card-widget-wrap .card-element-container {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    position: relative;
}

.card-title {
    margin-bottom: 20px;
}

.card-title-properties {
    color: var(--primary-color);
    font-family: "Lato", Sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.benefit-item {
    list-style-type: none;
    padding-bottom: calc(50px/2);
}

.benefit-item:not(:first-child) {
    margin-top: calc(50px/2);
}

.benefit-item:not(:last-child) {
    padding-bottom: calc(50px/2);
}

/* .benefit-item:not(:last-child)::after {
    content: "";
    width: 60%;
    border: 1px solid #6B7C9326;
} */

.benefit-text-properties {
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.price-detail {
    margin-bottom: 20px;
    text-align: center;
}

.price {
    color: var(--primary-color);
    font-family: "Heebo", Sans-serif;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 10px;
}

.subscription {
    color: var(--secondary-color);
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 0.3em;
    margin-bottom: 20px;
}

.btn-container {
    width: 100%;
    position: relative;
    text-align: center;
}

.btn-widget-container {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.btn-wrapper a {
    text-decoration: none;
    font-family: "Heebo", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--primary-color);
    border-radius: 0px 0px 0px 0px;
    padding: 18px 32px 18px 32px;
    background-color: #181818;
    color: #fff;
    transition: 0.3s;
}

.btn-text:hover {
    background-color: #fff;
    color: #181818;
}
/* Price Card End */

/* Responsive Web Design */

/* For Mobile */
@media (max-width: 767px) {
    .width-fixed-content {
        max-width: 767px;
    }

    .content-widget-wrap {
        padding: 0 10px;
    }

    .title-properties {
        font-size: 24px;
    }

    .desc-properties {
        font-size: 14px;
    }

    .space-height-default .content-row {
        flex-wrap: wrap;
    }

    .space-height-default .content-row .price-card {
        width: 100%;
    }

    .space-height-default .content-row .price-card:not(:first-child) {
        margin-top: 20px;
    }

    .space-height-default .content-row .price-card .card-element {
        margin-left: 0;
        margin-right: 0;
    }
}
/* End Mobile */

@media (max-width: 1024px) {
    .description-widget-wrap {
        padding: 0 9%;
    }
}

/* For Tablet */
@media (max-width: 1024px) and (min-width: 768px) {
    .container-padding-default {
        padding: 60px 10px;
    }

    .container-padding-default .width-fixed-content {
        max-width: 1024px;
    }

    .container-padding-default .width-fixed-content .content-row .content-widget-wrap {
        padding-top: 10px;
    }

    .container-padding-default .width-fixed-content .content-row .content-widget-wrap .space-height-default .width-fixed-content .content-row .price-card .card-element {
        margin: 0 10px;
    }
}
/* End Tablet */

/* End Responsive Web Design */


/* How We We Work */
.how-we-work {
    background-color: #F8F8F8;

}

.container-work {
    width: 100%;
    display: flex;
}

.content-work-detail {
    width: 50%;
    padding: 10px 60px 10px 0;
}

.how-we-work .text-container {
    text-align: left;
}

.content-pict {
    width: 50%;
}

.how-we-work .description-widget-wrap {
    padding: 0;
    margin-bottom: 20px;
}

.how-we-work .description-widget-wrap .desc-properties {
    padding-right: 20px;
    text-align: start;
}

.work-item {
    width: 100%;
    margin-top: 20px;
    display: flex;
}

.concept-container {
    display: flex;
}

.content-number {
    width: 27.273%;
    padding-right: 20px;
}

.content-desc {
    width: 72.727%;
}

.content-number .number-properties {
    color: #F8F8F8;
    font-family: "Roboto", Sans-serif;
    font-size: 96px;
    font-weight: 600;
    text-shadow: 0px 0px 2px #0000004d;
}

.content-desc {
    padding: 0 10px;
}

.concept-title {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.concept-title h3 {
    color: var(--primary-color);
    font-family: "Lato", Sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.concept-detail .desc-properties {
    text-align: start;
}

.content-pict {
    width: 50%;
}

.content-pict img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Responsive Web Design */

/* For Mobile */
@media (max-width: 767px) {
    .container-padding-default {
        padding: 40px 10px;
    }

    .how-we-work .container-work, .how-we-work .container-work .concept-container {
        flex-wrap: wrap;
    }

    .how-we-work .content-work-detail .desc-properties {
        padding: 0;
    }

    .how-we-work .container-work .content-work-detail, .how-we-work .container-work .content-pict {
        width: 100%;
    }

    .how-we-work .container-work .content-work-detail {
        padding: 0;
    }

    .how-we-work .container-work .content-work-detail * {
        text-align: center;
    }

    .how-we-work .container-work .concept-container .content-number, .how-we-work .container-work .concept-container .content-desc {
        width: 100%;
    }
    
    .how-we-work .work-item .content-number {
        padding: 0;
    }

    .how-we-work .work-item .content-number .number-properties {
        font-size: 72px;
    }
}
/* End Mobile */

@media (max-width: 1024px) {
    .how-we-work .container-work .content-pict {
        display: none;
    }
}

/* For Tablet */
@media (max-width: 1024px) and (min-width: 768px) {
    .how-we-work.container-padding-default .width-fixed-content .container-work {
        padding: 10px 60px 10px 10px;
    }

    .how-we-work.container-padding-default .width-fixed-content .container-work .content-work-detail {
        width: 100%;
    }

    .how-we-work.container-padding-default .width-fixed-content .container-work .content-work-detail .work-item .concept-container .content-number {
        text-align: center;
    }
}
/* End Tablet */

/* End Responsive Web Design */

/* End of How We Work */

/* FAQ */
.faq {
    background-color: var(--primary-color);
    width: 100%;
    position: relative;
}

.faq .content-row {
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
}

.faq .faq-pict {
    z-index: 2;
    width: 50%;
    position: relative;
}

.faq .widget-container {
    position: relative;
}

.faq .faq-pict img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.faq .faq-content {
    background-color: #fff;
    width: 50%;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq .faq-content .faq-widget-wrap {
    width: 100%;
    height: 100%;
    padding: 0 30% 0 10%;
}

.faq .text-container {
    text-align: start;
    padding-top: 40px;
    margin-bottom: 20px;
}

.faq .description-widget-wrap {
    padding: 0;
    margin-bottom: 20px;
}

.faq .desc-properties {
    text-align: start;
}

.faq .faq-content .qna-container .qna-widget-wrap {
    margin-bottom: 40px;
}

.faq-content .faq-widget-wrap .qna-container .qna-widget-wrap .qna-accordion .qna-card  {
    margin-bottom: 10px;
}

.faq .faq-content .faq-widget-wrap .qna-container .qna-widget-wrap .qna-accordion .qna-card .qna-card-header {
    padding: 15px 0 15px 15px;
    display: flex;
    border-bottom: 1px solid #E7EBF0;
    text-decoration: none;
}

.faq .faq-content .faq-widget-wrap .qna-container .qna-widget-wrap .qna-accordion .qna-card .qna-card-header h5 {
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-color);
}

.faq .faq-content .faq-widget-wrap .qna-container .qna-widget-wrap .qna-accordion .qna-card .qna-card-header:hover {
    cursor: pointer;
}

.faq .faq-content .faq-widget-wrap .qna-container .qna-widget-wrap .qna-accordion .qna-card .qna-card-body {
    display: none;
}

.faq .faq-content .faq-widget-wrap .qna-container .qna-widget-wrap .qna-accordion .qna-card .qna-card-body .card-body {
    padding: 20px 40px 0 15px;
}

/* Responsive Web Design */

/* For Mobile */
@media (max-width: 767px) {
    .faq {
        padding: 0 0 10px 0;
    }

    .faq .faq-content .faq-widget-wrap {
        padding: 0 10px 40px 10px; 
    }

    .faq .faq-content .faq-widget-wrap .faq-title, .faq .faq-content .faq-widget-wrap .faq-desc {
        text-align: center;
    }

    .faq.container-default .content-row .faq-content .faq-widget-wrap .qna-container .qna-widget-wrap {
        margin: 0;
    }

    .faq.container-default .content-row .faq-content .faq-widget-wrap .faq-desc {
        padding: 0 10px;
    }

    .faq.container-default .content-row .faq-content .faq-widget-wrap .qna-container .qna-widget-wrap .qna-accordion .qna-card .qna-card-header h5 {
        font-size: 14px;
    }
}
/* End Mobile */

@media (max-width: 1024px) {
    .faq .content-row {
        flex-wrap: wrap;
    }

    .faq .content-row .faq-pict, .faq .content-row .faq-content {
        width: 100%;
    }
}

/* For Tablet */
@media (max-width: 1024px) and (min-width: 768px) {
    .faq.container-default .content-row .faq-content .faq-widget-wrap {
        padding: 40px;
    }

    .faq.container-default .content-row .faq-content .faq-widget-wrap .faq-desc.description-widget-wrap {
        padding: 0 19% 0 0;
    }
}
/* End Tablet */

/* End Responsive Web Design */

/* End FAQ */

/* Get In Touch */
.get-in-touch .container-padding-default {
    background-color: var(--primary-color);
    position: relative;
    padding: 100px 0 100px 0;
}

.get-in-touch .content-row {
    align-items: start;
}

.body-content {
    width: 50%;
    display: flex;
    padding: 80px 80px 10px 10px;
}

.body-content .widget-content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.body-content header {
    margin-bottom: 20px;
    text-align: left;
}

.body-content header h2 {
    color: #fff;
}

.body-content .description-widget-wrap {
    padding: 0;
    margin-bottom: 20px;
}

.body-content .desc-properties {
    text-align: left;
}

.body-content .location {
    margin-bottom: 20px;
}

.body-content .location .desc-properties {
    color: #FFFFFF;
    font-family: "Lato", Sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.body-content .detail {
    margin-bottom: 20px;
}

.icon-list-items {
    list-style-type: none;
}

.icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.icon-list-item:not(:first-child) {
    padding-top: calc(10px/2);
}

.icon-list-item:hover .icon-list-text {
    color: var(--other-color);
}

.detail .icon-list-icon {
    color: var(--other-color);
}

.icon-list-items .icon-list-text {
    padding-left: 5px;
}

.git-form {
    width: 50%;
    background-color: #fff;
}

.git-form form {
    padding: 60px;
}

.git-form form p {
    text-align: left;
}

.git-form input {
    width: 100%;
    padding: 6px 12px 6px 30px;
    border: 1px solid #e7e7e7;
    height: 50px;
    color: #666666;
    margin-top: 20px;
}

.git-form input::placeholder, .git-form textarea::placeholder {
    font-size: 14px;
    color: #666666;
    font-family: "Lato", sans-serif;
}

.git-form textarea {
    padding: 15px 12px 6px 30px;
    width: 100%;
    height: 176px;
    margin-top: 20px;
    border: 1px solid #e7e7e7;
}

.git-form input[type="submit"] {
    width: fit-content;
    font-family: "Heebo", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    padding: 18px 32px;
    color: #ffffff;
    background-color: var(--primary-color);
    border:1px solid var(--primary-color);
    transition: 0.5s;
}

.git-form input[type="submit"]:hover {
    cursor: pointer;
    background-color: #fff;
    color: var(--primary-color);
}

/* Responsive Web Design */

/* For Mobile */
@media (max-width: 767px) {
    .get-in-touch .container-padding-default {
        padding: 40px 10px;
    }

    .width-fixed-content {
        max-width: 767px;
    }

    .get-in-touch .container-padding-default .width-fixed-content .content-row {
        flex-wrap: wrap;
    }

    .get-in-touch .container-padding-default .width-fixed-content .content-row .body-content, .get-in-touch .container-padding-default .width-fixed-content .content-row .git-form {
        width: 100%;
    }

    .get-in-touch .container-padding-default .width-fixed-content .content-row .body-content {
        padding: 10px 20px 10px 10px;
    }
}
/* End Mobile */

/* For Tablet */
@media (max-width: 1024px) and (min-width: 768px) {
    .get-in-touch .container-padding-default {
        padding: 60px 10px;
    }
}
/* End Tablet */

/* End Responsive Web Design */

/* End Get In Touch */

/* Footer */
footer {
    padding: 40px 0 20px 0;
    position: relative;
}

footer .content-row {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

footer .content-row .inner {
    display: flex;
    position: relative;
}

footer .content-row .inner-column {
    width: 33.596%;
    position: relative;
    padding: 10px 60px 10px 10px;
}

.content-row .inner-column header {
    text-align: left;
    margin-bottom: 20px;
}

.content-row .inner-column header img {
    display: inline-block;
    width: 40%;
    object-fit: cover;
}

.content-row .inner-column .desc-widget-wrap {
    margin-bottom: 20px;
}

.content-row .inner-column .desc-properties {
    color: var(--secondary-color);
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}

.content-row .inner-column .contact-icon {
    width: 100%;
    position: relative;
}

.inner-column .contact-icon .social-media {
    margin-right: -5px;
    list-style-type: none;
}

.contact-icon .social-media .bg-icon {
    display: inline-block;
    margin: 5px;
}

.inner-column .contact-icon .social-media .bg-icon a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 50% 50% 50% 50%;
    width: 34px;
    line-height: 32px;
    color: #FFFFFF;
    background-color: var(--primary-color);
}

.inner-column .contact-icon .social-media .bg-icon a .icon {
    font-size: 14px;
}

footer .content-row .header-properties {
    color: var(--primary-color);
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

footer header {
    margin-bottom: 20px;
}

footer .content-row .other-pages-column {
    width: 17.193%;
    padding: 10px;
    position: relative;
}

footer nav ul {
    list-style-type: none;
}

footer .other-pages-column li:not(:last-child) {
    padding-bottom: calc(10px/2);
}

footer .other-pages-column nav li:not(:first-child) {
    margin-top: calc(10px/2);
}

footer nav li a {
    text-decoration: none;
}

footer nav li a:hover {
    color: var(--other-color);
}

footer .content-row .quick-links-column {
    width: 14.211%;
    padding: 10px;
}

footer .quick-links-column li:not(:last-child) {
    padding-bottom: calc(10px/2);
}

footer .quick-links-column nav li:not(:first-child) {
    margin-top: calc(10px/2);
}

footer .content-row .projects-column {
    width: 35%;
    position: relative;
}

footer .projects-column .content-widget-wrap {
    height: 100%;
    margin-left: 30px;
    padding: 10px;
}

.projects-column .projects-gallery {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-column .projects-gallery .gallery-item {
    width: 33.3333%;
}

.projects-gallery .gallery-item .container-img {
    padding: 5%;
    height: 70px;
    position: relative;
    transition: 0.3s;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img .overlay {
    width: 100%;
    height: 100%;
    background-color: #181818b9;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img:hover .overlay {
    opacity: 1;
}

.projects-gallery .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img:hover img {
    opacity: 0.3;
}

.projects-gallery .gallery-item .container-img:hover .overlay {
    opacity: 1;
}

footer .content-row .widget-divider {
    border-bottom: 1px solid #A0AABA2B;
    margin-bottom: 20px;
    padding: 42px 0 2px 0;
}

footer .credit {
    width: 100%;
    display: flex;
}

footer .credit .jegtheme, footer .credit .copyright {
    width: 50%;
}

.credit .desc-widget-wrap {
    padding: 10px;
}

.credit .jegtheme .desc-widget-wrap {
    text-align: left;
}

.credit .copyright .desc-widget-wrap {
    text-align: right;
}

footer .credit .desc-properties {
    font-size: 14px;
}

/* Responsive Web Design */

/* For Mobile */
@media (max-width: 767px) {
    footer {
        padding: 0 10px;
    }

    footer .inner {
        flex-wrap: wrap;
    }

    footer .inner .inner-column {
        padding-top: 0;
        margin-top: 25px;
    }

    footer .inner .inner-column, footer .inner .other-pages-column, footer .inner .quick-links-column, footer .inner .projects-column {
        width: 100%;
    }

    .inner .inner-column .desc-properties {
        font-size: 14px;
    }

    .inner .projects-column .content-widget-wrap {
        margin: 0;
    }

    .inner .projects-column .content-widget-wrap .projects-gallery {
        flex-wrap: wrap;
    }

    .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item {
        width: 50%;
    }

    /* .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img {
        height: 70px;
    } */

    /* .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    } */

    /* Credit Section */
    footer .credit {
        flex-wrap: wrap;
    }

    footer .credit .jegtheme, footer .credit .copyright {
        width: 100%;
    }

    footer .credit .jegtheme .desc-widget-wrap, footer .credit .copyright .desc-widget-wrap {
        text-align: center;
        padding: 10px;
    }
}

/* End Mobile */

/* For Tablet */
@media (max-width: 1024px) and (min-width: 768px) {
    footer {
        padding: 40px 10px 20px 10px;
    }

    footer .inner, footer .inner .projects-column .projects-gallery {
        flex-wrap: wrap;
    }

    footer .inner .inner-column, footer .inner .other-pages-column, footer .inner .quick-links-column, footer .inner .projects-column, footer .inner .projects-column .projects-gallery .gallery-item {
        width: 50%;
    }

    footer .inner .projects-column .content-widget-wrap {
        margin: 20px 0 0 0;
    }
}

/* End Tablet */

/* End Responsive Web Design */

/* End Footer */