*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}
/* Start Header */

.landing {
    /* Masukkan Gambar background */
    background: url('../images/img_industrial-1024x768.jpg');
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 548px;
    background-position: center center;
}

.navbar .dropdown .navbar-active{
    color: #ad9271;
}

.landing .header-container .detail{
    border-bottom: 1px solid #696969;
    display: flex;
    justify-content: center;
}

.header-container .detail{
    display: flex;
    justify-content: center;
}

.header-container .detail i{
    color: #ad9271;
}

.header-container .detail .detail-wrapper{
    display: flex;
    justify-content: space-between;
    color: white;
    font: 12px 'Heebo', sans-serif;
    width: 1452px;
}

.address-phone {
    padding: 10px 70px 10px 110px;
    display: flex;
}

.address-phone p{
    padding-left: 6px;
}

.detail-wrapper .open p{
    padding-left: 6px;
}

.address-phone .address{
    display: flex;
    align-items: center;
}

.address-phone .phone{
    display: flex;
    align-items: center;
}

.address-phone .phone i{
    padding-left: 6px;
}

.landing .detail .open{
    padding-right: 150px;
    display: flex;
    align-items: center;
}

/* Start Navbar */
    .title-navbar .title-navbar-wrapper{
        justify-content: center;
        display: flex;
    }

    .title-navbar .title-navbar-wrapper .title-navbar-parent{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
        padding-bottom: 300px;
        width: 1452px;
    }

    .title img {
        width: 220px;
        height: auto;
        padding-left: 113px;
        padding-bottom: 7px;
    }

    .title-navbar .title-navbar-wrapper .navbar{
        padding-right: 150px;
    }

    #uppercase{
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
    }

    .navbar .dropdown {
        position: relative;
        display: inline-block;
        padding-bottom: 7px;
        padding-left: 20px;
    }

    .navbar .dropdown i{
        font-size: 15px;
        padding-left: 8px
    }

    .navbar .dropdown:hover{
        cursor: pointer;
    }

    .navbar .dropdown a{
        text-decoration: none;
        color: white;
    }

    .dropdown i{
        font-size: 12px;
        color: white;
    }

    .navbar .dropdown:hover{
        color: #ad9271;
        transition: 0.3s;
    }

    .navbar .dropdown:hover i{
        color: #ad9271;
        transition: 0.3s;
    }

    .navbar .dropdown span:hover{
        color: #ad9271;
        transition: 0.3s;
    }
    
    .navbar .dropdown a:hover{
        color: #ad9271;
        transition: 0.3s;
    }

    .navbar .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
        top: 12px;
    }

    .navbar .dropdown-content a{
        padding: 12px 0;
        text-decoration: none;
        color: #666666;
    }

    .navbar .dropdown:hover .dropdown-content{
        display: flex;
        flex-direction: column;
        right: 0;
        left: -1px;
        top: 30px;
    }

    .landing-title{
        display: flex;
        justify-content: center;
    }

    .landing-title-wrapper{
        width: 1452px;
    }

    .landing-title-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 300px 0 0 0;
    }

        .burger-icon-container{
            display: none;
            position: relative;
            z-index: 9999;
            padding: 0 11px 0 0;
        }
    
        .burger-icon-container .burger-icon-wrapper{
            margin-top: 20px;
            background-color: white;
            padding: 15px;
        }
    
        .burger-icon-container .burger-icon-wrapper:hover{
            cursor: pointer;
        }
    
        .burger-icon-wrapper i{
            font-size: 19px;
            color: #AD9271;
        }

        .landing-title{
            display: flex;
            justify-content: center;
        }

        .landing-title-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1452px;
        }

        .title-pages,
        .title-pages-detail {
            padding: 20px 150px 20px 70px;
        }

        .title-pages h2 {
            padding-left: 40px;
            font-size: 42px;
            font-weight: bold;
        }

        .title-pages-detail p {
            font-family: "Heebo", sans-serif;
            font-size: 16px;
        }

        .title-pages-detail i{
            color: #ad9271;
        }
    /* End Navbar */
    #side-nav{
        position: fixed;
        top: 0;
        z-index: 9999;
        left: -110%;
        transition: left 0.9s 0.3s;
    }

    .side-nav-container{
        width: 100%;
        max-width: 360px;
        height: 100%;
        background-color: white;

    }

    #side-nav-background{
        top: 0;
        left: -110%;
        z-index: 999;
        position: fixed;
        transition: left 0.9s;
    }
    
    .side-nav-background{
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
    }

    .side-nav-wrapper .header{
        padding: 20px;
    }

    .side-nav-wrapper .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .img-header img{
        width: 150px;
    }

    .header .exit-button {
        background-color: #181818;
        padding: 8px;
        margin: 15px;
        width: 45px;
        text-align: center;
    }

    .header .exit-button:hover{
        background-color: transparent;
        border: 1px solid #181818;
        transition: 0.9s;
        color: #181818;
        cursor: pointer;
    }

    .side-nav-content .title-side-nav{
        padding: 10px 30px 15px;
    }

    .title-side-nav:hover{
        cursor: pointer;
    }

    .title-side-nav a{
        text-transform: uppercase;
        letter-spacing: 1px;

    }

    .navbar-responsive:hover .dropdown-nav-resp{
        display: block;
    }

    .title-side-nav:hover a{
        color: #AD9271;
        transition: 0.3s;
    }

    .dropdown-nav-resp a:hover{
        color: #AD9271;
        transition: 0.3s;
    }

    .navbar-responsive:hover i{
        color: #AD9271;
        transition: 0.3s;
        border: 1px solid #AD9271;
    }

    .title-side-nav a{
        text-decoration: none;
        color: #181818;
        font-size: 19px;
    }
    
    .title-side-nav i{
        color: #181818;
        margin-left: 20px;
        padding: 4px 15px;
        border: 1px solid #181818;
        border-radius: 30px;
        font-size: 9px;
    }

    .side-nav-content .dropdown-nav-resp{
        background-color: white;
        box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 10%);
        padding: 0 0 0 11px;
        display: none;
    }
    
    .dropdown-nav-resp a{
        text-decoration: none;
        color: #c2c1c1;
        font-size: 19px;
        padding: 15px;
        display: block;
    }
/* End Header */

/* Content */
.not-found-container{
    padding: 100px 0 100px 0;
    position: relative;
}

.not-found-container .not-found-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found-content{
    width: 520px;
    height: 128px;
    text-align: center;
}

.not-found-container .not-found-wrapper .not-found-content .title h2{
    font-size: 128px;
    color: #181818;
    margin: 0;
}

.not-found-container .not-found-wrapper .not-found-content .not-found h1{
    font-size: 32px;
    color: #ad9271;
}

.not-found-content .main-title p {
    font-size: 16px;
    color: #666666;
    font-family: 'Heebo' sans-serif;
}

.btn-back {
    background: #181818;
    border: 1px solid #181818;
    padding:20px 40px 20px 40px;
    color: #ffff;
    text-transform: inherit;
    text-decoration: none;
}

a.btn-back:hover{
    background: #ffff;
    text-decoration: inherit;
    border: 1px solid #181818;
    color: #181818;
    text-transform: uppercase;
    transition: 0.3s;
}

footer {
    padding: 40px 55px 20px 55px;
    position: relative;
    top: 200px;
    display: flex;
    justify-content: center;
}

footer .content-row {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

footer .content-row .inner {
    display: flex;
    position: relative;
}

footer .content-row .inner-column {
    width: 33.596%;
    position: relative;
    padding: 10px 60px 10px 10px;
}

.content-row .inner-column header {
    text-align: left;
    margin-bottom: 20px;
}

.content-row .inner-column header img {
    display: inline-block;
    width: 40%;
    object-fit: cover;
}

.content-row .inner-column .desc-widget-wrap {
    margin-bottom: 20px;
}

.content-row .inner-column .desc-properties {
    color: #666666;
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}

.content-row .inner-column .contact-icon {
    width: 100%;
    position: relative;
}

.inner-column .contact-icon .social-media {
    margin-right: -5px;
    list-style-type: none;
}

.contact-icon .social-media .bg-icon {
    display: inline-block;
    margin: 5px;
}

.inner-column .about-inner-socialmedia{
    display: flex;
}

.inner-column .about-inner-socialmedia .icon a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: #181818;
    color: #ffff;
    border-radius: 50%;
    padding: 10px;
    width: 34px;
    height: 34px;
    text-decoration: none;
}

.inner-column .about-inner-socialmedia .icon a:hover{
    background-color: #ad9271;
    cursor: pointer;
    transition: 0.3s;
}

.inner-column .contact-icon .social-media .bg-icon a .icon {
    font-size: 14px;
}

footer .content-row .header-properties {
    color: var(--primary-color);
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

footer header {
    margin-bottom: 20px;
}

footer .content-row .other-pages-column {
    width: 17.193%;
    padding: 10px;
    position: relative;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
}

footer .other-pages-column li:not(:last-child) {
    padding-bottom: calc(10px/2);
}

footer .other-pages-column nav li:not(:first-child) {
    margin-top: calc(10px/2);
}

footer nav li a {
    text-decoration: none;
    color: #666666;
}

footer nav li a:hover {
    color: #ad9271;
}

footer .content-row .quick-links-column {
    width: 14.211%;
    padding: 10px;
}

footer .quick-links-column li:not(:last-child) {
    padding-bottom: calc(10px/2);
}

footer .quick-links-column nav li:not(:first-child) {
    margin-top: calc(10px/2);
}

footer .content-row .projects-column {
    width: 35%;
    position: relative;
}

footer .projects-column .content-widget-wrap {
    height: 100%;
    margin-left: 30px;
    padding: 10px;
}

.projects-column .projects-gallery {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-column .projects-gallery .gallery-item {
    width: 33.3333%;
}

.projects-gallery .gallery-item .container-img {
    padding: 5%;
    height: 70px;
    position: relative;
    transition: 0.3s;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img .overlay {
    width: 100%;
    height: 100%;
    background-color: #181818b9;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img:hover .overlay {
    opacity: 1;
}

.projects-gallery .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img:hover img {
    opacity: 0.3;
}

.projects-gallery .gallery-item .container-img:hover .overlay {
    opacity: 1;
}

footer .content-row .widget-divider {
    border-bottom: 1px solid #A0AABA2B;
    margin-bottom: 20px;
    padding: 42px 0 2px 0;
}

footer .credit {
    width: 100%;
    display: flex;
}

footer .credit .jegtheme, footer .credit .copyright {
    width: 50%;
}

.credit .desc-widget-wrap {
    padding: 10px;
}

.credit .jegtheme .desc-widget-wrap {
    text-align: left;
}

.credit .copyright .desc-widget-wrap {
    text-align: right;
}

footer .credit .desc-properties {
    font-size: 14px;
    color: #666666;
}


@media(max-width: 1140px) {
    .address-phone{
        padding: 0 70px 0 11px;
    }

    .landing .detail .open{
        padding: 0 41px 0 0;
    }

    .title-navbar .title-navbar-wrapper .navbar{
        padding: 0 41px 0 0;
    }

    .title img{
        width: 100px;
        padding: 0 0 0 11px;
    }

    .landing-title-content .title-pages{
        padding: 0 0 0 11px;
    }

    .title-pages h2{
        padding: 0;
    }

    .landing-title-content .title-pages-detail{
        padding:  0 11px 0 0;
    }
}

@media (max-width: 1025px){
    .landing{
        width: 100%;
        height: 370px;
        top: 0;
        left: 0;
    }

    .landing .landing-wrapper{
        height: 370px;
    }

    .landing .detail .open{
        padding-right: 12px;
    }
    
    .header-container .detail .detail-wrapper{
        width: 1000px;
        display: flex;
        justify-content: space-between;
    }

    .open, 
    .address-phone{
        padding: 0 70px 0 15px;
    }

        .title img{
            padding: 0 0 0 15px;
            width: 125px;
        }

        .title-navbar .navbar{
            display: none;
        }

        .burger-icon-container{
            display: block;
        }

        .landing-title .landing-title-wrapper {
            margin-top: -190px;
        }

        .landing-title .landing-title-wrapper .title-pages{
            padding: 0;
        }

        .landing-title .landing-title-wrapper .title-pages h2{
            margin: 0;
            padding: 0 0 60px 20px;
            font-size: 40px;
        }

        .landing-title .landing-title-wrapper .title-pages-detail{
            padding: 0;
        }

        .landing-title .landing-title-wrapper .title-pages-detail p{
            margin: 0;
            padding: 0 20px 60px 0;
        }
        /* End Header */

    
    /* Start Footer */
    footer {
        padding: 40px 10px 20px 10px;
    }

    footer .inner, footer .inner .projects-column .projects-gallery {
        flex-wrap: wrap;
    }

    footer .inner .inner-column, footer .inner .other-pages-column, footer .inner .quick-links-column, footer .inner .projects-column, footer .inner .projects-column .projects-gallery .gallery-item {
        width: 50%;
    }

    footer .inner .projects-column .content-widget-wrap {
        margin: 20px 0 0 0;
    }
}

@media (max-width: 768px){
    .landing{
        width: 100%;
        height: 370px;
        top: 0;
        left: 0;
    }

    .landing .header-container{
        display: none;
    }
        .title img{
            padding: 10px 0 0 12px;
            width: 210px;
        }

        .title-navbar .navbar{
            display: none;
        }

        .landing-title-wrapper{
            display: block;
        }

        .landing-title .landing-title-wrapper .title-pages h2{
            font-size: 28px;
            padding: 0;
            text-align: center;
            padding-bottom: 20px;
        }

        .landing-title .landing-title-wrapper .title-pages-detail p{
            padding: 0;
            text-align: center;
        }

        .not-found-container .not-found-wrapper .not-found-content .title h2{
            font-size: 72px;
        }

        .not-found-container .not-found-wrapper .not-found-content .not-found h1{
            font-size: 24px;
        }

        .not-found-content .main-title p{
            font-size: 14px;
        }


    /* Start Footer */
    footer {
        padding: 0 10px;
    }

    footer .inner {
        flex-wrap: wrap;
    }

    footer .inner .inner-column {
        padding-top: 0;
        margin-top: 25px;
    }

    footer .inner .inner-column, footer .inner .other-pages-column, footer .inner .quick-links-column, footer .inner .projects-column {
        width: 100%;
    }

    .inner .inner-column .desc-properties {
        font-size: 14px;
    }

    .projects-gallery .gallery-item .container-img {
        height: 120px;
    }

    .inner .projects-column .content-widget-wrap .projects-gallery {
        flex-wrap: wrap;
    }

    .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item {
        width: 50%;
    }

    /* Credit Section */
    footer .credit {
        flex-wrap: wrap;
    }

    footer .credit .jegtheme, footer .credit .copyright {
        width: 100%;
    }

    footer .credit .jegtheme .desc-widget-wrap, footer .credit .copyright .desc-widget-wrap {
        text-align: center;
        padding: 10px;
    }
}