/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 0.5px solid red; */
}
/* CSS reset end. */

:root {
    --primary-color: #181818;
    --secondary-color: #666;
    --other-color: #ad9271;
}

/* Global Class */
.container-padding-default {
    padding: 100px 0px;
    position: relative;
}

.width-fixed-content {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    position: relative;
}

.content-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-widget-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.text-container {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.title-properties {
    color: var(--primary-color);
    font-family: "Lato", Sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.description-widget-wrap {
    padding: 0 25%;
}

.desc-properties {
    color: var(--secondary-color);
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}
/* End Global Class */

/* Main */
main .faq .content-row .content-widget-wrap {
    text-align: center;
}

/* Accordion */
.faq-accordion {
    margin-top: 20px;
    width: 100%;
    display: flex;
}

.faq-accordion .accordion {
    width: 50%;
}

.first-accordion .qna-container {
    margin-right: 30px;
}

.second-accordion .qna-container {
    margin-left: 30px;
}

.qna-widget-wrap {
    margin-bottom: 40px;
}

.qna-card {
    margin-bottom: 10px;
}

.qna-card-header {
    padding: 15px 0 15px 15px;
    display: flex;
    border-bottom: 1px solid #E7EBF0;
    text-decoration: none;
}

.qna-card-header h5 {
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-color);
}

.qna-card-header:hover {
    cursor: pointer;
}

.qna-card-body {
    display: none;
}

.qna-card-body .card-body {
    padding: 20px 40px 0 15px;
}
/* End Accordion */

/* Responsive Web Design */

/* For Mobile */
@media (max-width: 767px) {
    .container-padding-default {
        padding: 40px 10px;
    }

    .width-fixed-content {
        max-width: 767px;
    }

    .desc-properties, .faq-accordion .accordion .qna-container .qna-widget-wrap .qna-accordion .qna-card .qna-card-header h5 {
        font-size: 14px;
    }

    main .faq .content-row .content-widget-wrap .description-widget-wrap {
        padding: 0 10px;
    }

    main .faq .content-row .content-widget-wrap .description-container .description-widget-wrap {
        padding: 0 10px;
    }

    main .faq .content-row .faq-accordion {
        flex-wrap: wrap;
    }

    main .faq .content-row .faq-accordion .accordion {
        width: 100%;
    }

    main .faq .content-row .faq-accordion .accordion .qna-container, main .faq .content-row .faq-accordion .accordion .qna-container .qna-widget-wrap {
        margin: 0;
    }
}

/* End Mobile. */

@media (max-width: 1024px) {
    main .faq .content-row {
        padding: 10px;
    }

    main .faq .content-row .content-widget-wrap .description-widget-wrap {
        padding: 0 10%;
    }

    main .faq .content-row .faq-accordion .accordion .qna-container, main .faq .content-row .faq-accordion .accordion .qna-container .qna-widget-wrap {
        margin: 0;
    }
}

/* For Tablet */
@media (max-width: 1024px) and (min-width: 768px) {
    .width-fixed-content {
        max-width: 1024px;
    }

    .container-padding-default {
        padding: 60px 10px;
    }

    main .faq .content-row .faq-accordion .first-accordion .qna-container .qna-widget-wrap {
        margin-right: 20px;
    }

    main .faq .content-row .faq-accordion .second-accordion .qna-container .qna-widget-wrap {
        margin-left: 20px;
    }
}
/* End Tablet */

/* End Responsive Web Design. */

/* Inner Interest */
.inner-project {
    background-color: var(--primary-color);
}

.container-sm-padding {
    padding: 60px 0;
    position: relative;
}

.sm-max-width {
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.inner-project .widget-wrap {
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.inner-project .widget-wrap .title {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.inner-project .title h2 {
    font-family: "Heebo", sans-serif;
    font-size: 30px;
    color: #fff;
    text-transform: capitalize;
}

.inner-project .desc-content {
    margin-bottom: 20px;
    text-align: center;
}

.inner-project .desc-content .desc-properties {
    text-align: center;
}

.inner-project .button .btn-wrapper {
    text-align: center;
    margin-top: 20px;
    position: relative;
}

.inner-project .btn-wrapper a {
    color: #fff;
    text-decoration: none;
    font-family: "Heebo", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    background-color: #FFFFFF00;
    border: 1px solid #fff;
    padding: 20px 40px 20px 40px;
    transition: 0.5s;
}

.inner-project .btn-wrapper a:hover {
    color: var(--primary-color);
    background-color: #fff;
}
/* End Inner Interest */

/* End Main */

/* Footer */
footer {
    padding: 40px 0 20px 0;
    position: relative;
}

footer .content-row {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

footer .content-row .inner {
    display: flex;
    position: relative;
}

footer .content-row .inner-column {
    width: 33.596%;
    position: relative;
    padding: 10px 60px 10px 10px;
}

.content-row .inner-column header {
    text-align: left;
    margin-bottom: 20px;
}

.content-row .inner-column header img {
    display: inline-block;
    width: 40%;
    object-fit: cover;
}

.content-row .inner-column .desc-widget-wrap {
    margin-bottom: 20px;
}

.content-row .inner-column .desc-properties {
    color: var(--secondary-color);
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}

.content-row .inner-column .contact-icon {
    width: 100%;
    position: relative;
}

.inner-column .contact-icon .social-media {
    margin-right: -5px;
    list-style-type: none;
}

.contact-icon .social-media .bg-icon {
    display: inline-block;
    margin: 5px;
}

.inner-column .contact-icon .social-media .bg-icon a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 50% 50% 50% 50%;
    width: 34px;
    line-height: 32px;
    color: #FFFFFF;
    background-color: var(--primary-color);
}

.inner-column .contact-icon .social-media .bg-icon a .icon {
    font-size: 14px;
}

footer .content-row .header-properties {
    color: var(--primary-color);
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

footer header {
    margin-bottom: 20px;
}

footer .content-row .other-pages-column {
    width: 17.193%;
    padding: 10px;
    position: relative;
}

footer nav ul {
    list-style-type: none;
}

footer .other-pages-column li:not(:last-child) {
    padding-bottom: calc(10px/2);
}

footer .other-pages-column nav li:not(:first-child) {
    margin-top: calc(10px/2);
}

footer nav li a {
    text-decoration: none;
}

footer nav li a:hover {
    color: var(--other-color);
}

footer .content-row .quick-links-column {
    width: 14.211%;
    padding: 10px;
}

footer .quick-links-column li:not(:last-child) {
    padding-bottom: calc(10px/2);
}

footer .quick-links-column nav li:not(:first-child) {
    margin-top: calc(10px/2);
}

footer .content-row .projects-column {
    width: 35%;
    position: relative;
}

footer .projects-column .content-widget-wrap {
    height: 100%;
    margin-left: 30px;
    padding: 10px;
}

.projects-column .projects-gallery {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-column .projects-gallery .gallery-item {
    width: 33.3333%;
}

.projects-gallery .gallery-item .container-img {
    padding: 5%;
    height: 70px;
    position: relative;
    transition: 0.3s;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img .overlay {
    width: 100%;
    height: 100%;
    background-color: #181818b9;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img:hover .overlay {
    opacity: 1;
}

.projects-gallery .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
}

.width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img:hover img {
    opacity: 0.3;
}

.projects-gallery .gallery-item .container-img:hover .overlay {
    opacity: 1;
}

footer .content-row .widget-divider {
    border-bottom: 1px solid #A0AABA2B;
    margin-bottom: 20px;
    padding: 42px 0 2px 0;
}

footer .credit {
    width: 100%;
    display: flex;
}

footer .credit .jegtheme, footer .credit .copyright {
    width: 50%;
}

.credit .desc-widget-wrap {
    padding: 10px;
}

.credit .jegtheme .desc-widget-wrap {
    text-align: left;
}

.credit .copyright .desc-widget-wrap {
    text-align: right;
}

footer .credit .desc-properties {
    font-size: 14px;
}

/* Responsive Web Design */

/* For Mobile */
@media (max-width: 767px) {
    footer {
        padding: 0 10px;
    }

    footer .inner {
        flex-wrap: wrap;
    }

    footer .inner .inner-column {
        padding-top: 0;
        margin-top: 25px;
    }

    footer .inner .inner-column, footer .inner .other-pages-column, footer .inner .quick-links-column, footer .inner .projects-column {
        width: 100%;
    }

    .inner .inner-column .desc-properties {
        font-size: 14px;
    }

    .inner .projects-column .content-widget-wrap {
        margin: 0;
    }

    .inner .projects-column .content-widget-wrap .projects-gallery {
        flex-wrap: wrap;
    }

    .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item {
        width: 50%;
    }

    /* .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img {
        height: 70px;
    } */

    /* .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    } */

    /* Credit Section */
    footer .credit {
        flex-wrap: wrap;
    }

    footer .credit .jegtheme, footer .credit .copyright {
        width: 100%;
    }

    footer .credit .jegtheme .desc-widget-wrap, footer .credit .copyright .desc-widget-wrap {
        text-align: center;
        padding: 10px;
    }
}

/* End Mobile */

/* For Tablet */
@media (max-width: 1024px) and (min-width: 768px) {
    footer {
        padding: 40px 10px 20px 10px;
    }

    footer .inner, footer .inner .projects-column .projects-gallery {
        flex-wrap: wrap;
    }

    footer .inner .inner-column, footer .inner .other-pages-column, footer .inner .quick-links-column, footer .inner .projects-column, footer .inner .projects-column .projects-gallery .gallery-item {
        width: 50%;
    }

    footer .inner .projects-column .content-widget-wrap {
        margin: 20px 0 0 0;
    }
}

/* End Tablet */

/* End Responsive Web Design */

/* End Footer */