*{
    box-sizing: border-box;
}


body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

/* Start Header */

.landing {
    /* Masukkan Gambar background */
    background: url('../images/minimalist-living-room-2000x1143.jpg');
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 389px;
}

.landing .landing-content{
    background-color: rgba(0, 0, 0, 0.5);
    height: -webkit-fill-available;
}

.landing .header-container{
    border-bottom: 1px solid #a5a5a5;
}

.landing .header-container .detail{
    display: flex;
    justify-content: center;
}

.header-container .detail{
    display: flex;
    justify-content: center;
}

.header-container .detail i{
    color: #ad9271;
}

.header-container .detail .detail-wrapper{
    display: flex;
    justify-content: space-between;
    color: white;
    font: 12px Heebo, sans-serif;
    width: 1452px;
}

.address-phone {
    padding: 0 70px 0 110px;
    display: flex;
}

.address-phone p{
    padding-left: 6px;
}

.detail-wrapper .open p{
    padding-left: 6px;
}

.address-phone .address{
    display: flex;
    align-items: center;
}

.address-phone .phone{
    display: flex;
    align-items: center;
}

.address-phone .phone i{
    padding-left: 6px;
}

.landing .detail .open{
    padding-right: 150px;
    display: flex;
    align-items: center;
}

/* Start Navbar */
    .title-navbar .title-navbar-wrapper{
        justify-content: center;
        display: flex;
    }

    .title-navbar .title-navbar-wrapper .title-navbar-parent{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
        padding-bottom: 150px;
        width: 1452px;
    }

    .title img {
        width: 200px;
        height: auto;
        padding-left: 113px;
        padding-bottom: 7px;
    }

    .title-navbar .title-navbar-wrapper .navbar{
        padding-right: 150px;
    }

    #uppercase{
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
    }

    .navbar .dropdown {
        position: relative;
        display: inline-block;
        padding-bottom: 7px;
        padding-left: 20px;
    }

    .navbar .dropdown:hover{
        cursor: pointer;
    }

    .navbar .dropdown a{
        text-decoration: none;
        color: white;
    }

    .dropdown i{
        font-size: 12px;
        color: white;
    }

    .navbar .dropdown:hover{
        color: #ad9271;
        transition: 0.3s;
    }

    .navbar .dropdown:hover i{
        color: #ad9271;
        transition: 0.3s;
    }

    .navbar .dropdown span:hover{
        color: #ad9271;
        transition: 0.3s;
    }
    
    .navbar .dropdown a:hover{
        color: #ad9271;
        transition: 0.3s;
    }

    .navbar .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
        top: 12px;
    }

    .navbar .dropdown-content a{
        padding: 12px 0;
        text-decoration: none;
        color: #666666;
    }

    .navbar .dropdown:hover .dropdown-content{
        display: flex;
        flex-direction: column;
        right: 0;
        left: -1px;
        top: 30px;
    }

    .burger-icon-container{
        display: none;
        position: relative;
        z-index: 9999;
        padding: 0 11px 0 0;
    }

    .burger-icon-container .burger-icon-wrapper{
        background-color: white;
        padding: 20px;
    }

    .burger-icon-container .burger-icon-wrapper:hover{
        cursor: pointer;
    }

    .burger-icon-wrapper i{
        font-size: 19px;
        color: #AD9271;
    }

    #side-nav{
        position: fixed;
        top: 0;
        z-index: 9999;
        left: -110%;
        transition: left 0.9s 0.3s;
    }

    .side-nav-container{
        width: 100%;
        max-width: 360px;
        height: 100%;
        background-color: white;

    }

    #side-nav-background{
        top: 0;
        left: -110%;
        z-index: 999;
        position: fixed;
        transition: left 0.9s;
    }
    
    .side-nav-background{
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
    }

    .side-nav-wrapper .header{
        padding: 20px;
    }

    .side-nav-wrapper .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #side-nav{
        position: fixed;
        top: 0;
        z-index: 9999;
        left: -110%;
        transition: left 0.9s 0.3s;
    }

    .side-nav-container{
        width: 100%;
        max-width: 360px;
        height: 100%;
        background-color: white;

    }

    #side-nav-background{
        top: 0;
        left: -110%;
        z-index: 999;
        position: fixed;
        transition: left 0.9s;
    }
    
    .side-nav-background{
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
    }

    .side-nav-wrapper .header{
        padding: 20px;
    }

    .side-nav-wrapper .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .img-header img{
        width: 150px;
    }

    .header .exit-button {
        background-color: #181818;
        padding: 8px;
        margin: 15px;
        width: 45px;
        text-align: center;
    }

    .header .exit-button:hover{
        background-color: transparent;
        border: 1px solid #181818;
        transition: 0.3s;
        color: #181818;
        cursor: pointer;
    }

    .side-nav-content .title-side-nav{
        padding: 10px 30px 15px;
    }

    .title-side-nav:hover{
        cursor: pointer;
    }

    .title-side-nav a{
        text-transform: uppercase;
        letter-spacing: 1px;

    }

    .navbar-responsive:hover .dropdown-nav-resp{
        display: block;
    }

    .title-side-nav:hover a{
        color: #AD9271;
        transition: 0.3s;
    }

    .dropdown-nav-resp a:hover{
        color: #AD9271;
        transition: 0.3s;
    }

    .navbar-responsive:hover i{
        color: #AD9271;
        transition: 0.3s;
        border: 1px solid #AD9271;
    }

    .title-side-nav a{
        text-decoration: none;
        color: #181818;
        font-size: 19px;
    }
    
    .title-side-nav i{
        color: #181818;
        margin-left: 20px;
        padding: 4px 15px;
        border: 1px solid #181818;
        border-radius: 30px;
        font-size: 9px;
    }

    .side-nav-content .dropdown-nav-resp{
        background-color: white;
        box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 10%);
        padding: 0 0 0 11px;
        display: none;
    }
    
    .dropdown-nav-resp a{
        text-decoration: none;
        color: #c2c1c1;
        font-size: 19px;
        padding: 15px;
        display: block;
    }

    .landing-title{
        display: flex;
        justify-content: center;
    }

    .landing-title-wrapper{
        width: 1452px;
    }

    .landing-title-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title-pages,
    .title-pages-detail {
        padding: 20px 150px 20px 70px;
    }

    .title-pages h2 {
        padding-left: 40px;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .title-pages-detail p {
        font-family: Heebo, sans-serif;
        font-size: 16px;
    }

    .title-pages-detail i{
        color: #ad9271;
    }
/* End Navbar */
/* End Header */



/* Start Image Project */
    .project-info-and-desc{
        display: flex;
        justify-content: center;
    }

    .image-project{
        padding: 100px 0 60px 0;
        display: flex;
        justify-content: center;
    }

    .image-project .image-project-wrapper{
        display: flex;
    }

    .image-project-wrapper .img-project-left{
        padding: 10px;
    }
    
    .image-project-wrapper img{
        width: 741px;
        height: 556px;
    }
    
    .image-project-wrapper .side{
        padding: 10px;
        display: inline-block;
    }

    .image-project-wrapper .side #img-project2{
        padding-top: 10px;
        margin-top: 20px;
    }
    
    .image-project-wrapper .side img{
        display: flex;
        width: 357px;
        height: 268px;
    }
/* End Image Project */

/* Start Project Info and Description */
    .project-info-and-desc .project-info-and-desc-wrapper{
        display: flex;
        justify-content: center;
    }

    .project-info .project-info-wrapper{
        padding: 10px;
    }

    .project-info .project-info-wrapper .project-info-title h2{
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .project-info .project-info-wrapper .project-info-title p{
        font-family: 'Heebo', sans-serif;
        font-size: 16px;
        color: #666666;
        width: 436px;
        height: 48px;
        padding: 0 40px 0 0;
    }

    .project-info-staff .project-info-staff-wrapper .project-staff{
        display: flex;
        align-items: center;
    }

    .project-info-staff{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .project-info-staff .paddingged-right{
        padding-right: 74px;
    }
    
    .project-info-staff .project-info-staff-wrapper .project-staff span{
        margin: 0 15px 0 0;
    }

    .project-info-staff .project-info-staff-wrapper .project-staff i{
        font-size: 30px;
        color: #ad9271;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
    }

    .project-info-staff-wrapper .project-staff .project-info-profile{
        margin: 0 0 0 13px;
    }

    .project-info-staff-wrapper .project-staff .project-info-profile span{
        color: #181818;
        font-weight: 400;
        font-size: 20px;
        font-family: 'Heebo', sans-serif; 
    }

    .project-info-staff-wrapper .project-staff .project-info-profile p{
        color: #666666;
        font-size: 16px;
        font-family: 'Heebo', sans-serif; 
        margin: 0;
    }
    
    .project-info-and-desc-wrapper .project-description-wrapper{
        padding: 10px 10px 10px 40px;
    }

    .project-description-wrapper .project-description-title h2{
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    
    .project-description-wrapper .project-description-title p{
        font-family: 'Heebo', sans-serif;
        font-size: 16px;
        width: 633px;
        height: 120px;
        color: #666666;
    }
    
    
    .project-description-wrapper .project-description-iconlist{
        font-family: 'Heebo', sans-serif;
        font-size: 16px;
        color: #666666;
    }

    .project-description-wrapper .project-description-iconlist .description{
        display: flex;
        align-items: center;
    }

    .project-description-wrapper .project-description-iconlist .description i{
        padding-right: 6px;
        color: #ad9271;
    }
/* End Project Info and Description */

/* Start Get Started */
    .getstarted .getstarted-wrapper{
        padding: 60px 0 60px 0;
        background-color: rgb(24 24 24);
        text-align: center;
        color: white;
    }
    .getstarted .getstarted-wrapper .icon-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .getstarted .getstarted-wrapper .icon-container .icon-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 50px;
        height: 50px;
        margin: 6px;
        border-radius: 50%;
        color: #181818;
    }

    .getstarted .getstarted-wrapper .icon-container .icon-wrapper:hover{
        border: 1px solid white;
        transition: 0.3s;
        background-color: #181818;
        color: white;
        cursor: pointer;
    }
    /* End Get Started */

/* Footer */
    footer {
        padding: 40px 55px 20px 55px;
        position: relative;
    }

    footer .content-row {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    footer .content-row .inner {
        display: flex;
        position: relative;
    }

    footer .content-row .inner-column {
        width: 33.596%;
        position: relative;
        padding: 10px 60px 10px 10px;
    }

    .content-row .inner-column header {
        text-align: left;
        margin-bottom: 20px;
    }

    .content-row .inner-column header img {
        display: inline-block;
        width: 40%;
        object-fit: cover;
    }

    .content-row .inner-column .desc-widget-wrap {
        margin-bottom: 20px;
    }

    .content-row .inner-column .desc-properties {
        color: #666666;
        font-family: "Heebo", Sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
    }

    .content-row .inner-column .contact-icon {
        width: 100%;
        position: relative;
    }

    .inner-column .contact-icon .social-media {
        margin-right: -5px;
        list-style-type: none;
    }

    .contact-icon .social-media .bg-icon {
        display: inline-block;
        margin: 5px;
    }

    .inner-column .about-inner-socialmedia{
        display: flex;
    }

    .inner-column .about-inner-socialmedia .icon a{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
        background-color: #181818;
        color: #ffff;
        border-radius: 50%;
        padding: 10px;
        width: 34px;
        height: 34px;
        text-decoration: none;
    }

    .inner-column .about-inner-socialmedia .icon a:hover{
        background-color: #ad9271;
        cursor: pointer;
        transition: 0.3s;
    }

    .inner-column .contact-icon .social-media .bg-icon a .icon {
        font-size: 14px;
    }

    footer .content-row .header-properties {
        color: var(--primary-color);
        font-family: "Lato", sans-serif;
        font-size: 18px;
        font-weight: 400;
    }

    footer header {
        margin-bottom: 20px;
    }

    footer .content-row .other-pages-column {
        width: 17.193%;
        padding: 10px;
        position: relative;
    }

    footer nav ul {
        list-style-type: none;
        padding: 0;
    }

    footer .other-pages-column li:not(:last-child) {
        padding-bottom: calc(10px/2);
    }

    footer .other-pages-column nav li:not(:first-child) {
        margin-top: calc(10px/2);
    }

    footer nav li a {
        text-decoration: none;
        color: #666666;
    }

    footer nav li a:hover {
        color: #ad9271;
    }

    footer .content-row .quick-links-column {
        width: 14.211%;
        padding: 10px;
    }

    footer .quick-links-column li:not(:last-child) {
        padding-bottom: calc(10px/2);
    }

    footer .quick-links-column nav li:not(:first-child) {
        margin-top: calc(10px/2);
    }

    footer .content-row .projects-column {
        width: 35%;
        position: relative;
    }

    footer .projects-column .content-widget-wrap {
        height: 100%;
        margin-left: 30px;
        padding: 10px;
    }

    .projects-column .projects-gallery {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        justify-content: center;
    }

    .projects-column .projects-gallery .gallery-item {
        width: 33.3333%;
    }

    .projects-gallery .gallery-item .container-img {
        padding: 5%;
        height: 70px;
        position: relative;
        transition: 0.3s;
    }

    .width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img .overlay {
        width: 100%;
        height: 100%;
        background-color: #181818b9;
        transition: .5s ease;
        opacity: 0;
        position: absolute;
    }

    .width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img:hover .overlay {
        opacity: 1;
    }

    .projects-gallery .gallery-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 1;
        transition: .5s ease;
    }

    .width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img:hover img {
        opacity: 0.3;
    }

    .projects-gallery .gallery-item .container-img:hover .overlay {
        opacity: 1;
    }

    footer .content-row .widget-divider {
        border-bottom: 1px solid #A0AABA2B;
        margin-bottom: 20px;
        padding: 42px 0 2px 0;
    }

    footer .credit {
        width: 100%;
        display: flex;
    }

    footer .credit .jegtheme, footer .credit .copyright {
        width: 50%;
    }

    .credit .desc-widget-wrap {
        padding: 10px;
    }

    .credit .jegtheme .desc-widget-wrap {
        text-align: left;
    }

    .credit .copyright .desc-widget-wrap {
        text-align: right;
    }

    footer .credit .desc-properties{
        font-size: 14px;
        color: #666;
    }


    @media(max-width: 1024px){
        footer {
            padding: 40px 10px 20px 10px;
        }

        footer .inner, footer .inner .projects-column .projects-gallery {
            flex-wrap: wrap;
        }

        footer .inner .inner-column, footer .inner .other-pages-column, footer .inner .quick-links-column, footer .inner .projects-column, footer .inner .projects-column .projects-gallery .gallery-item {
            width: 50%;
        }

        footer .inner .projects-column .content-widget-wrap {
            margin: 20px 0 0 0;
        }
    }

    @media(max-width: 768px){
        footer {
            padding: 0 10px;
        }

        footer .inner {
            flex-wrap: wrap;
        }

        footer .inner .inner-column {
            padding-top: 0;
            margin-top: 25px;
        }

        footer .inner .inner-column, footer .inner .other-pages-column, footer .inner .quick-links-column, footer .inner .projects-column {
            width: 100%;
        }

        .inner .inner-column .desc-properties {
            font-size: 14px;
        }

        .projects-gallery .gallery-item .container-img {
            height: 120px;
        }

        .inner .projects-column .content-widget-wrap .projects-gallery {
            flex-wrap: wrap;
        }

        .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item {
            width: 50%;
        }

        /* Credit Section */
        footer .credit {
            flex-wrap: wrap;
        }

        footer .credit .jegtheme, footer .credit .copyright {
            width: 100%;
        }

        footer .credit .jegtheme .desc-widget-wrap, footer .credit .copyright .desc-widget-wrap {
            text-align: center;
            padding: 10px;
        }   
    }

/* End Footer */

@media (max-width: 1150px){
    .address-phone{
        padding: 0 0 0 11px;
    }

    .landing .detail .open{
        padding: 0 11px 0 0;
    }

    .title img{
        width: 100px;
        padding: 0 0 0 11px;
    }

    .title-navbar .title-navbar-wrapper .navbar{
        padding: 0 11px 0 0;
    }

    .landing-title-content .title-pages{
        padding: 0 0 0 11px;
    }

    .title-pages h2{
        padding: 0;
    }

    .landing-title-content .title-pages-detail{
        padding: 0 11px 0 0;
    }
    
    .image-project-wrapper .img-project-left{
        max-width: 100%;
    }

    .image-project-wrapper .img-project-left img{
        max-width: 100%;
        height: auto;
    }

    .image-project-wrapper .side{
        max-width: 100%;
    }

    .image-project-wrapper .side img{
        max-width: 100%;
        height: auto;
    }

    .image-project-wrapper .side #img-project2{
        margin-top: 11px;
    }
}

@media (max-width: 1025px){
    .project-info-and-desc .project-info-and-desc-wrapper{
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .project-info .project-info-wrapper .project-info-title p{
        width: 100%;
    }

    .project-description-wrapper .project-description-title p{
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1020px){
    .title-navbar .title-navbar-wrapper .navbar{
        display: none;
    }

    .burger-icon-container{
        display: block;
        margin: 15px;
    }

    .title-navbar .title-navbar-wrapper .title-navbar-parent{
        padding-bottom: 145px;
    }
}

@media (max-width: 770px){
    .header-container .detail .detail-wrapper{
        display: none;
    }

    .title img{
        width: 200px;
    }

    .title-navbar .title-navbar-wrapper .title-navbar-parent{
        padding-bottom: 72px;
    }

    .landing-title-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .landing-title-content{
        display: block;
        text-align: center;
    }

    .landing-title-content .title-pages{
        padding: 0;
    }
    
    .landing-title-content .title-pages-detail{
        padding: 0;
    }

    .image-project .image-project-wrapper{
        display: flex;
        flex-wrap: wrap;
    }

    .image-project-wrapper .side{
        width: 100%;
    }

    .image-project-wrapper .side img{
        width: 100%;
    }

    .project-info .project-info-wrapper .project-info-title h2{
        text-align: center;
    }

    .project-info .project-info-wrapper .project-info-title p{
        padding: 0;
        text-align: center;
    }

    .project-info-staff{
        width: 80%;
    }

    .project-info-staff .paddingged-right{
        padding: 0;
    }
}

