body{
    font-family: 'Lato', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

/* Start Header */
    .dropdown i{
        font-size: 12px;
        color: white;
    }

    .dropdown:hover i{
        font-size: 12px;
        color: #ad9271;
        transition: 0.3s;
    }
    .landing {
        /* Masukkan Gambar background */
        background: url('../images/sofa-2880x1390.png');
        color: white;
        top: 0;
        left: 0;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
        height: 548px;
    }

    .landing .landing-content{
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
    }

    .landing .header-container{
        border-bottom: 1px solid #555555;
    }

    .header-container .detail{
        display: flex;
        justify-content: center;
    }

    .header-container .detail i{
        color: #ad9271;
    }

    .header-container .detail .detail-wrapper{
        display: flex;
        justify-content: space-between;
        color: white;
        font: 12px Heebo, sans-serif;
        width: 890px;
        margin: 0 116px 0 116px;
    }

    .address-phone {
        display: flex;
    }

    .address-phone p{
        padding-left: 6px;
    }

    .detail-wrapper .open p{
        padding-left: 6px;
    }

    .address-phone .address{
        display: flex;
        align-items: center;
    }

    .address-phone .phone{
        display: flex;
        align-items: center;
    }

    .address-phone .phone i{
        padding-left: 6px;
    }

    .landing .detail .open{
        display: flex;
        align-items: center;
    }

    /* Start Navbar */
        .title-navbar .title-navbar-wrapper{
            justify-content: center;
            display: flex;
        }

        .title-navbar .title-navbar-wrapper .title-navbar-parent{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 12px;
            width: 890px;
        }

        .title img {
            width: 100px;
            height: auto;
        }

        #uppercase{
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 12px;
        }

        .navbar .dropdown {
            position: relative;
            display: inline-block;
            padding-bottom: 14px;
            padding-left: 20px;
        }
        
        .navbar .dropdown:hover{
            cursor: pointer;
        }
        
        .navbar .dropdown a{
            color: white;
            text-decoration: none;
        }

        .navbar .dropdown a:hover{
            color: #ad9271;
            transition: 0.3s;
        }

        .navbar .dropdown:hover{
            color: #ad9271;
            transition: 0.3s;
        }

        .navbar .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 150px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 12px 16px;
            z-index: 1;
        }

        .navbar .dropdown-content a {
            padding: 12px 0;
            text-decoration: none;
            color: #666666;
        }

        .dropdown .dropdown-wrapper{
            display: flex;
            align-items: center;
        }

        .dropdown .dropdown-wrapper i{
            padding-left: 3px;
        }

        .navbar .dropdown:hover .dropdown-content {
            display: flex;
            flex-direction: column;
            right: 0;
            left: -1px;
            top: 30px;
        }

        .burger-icon-container{
            display: none;
            position: relative;
            z-index: 9999;
            padding: 0 11px 0 0;
        }

        .burger-icon-container .burger-icon-wrapper{
            background-color: white;
            padding: 20px;
        }

        .burger-icon-container .burger-icon-wrapper:hover{
            cursor: pointer;
        }

        .burger-icon-wrapper i{
            font-size: 19px;
            color: #AD9271;
        }

        #side-nav{
            position: fixed;
            top: 0;
            z-index: 9999;
            left: -110%;
            transition: left 0.9s 0.3s;
        }

        .side-nav-container{
            width: 100%;
            max-width: 360px;
            height: 100%;
            background-color: white;

        }

        #side-nav-background{
            top: 0;
            left: -110%;
            z-index: 999;
            position: fixed;
            transition: left 0.9s;
        }
        
        .side-nav-background{
            background-color: rgba(0, 0, 0, 0.4);
            width: 100%;
            height: 100%;
        }

        .side-nav-wrapper .header{
            padding: 20px;
        }

        .side-nav-wrapper .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .img-header img{
            width: 150px;
        }

        .header .exit-button {
            background-color: #181818;
            padding: 8px;
            margin: 15px;
            width: 45px;
            text-align: center;
        }

        .header .exit-button:hover{
            background-color: transparent;
            border: 1px solid #181818;
            transition: 0.3s;
            color: #181818;
            cursor: pointer;
        }

        .side-nav-content .title-side-nav{
            padding: 10px 30px 15px;
        }

        .title-side-nav:hover{
            cursor: pointer;
        }

        .title-side-nav a{
            text-transform: uppercase;
            letter-spacing: 1px;

        }

        .navbar-responsive:hover .dropdown-nav-resp{
            display: block;
        }

        .title-side-nav:hover a{
            color: #AD9271;
            transition: 0.3s;
        }

        .dropdown-nav-resp a:hover{
            color: #AD9271;
            transition: 0.3s;
        }

        .navbar-responsive:hover i{
            color: #AD9271;
            transition: 0.3s;
            border: 1px solid #AD9271;
        }

        .title-side-nav a{
            text-decoration: none;
            color: #181818;
            font-size: 19px;
        }
        
        .title-side-nav i{
            color: #181818;
            margin-left: 20px;
            padding: 4px 15px;
            border: 1px solid #181818;
            border-radius: 30px;
            font-size: 9px;
        }

        .side-nav-content .dropdown-nav-resp{
            background-color: white;
            box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 10%);
            padding: 0 0 0 11px;
            display: none;
        }
        
        .dropdown-nav-resp a{
            text-decoration: none;
            color: #c2c1c1;
            font-size: 19px;
            padding: 15px;
            display: block;
        }

        .landing-title{
            display: flex;
            justify-content: center;
            margin-top: 315px;
        }
        
        .landing-title-wrapper .landing-title-content{
            width: 890px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .landing-title i{
            color: #ad9271;
        }

        .title-pages h2 {
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .title-pages-detail p {
            font-family: Heebo, sans-serif;
            font-size: 16px;
            margin: 0;
        }

        .title-pages-detail i{
            color: #ad9271;
        }
    /* End Navbar */
/* End Header */



/* Start Our Services */

    .our-services{
        margin-top: 76px;
    }

    .our-services .our-services-wrapper{
        padding: 10px;
    }

    .our-services .container{
        text-align: center;
    }

    .our-services h2{
        font-size: 20px;
        font-weight: 400;
    }

    .our-services .container .container-text{
        display: flex;
        justify-content: center;
    }

    .our-services .container p{
        font-size: 16px;
        width: 560px;
        height: 48px;
        color: rgb(173, 173, 173);
        font-weight: normal;
    }

    .our-services .container span{
        font-size: 12px;
        color: rgb(173, 173, 173);
        font-weight: normal;
    }

    .row-responsive{
        display: flex;
        justify-content: center;
    }

    .row .row-background-container{
        width: 353px;
        height: 270px;
        background-color: white;
        margin: 10px;
    }

    .row .row-background-container:hover .row-wrapper p{
        color: white;
        transition: 0.3s;
    }
    
    .row .row-background-container:hover .row-container{
        background-color: rgba(0, 0, 0, 0.7);
        transition: 0.3s;
    }
    
    .row .row-background-container:hover .row-wrapper i{
        color: white;
        transition: 0.3s;
    }

    .row .row-background-container:hover .row-wrapper h3{
        color: white;
        transition: 0.3s;
    }
    
    .row .hospital:hover{
        transition: 0.3s;
        background-image: url('../images/bedroom-2000x1333.jpg');
        background-size: cover;
        color: white;
    }

    .row .corporate:hover{
        transition: 0.3s;
        background-image: url('../images/img_corporate-1024x768.jpg');
        background-size: cover;
        color: white;
    }

    .row .corporate:hover .row-container{
        background-color: rgba(0, 0, 0, 0.2);
    }

    .row .residential:hover{
        transition: 0.3s;
        background-image: url('../images/modern-living-room-1-1024x729.jpg');
        background-size: cover;
        color: white;
    }

    .row .commercial:hover{
        transition: 0.3s;
        background-image: url('../images/img_commercial-2000x1333.jpg');
        background-size: cover;
        color: white;
    }
    
    .row .restaurant{
        background-image: url('../images/img_restaurant-1024x768.jpg');
        background-size: cover;
        color: white;
    }

    .row .restaurant .row-wrapper i{
        color: white;
    }
    
    .row .restaurant .row-wrapper h3{
        color: white;
    }
    
    .row .restaurant .row-wrapper p{
        color: white;
    }

    .row .restaurant .row-container{
        background-color: rgba(0, 0, 0, 0.7);
    }
    
    .row .industrial:hover{
        transition: 0.3s;
        background-image: url('../images/img_industrial-1024x768.jpg');
        background-size: cover;
        color: white;
    }
    
    .row .industrial:hover .row-container{
        background-color: rgba(0, 0, 0, 0);
    }
    
    .row .row-container{
        padding: 40px;
        box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 10%);
        height: 270px;
    }

    .row-container .row-wrapper i{
        font-size: 40px;
        color: #ad9271;
    }

    .row-container .row-wrapper h3{
        font-size: 24px;
    }

    .row-container .row-wrapper p{
        font-size: 16px;
        color: #666666;
    }

/* End Our Services */

/* Start Work */
    .work{
        background-color: rgb(247, 247, 247);
        padding: 110px;
        display: flex;
        justify-content: center;
    }

    .work p{
        color: rgb(134, 131, 131);
    }

    .work .how h2{
        font-weight: 600;
    }

    .work .how p{
        font-size: 16px;
        width: 480px;
        height: 52px;
    }

    .work .how span{
        font-size: 15px;
        display: block;
    }

    .work .work-content{
        display: flex;
        padding-right: 20px;
    }

    .work .sometext-and-number .row .text p{
        font-size: 11px;
        color: rgb(134, 131, 131);
        width: 343px;
        height: 72px;
    }

    .work .sometext-and-number .row .head-number h2{
        color: rgb(247, 247, 247);
        font-size: 96px;
        font-weight: 600;
        text-shadow: 0px 0px 2px rgb(0 0 0 / 30%); 
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }

    .work .sometext-and-number .row .text{
        margin: 9px;
    }

    .work .sometext-and-number .row .text span{
        color: black;
        font-size: 24px;
    }

    .work .sometext-and-number .row .text p{
        font-size: 16px;
    }

    .work .sometext-and-number-parent .row{
        display: flex;
        align-items: flex-start;
    }

    .work .sometext-and-number .row .row-content{
        display: flex;
        align-items: center;
    }

    .work .work-content .work-img img{
        width: 550px;
        height: 626px;
        padding-left: 25px;
    }
/* End Work */

/* Start Testimonials */
    .testimonial{
    padding: 100px 12px 100px 12px;
    }

    .testimonial .title{
    font-family: 'Heebo', sans-serif;
    }

    .testimonial .title h2{
    font-family: 'Lato', sans-serif;
    }

    .testimonial .title h2, .desc p{
    margin-top: 5px;
    text-align: center;
    }

    .testimonial .title .desc{
    display: flex;
    justify-content: center;
    }

    .testimonial .title .desc p{
    color: rgb(134, 131, 131);
    width: 560px;
    height: 52px;
    }    

    .testimonial-content .testimonial-container{
    display: flex;
    justify-content: center;
    }

    .testimonial-container .testimonial-wrapper{
    display: flex;
    }

    .testimonial-content .testimonial-wrapper .card{
    width: 313px;
    height: 179px;
    padding: 0 40px 20px 0;
    display: block;
    }

    .testimonial-content .testimonial-wrapper .card p{
    text-align: left;
    margin: 30px 0 30px 0;
    font-size: 15px;
    color: rgb(134, 131, 131);
    }

    .testimonial-content .testimonial-wrapper .card i{
    font-size: 52px;
    display: flex;
    justify-content: flex-end;
    color: #ad9271;
    }

    .testimonial-content .testimonial-wrapper .card .profile .desc-profile p{
    margin: 0;
    }

    .testimonial-content .testimonial-wrapper .card .profile .desc-profile p.profile-name{
    color: black;
    }

    .testimonial-wrapper .card .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }

    .testimonial-wrapper .card .profile img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    }

    .testimonial-wrapper .card .profile .desc-profile{
    margin-right: 92px;
    padding-left: 22px;
    }

    .testimonial-number{
    position: relative;
    top: 100px;
    }

    .testimonial-content .achievement h2{
    margin-top: 10px;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 100px;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 0px 0px 1px rgb(0 0 0 / 30%);
    text-align: center;
    }

    .number-percentage-parent .number-percentage-wrapper{
    display: flex;
    justify-content: center;
    padding: 10px;
    }

    .number-percentage-wrapper .number-percentage-content{
    display: flex;
    justify-content: center;
    }

    .number-percentage-wrapper .number-percentage{
    margin: 16px;
    text-align: center;
    }

    .number-percentage-parent .number-percentage .number-percentage-number span{
    color: black;
    font-size: 32px;
    font-weight: 600;
    }

    .number-percentage-parent .number-percentage .number-percentage-number{
    font-size: 32px;
    color: black;
    font-size: 32px;
    font-weight: 600;
    width: 260px;
    height: 61px;
    }

    .number-percentage-wrapper .number-percentage .number-percentage-desc p{
    color: #666666;
    text-align: center;
    font-size: 16px;
    }

    .testimonial-number .achievement{
    position: relative;
    }

    .testimonial-number .number-percentage-parent{
    position: relative;
    bottom: 100px;
    }
/* End Testimonials */

/* Start Contact Us */
.contactus .contactus-wrapper{
    background-color: rgb(24 24 24);
    padding: 100px 10px 100px 0;
    color: #666666;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.contact{
    display: flex;
    align-items: center;
}

.contactus-side-icon{
    padding: 0;
}

.contactus-side-icon-list-text{
    padding: 0 0 0 10px;
}

.contactus .contactus-wrapper .contactus-side{
    display: block;
    padding: 10px 80px 10px 10px;
}

.contactus .contactus-wrapper .contactus-side h2{
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.contactus .contactus-wrapper .contactus-side-title .contactus-side-text{
    color: #666666;
    font-size: 16px;
    width: 480px;
    height: 52px;
}

.contactus .contactus-wrapper .contactus-marginned{
    margin: 0 0 20px 0;
}

.contactus-side-content .location-contact{
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.contactus-side .contactus-side-icon-list-container ul li{
    list-style: none;
}

.contactus-side .contactus-side-icon-list-container ul li i{
    color: #ad9271;
}

.contactus-side .contactus-side-icon-list-container ul li span{
    font-size: 16px;
    color: rgb(102 102 102);
    font-weight: 300;
}

.contactus-side .contactus-side-icon-list-container ul li span:hover{
    color: #ad9271;
    transition: 0.3s;
    cursor: default;
}

.contactus .contactus-wrapper{
    padding: 100px 0 100px 0;
}

.contactus .contactus-wrapper .contactus-form{
    background-color: white;
    color: black;
    padding: 60px;
    width: 100%;
    height: 605px;
}

.contactus-form{
    align-items: center;
    display: flex;
    justify-content: center;
}

.contactus .contactus-wrapper .contactus-form form .user-data input {
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #666666;
    outline: none;
    padding: 6px 12px 6px 30px;
}

.contactus-form .message{
    display: block;
    width: 364px;
    height: 50px;
    border: 1px solid #666666;
    outline: none;
    padding: 15px 12px 6px 30px;
    height: 175px;
    resize: none;
}

.contactus-form .message::placeholder{
    font-family: 'Lato', sans-serif;
}

.contactus-wrapper .contactus-form form .submit{
    padding: 18px 32px 18px;
    color: white;
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: rgb(24 24 24);
    outline: none;
    border: 1px solid;
}

.contactus-wrapper .contactus-form form .submit:hover{
    color: #181818;
    transition: 0.3s;
    cursor: pointer;
    background-color: white;
    border: 1px solid #181818;
}
/* End Contact Us */

/* Footer */
    footer {
        padding: 40px 55px 20px 55px;
        position: relative;
    }

    footer .content-row {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    footer .content-row .inner {
        display: flex;
        position: relative;
    }

    footer .content-row .inner-column {
        width: 33.596%;
        position: relative;
        padding: 10px 60px 10px 10px;
    }

    .content-row .inner-column header {
        text-align: left;
        margin-bottom: 20px;
    }

    .content-row .inner-column header img {
        display: inline-block;
        width: 40%;
        object-fit: cover;
    }

    .content-row .inner-column .desc-widget-wrap {
        margin-bottom: 20px;
    }

    .content-row .inner-column .desc-properties {
        color: #666666;
        font-family: "Heebo", Sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
    }

    .content-row .inner-column .contact-icon {
        width: 100%;
        position: relative;
    }

    .inner-column .contact-icon .social-media {
        margin-right: -5px;
        list-style-type: none;
    }

    .contact-icon .social-media .bg-icon {
        display: inline-block;
        margin: 5px;
    }

    .inner-column .about-inner-socialmedia{
        display: flex;
    }

    .inner-column .about-inner-socialmedia .icon a{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
        background-color: #181818;
        color: #ffff;
        border-radius: 50%;
        padding: 10px;
        width: 34px;
        height: 34px;
        text-decoration: none;
    }

    .inner-column .about-inner-socialmedia .icon a:hover{
        background-color: #ad9271;
        cursor: pointer;
        transition: 0.3s;
    }

    .inner-column .contact-icon .social-media .bg-icon a .icon {
        font-size: 14px;
    }

    footer .content-row .header-properties {
        color: var(--primary-color);
        font-family: "Lato", sans-serif;
        font-size: 18px;
        font-weight: 400;
    }

    footer header {
        margin-bottom: 20px;
    }

    footer .content-row .other-pages-column {
        width: 17.193%;
        padding: 10px;
        position: relative;
    }

    footer nav ul {
        list-style-type: none;
        padding: 0;
    }

    footer .other-pages-column li:not(:last-child) {
        padding-bottom: calc(10px/2);
    }

    footer .other-pages-column nav li:not(:first-child) {
        margin-top: calc(10px/2);
    }

    footer nav li a {
        text-decoration: none;
        color: #666666;
    }

    footer nav li a:hover {
        color: #ad9271;
    }

    footer .content-row .quick-links-column {
        width: 14.211%;
        padding: 10px;
    }

    footer .quick-links-column li:not(:last-child) {
        padding-bottom: calc(10px/2);
    }

    footer .quick-links-column nav li:not(:first-child) {
        margin-top: calc(10px/2);
    }

    footer .content-row .projects-column {
        width: 35%;
        position: relative;
    }

    footer .projects-column .content-widget-wrap {
        height: 100%;
        margin-left: 30px;
        padding: 10px;
    }

    .projects-column .projects-gallery {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        justify-content: center;
    }

    .projects-column .projects-gallery .gallery-item {
        width: 33.3333%;
    }

    .projects-gallery .gallery-item .container-img {
        padding: 5%;
        height: 70px;
        position: relative;
        transition: 0.3s;
    }

    .width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img .overlay {
        width: 100%;
        height: 100%;
        background-color: #181818b9;
        transition: .5s ease;
        opacity: 0;
        position: absolute;
    }

    .width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img:hover .overlay {
        opacity: 1;
    }

    .projects-gallery .gallery-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 1;
        transition: .5s ease;
    }

    .width-fixed-content .content-row .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item .container-img .hover-img:hover img {
        opacity: 0.3;
    }

    .projects-gallery .gallery-item .container-img:hover .overlay {
        opacity: 1;
    }

    footer .content-row .widget-divider {
        border-bottom: 1px solid #A0AABA2B;
        margin-bottom: 20px;
        padding: 42px 0 2px 0;
    }

    footer .credit {
        width: 100%;
        display: flex;
    }

    footer .credit .jegtheme, footer .credit .copyright {
        width: 50%;
    }

    .credit .desc-widget-wrap {
        padding: 10px;
    }

    .credit .jegtheme .desc-widget-wrap {
        text-align: left;
    }

    .credit .copyright .desc-widget-wrap {
        text-align: right;
    }

    footer .credit .desc-properties {
        font-size: 14px;
        color: #666666;
    }
/* End Footer */

    @media(max-width: 1024px){
        footer {
            padding: 40px 10px 20px 10px;
        }
    
        footer .inner, footer .inner .projects-column .projects-gallery {
            flex-wrap: wrap;
        }
    
        footer .inner .inner-column, footer .inner .other-pages-column, footer .inner .quick-links-column, footer .inner .projects-column, footer .inner .projects-column .projects-gallery .gallery-item {
            width: 50%;
        }
    
        footer .inner .projects-column .content-widget-wrap {
            margin: 20px 0 0 0;
        }
    }

    @media(max-width: 768px){
        footer {
            padding: 0 10px;
        }
    
        footer .inner {
            flex-wrap: wrap;
        }
    
        footer .inner .inner-column {
            padding-top: 0;
            margin-top: 25px;
        }
    
        footer .inner .inner-column, footer .inner .other-pages-column, footer .inner .quick-links-column, footer .inner .projects-column {
            width: 100%;
        }
    
        .inner .inner-column .desc-properties {
            font-size: 14px;
        }
    
        .projects-gallery .gallery-item .container-img {
            height: 120px;
        }
    
        .inner .projects-column .content-widget-wrap .projects-gallery {
            flex-wrap: wrap;
        }
    
        .inner .projects-column .content-widget-wrap .projects-gallery .gallery-item {
            width: 50%;
        }
    
        /* Credit Section */
        footer .credit {
            flex-wrap: wrap;
        }
    
        footer .credit .jegtheme, footer .credit .copyright {
            width: 100%;
        }
    
        footer .credit .jegtheme .desc-widget-wrap, footer .credit .copyright .desc-widget-wrap {
            text-align: center;
            padding: 10px;
        }   
    }

    @media (max-width: 1204px){
        /* Start Header */
            .landing{
                width: 100%;
                height: 370px;
                top: 0;
                left: 0;
            }

            .landing .detail .open{
                padding-right: 12px;
            }
            
            .header-container .detail .detail-wrapper{
                width: 890px;
                display: flex;
                justify-content: space-between;
                margin: 0;
            }

            .title img{
                width: 100px;
            }

            .title-navbar .title-navbar-wrapper .title-navbar-parent{
                width: 890px;
            }

            .title-navbar .title-navbar-wrapper .navbar{
                padding: 0 0 0 150px;
            }
            
            .landing-title-wrapper{
                display: flex;
                justify-content: center;
            }
            
            .landing-title-content{
                width: 11px;
                margin: 0;
            }
            
            .landing-title{
                margin: 140px 0 0 0;
            }
            
            /* End Header */
            
            /* Start Our Service */
            .our-services h2{
                font-size: 32px;
                font-weight: 600;
            }
            
            .our-services .container p{
                width: 100%;
                padding: 0 195px 0 195px;
            }

            .our-services-container .card .row{
                display: flex;
                flex-wrap: wrap;
            }
            
            .row-responsive .row-background-container{
                width: 100%;
            }
            
            .row .row-container{
                padding: 20px;
            }
            /* End Our Service */
            
            /* Start How We Work */
            .work .work-content .work-img img{
                display: none;
            }
            
            .work .how h2{
                font-size: 32px;
                letter-spacing: 1px;
            }

            .work .how p{
                width: 100%;
            }
            
            .work .sometext-and-number .row .text p{
                width: 100%;
            }
            /* End How We Work */
            
            /* Start Testimonial */
            .testimonial .title h2{
                font-size: 32px;
                letter-spacing: 1px;
            }

            .profile-wrapper-none{
                display: none;
            }
            
            .testimonial-content .achievement h2{
                display: none;
            }
            
            .number-percentage-parent .number-percentage-wrapper{
                position: relative;
                top: 100px;
                display: flex;
                flex-wrap: nowrap;
            }

            .number-percentage-parent .number-percentage .number-percentage-number{
                width: 170px;
            }
            /* End Testimonial */
            
            /* Start Contact Us */
            .contactus .contactus-wrapper .contactus-side-title .contactus-side-text{
                width: 100%;
            }
            
            .contactus .contactus-wrapper .contactus-form{
                width: 100%;
            }
            
            .contactus-form .contactus-form-wrapper .message{
                width: 100%;
            }
        /* End Contact Us */
    }

    /* Start Responsive IPad */
        @media (max-width: 890px){
            /* Start Header */
            .burger-icon-container{
                display: block;
                margin: 15px;
            }

            .header-container .detail .detail-wrapper{
                margin: 0;
                padding: 10px;
            }

            .title img{
                padding: 0 0 0 10px;
                width: 200px;
            }

            .landing-title-wrapper .landing-title-content{
                width: 820px;
            }
            
            .title-navbar .title-navbar-wrapper .navbar{
                padding:  0 10px 0 0 ;
                display: none;
            }
            
            .title-pages{
                padding: 0 0 0 10px;
            }
            
            .title-pages-detail p{
                padding: 0 11px 0 0;
            }

            /* End Header */

            .our-services-container .card .row{
                display: flex;
                flex-wrap: nowrap;
            }

            .number-percentage-parent .number-percentage-wrapper{
                display: flex;
                flex-wrap: nowrap;
            }

            .number-percentage-parent .number-percentage .number-percentage-number{
                width: 170px;
            }

        }
    /* End Responsive IPad */

    /* Start Responsive IPhone 12 Pro */
        @media(max-width: 800px){
            .header-container .detail .detail-wrapper{
                display: none;
            }

            .landing-title{
                margin-top: 90px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .landing-title-wrapper{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .landing-title-wrapper .landing-title-content{
                display: block;
                text-align: center;
                width: 390px;
            }

            .title-pages{
                padding: 0;
            }

            .title-pages-detail p{
                padding: 0;
                text-align: center;
            }
            
            .our-services h2{
                font-size: 24px;
            }
            
            .our-services .container p{
                padding: 0 10px;
                font-size: 14px;
            }

            .row-responsive{
                padding: 10px;
                display: block;
            }
            .row-container{
                width: 100%;
            }

            .work{
                padding: 40px 10px;
            }

            .work .how h2{
                text-align: center;
            }

            .work .how p{
                text-align: center;
                font-size: 14px;
            }

            .work .sometext-and-number .row .row-content{
                display: block;
            }

            .work .sometext-and-number .row .head-number h2{
                text-align: center;
            }

            .work .sometext-and-number .row .text{
                text-align: center;
            }

            .contactus-wrapper .contactus-form form .submit{
                display: flex;
                flex-wrap: wrap;
            }

            .profile-wrapper-none1{
                display: none;
            }

            .testimonial-content .testimonial-wrapper .card{
                padding: 0;
            }

            .testimonial-content .testimonial-wrapper .card p{
                text-align: center;
            }

            .number-percentage-wrapper .number-percentage-content{
                flex-wrap: wrap;
                width: 190px;
            }

            .contactus .contactus-wrapper .contactus-side{
                padding: 10px;
                width: 100%;
            }

            .contactus .contactus-wrapper{
                display: flex;
                flex-wrap: wrap;
                padding: 40px 10px;
            }

            .contactus .contactus-wrapper .contactus-form{
                width: 100%;
                padding: 40px;
            }

            .contactus .contactus-wrapper .contactus-form form .user-data input{
                width: 100%;
            }

            form .user-data{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            .contactus .contactus-wrapper .message{
                width: 100%;
                margin: 0;
                display: flex;
                justify-content: center;
            }

            .contactus-wrapper .contactus-form form .submit{
                margin: 12px;
            }
        }   
    /* End Responsive IPhone 12 Pro */